{% extends "base.html" %}
{% block title %}Error 404{% endblock %}
{% block breadcrumbactive %}Hata:404{% endblock %}
{% block hreflang %}{% block langlinkmobileen %}{% block langlinken %}{% block langlinkmobilede %}{% block langlinkde %}404.html{% endblock %}{% endblock %}{% endblock %}{% endblock %}{% endblock %}
{% block slider %}{% endblock %}

{% block content %}
			<section class="main-container jumbotron light-gray-bg text-center margin-clear">
				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-6 col-md-offset-3 pv-40">
							<h1 class="page-title"><span class="text-default">404</span></h1>
							<h3>Böyle bir sayfa bulunamadı!</h3>
							<p>Aradığınız sayfa bulunamadı. Lütfen adresin doğru yazıldığından emin olun ve terar deneyin.</p>
							<a class="btn btn-default btn-animated btn-lg" href="index.html">Anasayfa <i class="fa fa-home"></i></a>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
{% endblock %}