{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">About Us</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/about.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">About Us</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">We develop secure, scalable, high available, high performance computing and virtual productive system and network solutions for any kind of bussiness and research needs. We also develop and deliver high technology certification trainings for information technology area.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<div class="pv-20">
				<div class="container">
					<!-- main start -->
					<!-- ================ -->
					<div class="row">
						<div class="main col-md-10 col-md-offset-1 space-top">
							<p class="text-center">CompecTA Bilisim ve İletisim Hizmetleri Sanayi Ticaret Ltd. Sti. is established for serving IT consulting and integration purposes in the market in 2007. Our aim is to cover the lack of theoretical and practical knowledge on engineering services in IT sector.</p>
							<br>
							<p class="large text-center">"There isn’t any company who doesn’t require IT, instead, there are Companies who are not aware of IT requirement."</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="image-box style-3 mb-20 shadow bordered light-gray-bg mt-20">
								<div class="row grid-space-0">
									<!-- <div class="col-lg-4 col-md-5">
										<div class="overlay-container">
											<img src="images/portfolio-4.jpg" alt="">
										</div>
									</div> -->
									<div class="body">
										<div class="pv-10 visible-lg"></div>
										<h3>Vision</h3>
										<div class="separator-2"></div>
										<p class="margin-clear text-justify">CompecTA has two main visions. The first one is the consultancy and applications for system integration, secondly, the training of performed service based on a curriculum. Both visions are the integral part of each other. These visions are structured in a way that the relevant training is to take place after integrated solution is provided or the client may aware of his needs and may demand appropriate solutions as per the consequence of training given.The aim is to enable customer focused solutions during the engineering and consultancy service.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="image-box style-3 mb-20 shadow bordered light-gray-bg mt-20">
								<div class="row grid-space-0">
									<!-- <div class="col-lg-4 col-md-5">
										<div class="overlay-container">
											<img src="images/portfolio-4.jpg" alt="">
										</div>
									</div> -->
									<div class="body">
										<div class="pv-10 visible-lg"></div>
										<h3>Mission</h3>
										<div class="separator-2"></div>
										<p class="margin-clear text-justify">The purpose of CompecTA is to be aware of the need before the Client notices and to provide high technology solutions in accordance with the requirements. These solutions are the fruitful outcomes of the Research and Development activities. The service given to the Client which is known by him is already delayed service. IT demands analysed and discovered by CompecTA provides uninterrupted and more productive work process. We call this as “Preemptive Engineering”.</p>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- main end -->
				</div>
			</div>
			<!-- section end -->
{% endblock %}