{% extends "base.html" %}
{% block title %}Hakkımızda{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Anasayfa</a></li>
						<li class="active">Hakkımızda</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/about.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Hakkımızda</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Bütün iş ve Ar-Ge gereksinimlerinize uygun, güvenli, ölçeklenebilir, yüksek erişilebilirlik seviyesine sahip, yüksek başarımlı hesaplama, sanallaştırma ve ağ çözümleri geliştirmekteyiz.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<!-- main start -->
					<!-- ================ -->
					<div class="row">
						<div class="main col-md-10 col-md-offset-1 space-top">
							<p class="text-center">CompecTA Bilişim ve İletişim Hizmetleri Sanayi Ticaret Ltd. Şti. 2007'de bilgi teknolojileri alanında danışmanlık ve entegratörlük yapmak amacıyla kurulmuştur. Piyasadaki tecrübe ve teorik bilgi eksikliğini gidermek gibi bir misyon üstlenmiştir.</p>
							<br>
							<p class="large text-center">"BT (Bilgi Teknolojileri) ihtiyacı olmayan kuruluş yoktur, ihtiyaçlarından haberi olmayan kuruluşlar vardır."</p>
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row pv-20">
						<div class="col-md-6 space-bottom">
							<div class="image-box style-3 shadow">
								<div class="row grid-space-0">
									<div class="body">
										<div class="pv-10 visible-lg"></div>
										<h3>Vizyon</h3>
										<div class="separator-2"></div>
										<p class="margin-clear text-justify">CompecTA'nın vizyonu iki madde ile açıklanabilir; danışmanlık ve sistem entegratörlüğü ile verilen hizmetlere yönelik özel geliştirilmiş eğitimler. İki özellik de birbirleriyle bütünleşiktir ve müşterilerimiz biri aracılığıyla bizimle tanıştıktan sonra bir diğerine de ihtiyaç duyduğunu fark edebilir ve bunu talep edebilir. </p><br class="visible-lg">&nbsp;
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 space-bottom">
							<div class="image-box style-3 shadow">
								<div class="row grid-space-0">
									<div class="body">
										<div class="pv-10 visible-lg"></div>
										<h3>Misyon</h3>
										<div class="separator-2"></div>
										<p class="margin-clear text-justify">CompecTA muşterilerine çözüm sunarken, onların henüz farkında olamadıkları ya da göremedikleri şeyleri de görüp, müşterisinin çok daha fazla yarar sağlayacak şekilde çözümler kullanmasını sağlayabilmektedir. Bu bağlamda, kurumsal BT tecrübesi ve analiz becerisini tam olarak müşterisinin hizmetine sunar ve muşterisine kesintisiz ve eşsiz bir hizmet vermeyi amaçlar.</p>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- main end -->
				</div>
			</section>
			<!-- section end -->
{% endblock %}