{% extends "base.html" %}
{% block title %}High Performance Computing{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="solutions.html">Solutions</a></li>
						<li class="active">Cloud Computing</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/cloud.jpg'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Cloud Computing Solutions</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA helps its customers to design, procure and implement their public and/or private clouds with the most innovative and wisest techniques.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<section class="main-container">

				<div class="container">
					<div class="row">

						<div class="main col-md-12">
						<!-- main start -->
						<!-- ================ -->
							<h3 class="title text-center">Cloud Computing</h3>
							<div class="separator"></div>
							<div class="row">
								<div class="col-md-6">
									<p>CompecTA created its goals on cloud computing to provide innovative cloud based applications to support any size company on XaaS model. CompecTA helps its customers to design, procure and implement their public and/or private clouds with the most innovative and wisest techniques.</p>
								</div>
								<div class="col-md-6">
									<p>In cloud computing, anything can be considered as a service (XaaS: X as a Service. X stands for anything). Today, the actual implementations of the cloud computing encapsulates the following elements:</p>
								</div>
							</div>
							<div class="image-box style-3 mb-20 shadow bordered light-gray-bg mt-20">
								<div class="row grid-space-0">
									<!-- <div class="col-lg-4 col-md-5">
										<div class="overlay-container">
											<img src="images/portfolio-1.jpg" alt="">
										</div>
									</div> -->
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Client</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">A cloud client consists of computer hardware and/or computer software that relies on cloud computing for application delivery and that is in essence useless without it. Examples include some computers, phones and other devices, operating systems, and browsers.</p>
											<br>
										</div>
									</div>
								</div>
							</div>

							<div class="image-box style-3 mb-20 shadow bordered light-gray-bg mt-20">
								<div class="row grid-space-0">
									<!-- <div class="col-lg-4 col-md-5">
										<div class="overlay-container">
											<img src="images/portfolio-2.jpg" alt="">
										</div>
									</div> -->
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Application (SaaS)</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">Cloud application services or "Software as a Service (SaaS)" deliver software as a service over the Internet, eliminating the need to install and run the application on the customer's own computers and simplifying maintenance and support.</p>
											<br>
										</div>
									</div>
								</div>
							</div>

							<div class="image-box style-3 mb-20 shadow bordered light-gray-bg mt-20">
								<div class="row grid-space-0">
									<!-- <div class="col-lg-4 col-md-5">
										<div class="overlay-container">
											<img src="images/portfolio-3.jpg" alt="">
										</div>
									</div> -->
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Platform (PaaS)</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">Cloud platform services, also known as platform as a service (PaaS), deliver a computing platform and/or solution stack as a service, often consuming cloud infrastructure and sustaining cloud applications. It facilitates deployment of applications without the cost and complexity of buying and managing the underlying hardware and software layers.</p>
											<br>
										</div>
									</div>
								</div>
							</div>

							<div class="image-box style-3 mb-20 shadow bordered light-gray-bg mt-20">
								<div class="row grid-space-0">
									<!-- <div class="col-lg-4 col-md-5">
										<div class="overlay-container">
											<img src="images/portfolio-4.jpg" alt="">
										</div>
									</div> -->
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Infrastructure (IaaS)</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">Cloud infrastructure services, also known as "infrastructure as a service" (IaaS), deliver computer infrastructure – typically a platform virtualization environment – as a service, along with raw (block) storage and networking. Rather than purchasing servers, software, data-center space or network equipment, clients instead buy those resources as a fully outsourced service. Suppliers typically bill such services on a utility computing basis; the amount of resources consumed (and therefore the cost) will typically reflect the level of activity.</p>
											<br>
										</div>
									</div>
								</div>
							</div>

							<div class="image-box style-3 mb-20 shadow bordered light-gray-bg mt-20">
								<div class="row grid-space-0">
									<!-- <div class="col-lg-4 col-md-5">
										<div class="overlay-container">
											<img src="images/portfolio-4.jpg" alt="">
										</div>
									</div> -->
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Server</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">The servers layer consists of computer hardware and/or computer software products that are specifically designed for the delivery of cloud services, including multi-core processors, cloud-specific operating systems and combined offerings.</p>
											<br>
										</div>
									</div>
								</div>
							</div>

							<!-- <h5 class="title">Cloud Deployment Models</h5>
							<b>Public Cloud</b>
							<p>Public cloud describes cloud computing in the traditional mainstream sense, whereby resources are dynamically provisioned to the general public on a fine-grained, self-service basis over the Internet, via web applications/web services, from an off-site third-party provider who bills on a fine-grained utility computing basis.</p>
							<b>Community Cloud</b>
							<p>Community cloud shares infrastructure between several organizations from a specific community with common concerns (security, compliance, jurisdiction, etc.), whether managed internally or by a third-party and hosted internally or externally. The costs are spread over fewer users than a public cloud (but more than a private cloud), so only some of the benefits of cloud computing are realised.</p>
							<b>Hybrid Cloud</b>
							<p>Hybrid cloud is a composition of two or more clouds (private, community, or public) that remain unique entities but are bound together, offering the benefits of multiple deployment models.</p>
							<b>Private Cloud</b>
							<p>Private cloud is infrastructure operated solely for a single organization, whether managed internally or by a third-party and hosted internally or externally.</p> -->
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
{% endblock %}