{% extends "base.html" %}
{% block title %}Bulut Hesaplama{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Anasayfa</a></li>
						<li><a href="solutions.html">Çözümler</a></li>
						<li class="active">Bulut Hesaplama</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/cloud.jpg'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Bulut Hesaplama Çözümleri</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA genele açık ve/veya özel bulutların tasarım, temin ve uygulamalarında müşterilerine yenilikçi ve akılcı çözümler sunar.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="main col-md-12">
						<!-- main start -->
						<!-- ================ -->
							<h3 class="title text-center">Cloud Computing</h3>
							<div class="separator"></div>
							<div class="row">
								<div class="col-md-6">
									<p>CompecTA, herşeyin servis olarak verilebileceğinden hareket eden XaaS modeliyle, kurum büyüklüğünden bağımsız olarak yenilikçi bulut hesaplama uygulamaları ile müşterilerine tasarım, satın alma ve kurulum aşamalarında halka açık ya da özel bulutları için çözümler sunmaktadır.</p>
								</div>
								<div class="col-md-6">
									<p>Bulut hesaplamada her şey bir hizmet olarak düşünülebilir (XaaS: X Hizmet olarak; X herhangi bir şey). Günümüzde bulut hesaplama uygulamaları aşağıdaki unsurları kapsar:</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
							<div class="image-box style-3 mb-20 shadow bordered mt-20">
								<div class="row grid-space-0">
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>İstemci</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">Cloud tarafından hizmeti alacak olan her çeşit bilgisayar donanım ve yazılımlarıdır. Örnekler bazı bilgisayarları, telefonları ve diğer cihazları, işletim sistemlerini ve tarayıcıları içerir.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="image-box style-3 mb-20 shadow bordered mt-20">
								<div class="row grid-space-0">
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Uygulama (SaaS)</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">SaaS (Software as a Service) modelini temel alan bulut bilişim çözümlerinde, servisi internet üzerinden kullanıcıya sunan yazılım ya da yazılımlar bütünüdür. Bu modelde yazılımın kurulum ve bakım masraflarından müşteriler kurtulmuş olurlar.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="image-box style-3 mb-20 shadow bordered mt-20">
								<div class="row grid-space-0">
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Platform (PaaS)</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">Platform: Platform hizmeti, herhangi bir amaçla kullanılabilecek bir hesaplama platformunu hizmet olarak sunmaktır (PaaS: Platform as a Service). Bu modelde platformu oluşturan donanım ve yazılım bileşenlerinin satın alınması, bakım ve yönetimi gibi maliyetler müşterinin cebinden çıkmamış olur.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="image-box style-3 mb-20 shadow bordered mt-20">
								<div class="row grid-space-0">
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Altyapı (IaaS)</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">IaaS (Infrastucture as a Service) modelindeki sanallaştırılmış ya da fiziksel hesaplama kaynakları ile, gene sanallaştırılmış olsun ya da olmasın depolama ve ağ kaynaklarının altyapı hizmeti olarak sunulması ön plandadır. Genellikle kendileri platform geliştirmek isteyen ancak altyapi yatırımı yapmak istemeyenlerin hizmet almayı tercih edeceği bulut bilişim modelidir.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="image-box style-3 mb-20 shadow bordered mt-20">
								<div class="row grid-space-0">
									<div class="col-lg-10 col-lg-offset-1">
										<div class="body">
											<div class="pv-10 visible-lg"></div>
											<h3>Sunucu</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">Sunucular katmanı, çok çekirdekli işlemciler, buluta özgü işletim sistemleri ve  bulut hizmetlerinin sunumu için özel olarak tasarlanmış bilgisayar donanımı ve / veya bilgisayar yazılım ürünlerinden oluşur.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			{% include "getinfo.html" %}
{% endblock %}