{% extends "base.html" %}
{% block title %}İletişim{% endblock %}
{% block breadcrumbactive %}İletişim{% endblock %}
{% block hreflang %}{% block langlinkmobileen %}{% block langlinken %}{% block langlinkmobilede %}{% block langlinkde %}contact.html{% endblock %}{% endblock %}{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/contact.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2">
							<h1 class="page-title text-center">Bize Ulaşın</h1>
							<div class="separator"></div>
							<p class="text-center">Uzmanlarımız tüm sorularınıza cevap vermeye her zaman hazırdır. <br>Formu doldurarak veya eposta ile bize ulaşabilirsiniz.</p>
							<ul class="list-inline mb-20 text-center">
								<li><p class="lead"><i class="fa fa-phone pl-10 pr-10"></i>+90 (216) 455-1865</p></li>
								<li><a href="mailto:info@compecta.com" class="link-dark lead"><i class="fa fa-envelope-o pl-10 pr-10"></i>info@compecta.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
								<h5>Merkez</h5>
								<div class="separator"></div>
								<ul class="list">
									<li><i class="fa fa-home pr-10"></i>Yenişehir Mh. Özgür Sk. No:7 K:3 D:4 <br>Ataşehir / İSTANBUL</li>
									<li><i class="fa fa-phone pr-10"></i>+90 216 455-1865</li>
									<li><i class="fa fa-fax pr-10"></i>+90 216 455-3988</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
								<h5>Bursa Şube</h5>
								<div class="separator"></div>
								<ul class="list">
									<li><i class="fa fa-home pr-10"></i>Kırcaali Mh. 10.Şirin Sk. No:10 K:3 D:21<br> Osmangazi / BURSA</li>
									<li><i class="fa fa-phone pr-10"></i>+90 224 254-5254</li>
									<li><i class="fa fa-fax pr-10"></i>+90 224 253-5348</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
								<h5>Almanya Şube</h5>
								<div class="separator"></div>
								<ul class="list">
									<li><i class="fa fa-home pr-10"></i>Sperberweg 5, 65527<br> Niedernhausen / Germany</li>
									<li><i class="fa fa-phone pr-10"></i>+49 178 228-2337</li>
									<li><i class="fa fa-fax pr-10"></i>+90 216 455-3988</li>
								</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row space-bottom">
						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-6">
							<div class="contact-info">
								<h2>Bize Ulaşın</h2>
								<p>Herhangi bir sorunuz varsa veya teklif almak isterseniz, lütfen doğrudan e-posta veya telefon yoluyla bizimle iletişime geçmekten çekinmeyin. Ekibimiz size yardımcı olmaya hazırdır.</p>
								<div class="separator-2"></div>
								<ul class="list-icons">
									<li><i class="fa fa-envelope-o pr-10"></i> <a href="mailto:info@compecta.com">info@compecta.com</a></li>
									<li><i class="fa fa-phone pr-10"></i> +90 (216) 455-1865</li>
								</ul>
							</div>
						</div>
						<aside class="col-md-6">
							<div class="sidebar space-top">
								<div id="map-canvas"></div>
							</div>
						</aside>
					</div>
				</div>
			</section>
			<!-- section end -->
{% endblock %}
{% block extrajs %}
	<!-- Contact form -->
	<script src="plugins/jquery.validate.min.js"></script>
	<!-- Google Maps javascript -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDag09GWkmR_8mYkQv1-nXEkw0jRyXqJLY&callback=initMap"></script>
	<script type="text/javascript" src="js/google.map.config.js"></script>
{% endblock %}