{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">Contact</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/dunya.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Contact</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">IT professionals at CompecTA are always ready to reply all your inquiries. Please drop us a line from the contact form or send an email and we will get in touch with you shortly.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<div class="pv-20">
				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-7 space-bottom">
							<div id="MessageSent" class="alert alert-success hidden">
								We have received your message, we will contact you very soon.
							</div>
							<div id="MessageNotSent" class="alert alert-danger hidden">
								Oops! Something went wrong please refresh the page and try again.
							</div>
							<div class="contact-form">
								<form role="form" class="margin-clear" id="contact-form" novalidate="novalidate">
									<div class="form-group has-feedback">
										<label for="name">Name*</label>
										<input type="text" placeholder="" name="name" id="name" class="form-control">
										<i class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="email">Email*</label>
										<input type="email" placeholder="" name="email" id="email" class="form-control">
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="subject">Subject*</label>
										<input type="text" placeholder="" name="subject" id="subject" class="form-control">
										<i class="fa fa-navicon form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="message">Message*</label>
										<textarea placeholder="" name="message" id="message" rows="6" class="form-control"></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" class="submit-button btn btn-default" value="Submit">
								</form>
							</div>
						</div>
						<!-- main end -->

						<!-- sidebar start -->
						<!-- ================ -->
						<aside class="col-md-4 col-lg-offset-1">
							<div class="sidebar">
								<div class="side vertical-divider-left">
									<!-- <h3 class="title logo-font">The <span class="text-default">Project</span></h3> -->
									<div class="separator-2 mt-20"></div>
									<ul class="list">
										<li><i class="fa fa-home pr-10"></i>Yenişehir Mh. Barajyolu Cad. Özgür Sk.<br><span class="pl-20"> &nbsp;Tellioğlu Apt. No:7/4 Ataşehir/İSTANBUL</span></li>
										<li><i class="fa fa-phone pr-10"></i>+90 (216) 455-1865</li>
										<li><i class="fa fa-fax pr-10"></i>+90 (216) 455-3988</li>
										<li><i class="fa fa-envelope pr-10"></i><a href="mailto:info@compecta.com">info@compecta.com</a></li>
									</ul>
								</div>
							</div>
						</aside>
						<!-- sidebar end -->
					</div>
				</div>
			</div>
			<!-- section end -->
{% endblock %}