{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">Contact</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/contact.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2">
							<h1 class="page-title text-center">Contact Us</h1>
							<div class="separator"></div>
							<p class="text-center">IT professionals at CompecTA are always ready to reply all your inquiries. Please drop us a line from the contact form or send an email and we will get in touch with you shortly.</p>
							<ul class="list-inline mb-20 text-center">
								<li><p class="lead"><i class="fa fa-phone pl-10 pr-10"></i>+90 (216) 455-1865</p></li>
								<li><a href="mailto:info@compecta.com" class="link-dark lead"><i class="fa fa-envelope-o pl-10 pr-10"></i>info@compecta.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
								<h5>Headquarters</h5>
								<div class="separator"></div>
								<ul class="list">
									<li><i class="fa fa-home pr-10"></i>Yenişehir Mh. Barajyolu Cad. Özgür Sk. No:7 K:4 <br>Ataşehir / İSTANBUL</span></li>
									<li><i class="fa fa-phone pr-10"></i>+90 216 455-1865</li>
									<li><i class="fa fa-fax pr-10"></i>+90 216 455-3988</li>
								</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
								<h5>Bursa Branch</h5>
								<div class="separator"></div>
								<ul class="list">
									<li><i class="fa fa-home pr-10"></i>Kırcaali Mh. 10.Şirin Sk. No:10 K:3<br> Osmangazi / BURSA</span></li>
									<li><i class="fa fa-phone pr-10"></i>+90 224 254-5254</li>
									<li><i class="fa fa-fax pr-10"></i>+90 224 253-5348</li>
								</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row space-bottom">
						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-6">
							<div id="MessageSent" class="alert alert-success hidden">
								We have received your message, we will contact you as soon as possible.
							</div>
							<div id="MessageNotSent" class="alert alert-danger hidden">
								Oops! Something went wrong please refresh the page and try again.
							</div>
							<div class="contact-form">
								<form role="form" class="margin-clear" id="contact-form" novalidate="novalidate">
									<div class="form-group has-feedback">
										<label for="name">Name*</label>
										<input type="text" placeholder="" name="name" id="name" class="form-control">
										<i class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="email">Email*</label>
										<input type="email" placeholder="" name="email" id="email" class="form-control">
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="subject">Subject*</label>
										<input type="text" placeholder="" name="subject" id="subject" class="form-control">
										<i class="fa fa-navicon form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label for="message">Message*</label>
										<textarea placeholder="" name="message" id="message" rows="6" class="form-control"></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" class="submit-button btn btn-default" value="Submit">
								</form>
							</div>
						</div>
						<aside class="col-md-6">
							<div class="sidebar space-top">
								<div id="map-canvas"></div>
							</div>
						</aside>
					</div>
				</div>
			</section>
			<!-- section end -->
{% endblock %}
{% block extrajs %}
		<!-- Google Maps javascript -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;signed_in=true"></script>
		<script type="text/javascript" src="js/google.map.config.js"></script>
{% endblock %}