{% extends "base.html" %}
{% block title %}Yapay Zeka & Derin Öğrenme Çözümleri"{% endblock %}
{% block breadcrumbdropdown %}{% include "services.html" %}{% endblock %}
{% block breadcrumbactive %}Yapay Zeka & Derin Öğrenme{% endblock %}
{% block hreflang %}{% block langlinkmobileen %}{% block langlinken %}{% block langlinkmobilede %}{% block langlinkde %}deeplearning.html{% endblock %}{% endblock %}{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/deeplearning.jpg'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA Yapay Zeka & Derin Öğrenme Çözümleri</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
							Yüksek Başarımlı Hesaplama alanındaki bilgi birikimiz ile Derin Öğrenme ihtiyaçlarınınza özel çözümler sunuyoruz<br>
							Kullanıma hazır paket sistemler geliştiriyor ve desteğini veriyoruz, bunun yanında özel ihtiyaçlara yönelik özel sistemler tasarlıyoruz. 
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="lead">Derin öğrenme, bilgisayarların görseller, sesler ve metinler gibi sonsuz miktarda veriyi anlamasına yardımcı olan, en hızlı büyüyen yapay zeka alanıdır. Birden çok nöral ağ katmanını kullanan bilgisayarlar şimdi, karmaşık durumları en az insanlar kadar iyi görme, öğrenme ve onlara tepki verme becerisine sahiptir.</h3>
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA Derin Öğrenme ve Yapay Zeka (AI) Çözümleri</h3>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="overlay-container pv-10">
									<a href="dgxstation-a100.html"><img alt="" src="images/dgx-station-a100.jpg"></a>
								</div>
								<div class="body text-center">
									<a href="dgxstation-a100.html"><h3>NVIDIA <span class="text-default"><strong>DGX Station&trade; A100</strong></span></h3></a>
									<p><strong><em>AI Çalışma Grubu Çözümü</em></strong></p>
									<p>Veri merkezi gerektirmeyen, çalışma gruplarının tüm test ve geliştirme işleri için ideal bir sunucu sınıfı iş istasyonu çözümü.</p>
									<a class="btn btn-default btn-hvr hvr-shutter-out-horizontal mt-10" href="dgxstation-a100.html">Daha Fazla</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="overlay-container pv-10">
									<a href="dgx-a100.html"><img alt="" src="images/dgx-a100.jpg"></a>
								</div>
								<div class="body text-center">
									<a href="dgx-a100.html"><h3>NVIDIA <span class="text-default"><strong>DGX&trade; A100</strong></span></h3></a>
									<p><strong><em>Yapay Zeka Eğitimi, Çıkarım ve Analizleri</em></strong></p>
									<p>Tüm AI iş yükleri için özelleştirilmiş dünyanın en hızlı AI sistemi NVIDIA DGX'in üçüncü nesil çözümü.</p>
									<a class="btn btn-default btn-hvr hvr-shutter-out-horizontal mt-10" href="dgx-a100.html">Daha Fazla</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="overlay-container pv-10">
									<a href="dgx-h100.html"><img alt="" src="images/dgx-h100.jpg"></a>
								</div>
								<div class="body text-center">
									<a href="dgx-h100.html"><h3>NVIDIA <span class="text-default"><strong>DGX&trade; H100 </strong><sup class="badge badge-red">YAKINDA</sup></span></h3></a>
									<p><strong><em>Dünyanın En Güçlü Yapay Zeka Platformu</em></strong></p>
									<p>Yapay Zeka ile ilgili en büyük zorlukları çözmek için geliştirilmiş ve ölçeklenebilir bir platform sağlayan NVIDIA DGX sistemlerinin en yeni üyesi.</p>
									<a class="btn btn-default btn-hvr hvr-shutter-out-horizontal mt-10" href="dgx-h100.html">Daha Fazla</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
									<a href="novamini.html"><h3>CompecTA <span class="text-default"><strong>Nova Engine Mini</strong>&trade;</span><span class="hidden-md hidden-xs"></span></h3></a>
									<a href="nova.html"><h3>CompecTA <span class="text-default"><strong>Nova Engine</strong>&trade;</span><span class="hidden-md hidden-xs"></span></h3></a>
									<p><strong><em>Masanıza sığan Derin Öğrenme İş İstasyonları</em></strong></p>
									<div class="overlay-container pv-10">
										<a href="nova.html"><img alt="" src="images/novalar.jpg"></a>
									</div>
									<p>CompecTA Nova Engine&trade; masanıza koyabileceğiniz <strong><em>hepsi bir arada, güçlü ve sessiz çalışan</em></strong> Derin Öğrenme çözümüdür.</p>
									<a class="btn btn-default btn-hvr hvr-shutter-out-horizontal mt-10" href="nova.html">Daha Fazla</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
									<a href="supernova.html"><h3>CompecTA <span class="text-default"><strong>SuperNova Engine</strong>&trade;</span></h3></a>
									<a href="supernovax.html"><h3>CompecTA <span class="text-default"><strong>SuperNova Engine X</strong>&trade;</span></h3></a>
									<p><strong><em>Süper-hızlı & Ölçeklenebilir Derin Öğrenme Sunucu Sistemleri</em></strong></p>
									<div class="overlay-container pv-10">
										<a href="supernova.html"><img alt="" src="images/supernova.jpg"></a>
									</div>
									<p>CompecTA SuperNova Engine&trade; Derin Öğrenme ihtiyaçlarınıza özel <strong><em>süper-hızlı ve enerji verimli</em></strong> sunucu çözümüdür.<span class="visible-md">&nbsp;</span></p>
									<a class="btn btn-default btn-hvr hvr-shutter-out-horizontal mt-10" href="supernova.html">Daha Fazla</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA Derin Öğrenme Küme Sistemleri</h3>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-12">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<div class="row">
										<div class="col-md-5">
											<div class="overlay-container pv-10">
												<img class="hidden-md" alt="" src="images/racks.jpg">
												<img class="visible-md" alt="" src="images/racks-2.jpg">
											</div>
											<span class="space-bottom visible-sm visible-xs"></span>
										</div>
										<div class="col-md-7">
											<h3>Yüksek Başarımlı <span class="text-default"><strong>Derin Öğrenme Kümeleri</strong></span></h3>
											<p><strong><em>İhtiyaçlarınıza özel çözümler tasarlıyoruz</em></strong></p>
											<div class="separator-2"></div>
											<p>Alanında 20 yıllık tecrübeye sahip olan CompecTA, özel ihtiyaçlarınız için Yüksek Başarımlı Derin Öğrenme Kümeleri sunar. Uygulamalarınız için özel olarak tasarlanır ve optimize edilir.</p>
											<p>Kümenizi tasarlar, geliştirir ve uygularız. Ancak asıl sorunun bir kümenin sürekli operasyonunu sürdürmek olduğunu biliyoruz. Bu nedenle, sistem yönetimi ve uygulama seviyesi kullanıcı desteğini kapsayan kurumsal düzeyde destek sunuyoruz. Siz sadece işinize odaklanabilirsiniz.</p>
											<p><a href="mailto:info@compecta.com">Daha fazla bilgi al</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row space-bottom">
						<div class="col-md-12">
							<h3>Derin Öğrenme Hakkında</h3>
							<div class="separator-2"></div>
						</div>
						<div class="col-md-6">
							<p>Geleneksel makine öğrenimi, elle yazılan öznitelik çıkarımı ve imge etiketleme veya sesleri tanımak için modaliteye özgü makine öğrenme algoritmaları kullanır. Bununla birlikte, bu yöntem hem çözüme ulaşma süresi hem de doğruluk açısından birkaç dezavantaja sahiptir.</p>
							<p>Günümüzün gelişmiş derin sinir ağları, algoritmaları, büyük verileri ve bu dinamiği değiştirmek için GPU'nun hesaplama gücünü kullanıyor. Makineler, şimdi gerçek yapay zeka ve AI Hesaplamayı <strong>yüksek hız, doğruluk ve ölçekte</strong> öğrenebiliyorlar.</p>
						</div>
						<div class="col-md-6">
							<p>Derin öğrenme, bilimsel araştırmalarda ve endüstride, <strong>görüntü işleme, konuşma algılama ve doğal dil işleme</strong> gibi birçok büyük veri sorununu çözmeye yardımcı olmak için kullanılır.</p>
							<p>CompecTA Derin Öğrenme Çözümleri, pek çok bilimsel araştırmacı ve geliştirici tarafından güvenle derin öğrenme buluşlarında başarının anahtarı olarak kullanılmaktadır.</p>
						</div>
						<div class="col-sm-12">
							<h3>Uygulama Alanları</h3>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-3 hidden-sm">
							<ul>
								<li>Resim Tanıma</li>
								<li>Hareket Tanıma</li>
								<li>Yüz Tanıma</li>
							</ul>
						</div>
						<div class="col-sm-3 hidden-sm">
							<ul>
								<li>Sinir Ağı</li>
								<li>Biyoenformatik</li>
								<li>Nesne Tanıma</li>
							</ul>
						</div>
						<div class="col-sm-3 hidden-sm">
							<ul>
								<li>Konuşma Tanıma</li>
								<li>Mimari Geliştirme</li>
								<li>Büyük Veri Analizleri</li>
							</ul>
						</div>
						<div class="col-sm-3 hidden-sm">
							<ul>
								<li>Doğal Dil İşleme</li>
								<li>Makine Öğrenme Algoritmaları</li>
								<li>IoT Sensör İşleme</li>
							</ul>
						</div>
						<div class="col-sm-6 visible-sm">
							<ul>
								<li>Resim Tanıma</li>
								<li>Hareket Tanıma</li>
								<li>Yüz Tanıma</li>
								<li>Sinir Ağı</li>
								<li>Biyoenformatik</li>
								<li>Nesne Tanıma</li>
							</ul>
						</div>
						<div class="col-sm-6 visible-sm">
							<ul>
								<li>Konuşma Tanıma</li>
								<li>Mimari Geliştirme</li>
								<li>Büyük Veri Analizleri</li>
								<li>Doğal Dil İşleme</li>
								<li>Makine Öğrenme Algoritmaları</li>
								<li>IoT Sensör İşleme</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}