{% extends "base.html" %}
{% block title %}Deep Learning & Machine Learning Solutions{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="solutions.html">Solutions</a></li>
						<li class="active">Deep Learning</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/deeplearning.jpg'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA Deep Learning Solutions & Services</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
							We offer our years of experience in High Performance Computing for your Deep Learning needs.<br>
							We develop and support ready-to-use systems and also design tailor-made clusters for your specific needs.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="lead">Deep Learning is the fastest-growing field in machine learning. It uses many-layered Deep Neural Networks (DNNs) to learn levels of representation and abstraction that make sense of data such as images, sound and text.</h3>
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA Deep Learning Solutions</h3>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
									<a href="nova.html"><h3>CompecTA <span class="text-default"><strong>Nova Engine</strong>&trade;</span><span class="hidden-md hidden-xs"><br>&nbsp;</span></h3></a>
									<p><em>Deep Learning machine that fits under your desk</em></p>
									<div class="overlay-container pv-10">
										<a href="nova.html"><img alt="" src="images/nova.jpg"></a>
									</div>
									<p>CompecTA Nova Engine&trade; is an <strong><em>all-in-one, powerful, energy-efficient, cool, and quiet</em></strong> deskside solution for Deep Learning needs.</p>
									<a class="btn btn-default" href="nova.html">More Info</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
									<a href="supernova.html"><h3>CompecTA <span class="text-default"><strong>SuperNova Engine</strong>&trade;</span></h3></a>
									<p><em>Super-fast & Scalable Deep Learning Server Systems</em></p>
									<div class="overlay-container pv-10">
										<a href="supernova.html"><img alt="" src="images/supernova.jpg"></a>
									</div>
									<p>CompecTA SuperNova Engine&trade; is a <strong><em>super-fast and energy-efficient</em></strong> server solution for Deep Learning needs.<span class="visible-md">&nbsp;</span></p>
									<a class="btn btn-default" href="supernova.html">More Info</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body text-center">
									<a href="dgx-1.html"><h3>NVIDIA DGX-1 <span class="text-default"><strong>Deep Learning System</strong></span></h3></a>
									<p><em>The World’s First AI Supercomputer in a Box</em></p>
									<div class="overlay-container pv-10">
										<a href="dgx-1.html"><img alt="" src="images/dgx-1.jpg"></a>
									</div>
									<p>CompecTA also offers NVIDIA DGX-1, <strong><em>World’s Fastest Deep Learning Supercomputer</em></strong> driving 170 TFlops performance in a single box.</p>
									<a class="btn btn-default" href="dgx-1.html">More Info</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA Deep Learning Cluster Solutions</h3>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-12">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<div class="row">
										<div class="col-md-5">
											<div class="overlay-container pv-10">
												<img class="hidden-md" alt="" src="images/racks.jpg">
												<img class="visible-md" alt="" src="images/racks-2.jpg">
											</div>
											<span class="space-bottom visible-sm visible-xs"></span>
										</div>
										<div class="col-md-7">
											<h3>High Performance <span class="text-default"><strong>Deep Learning Clusters</strong></span></h3></a>
											<p><em>Tailor-made for your specific needs</em></p>
											<div class="separator-2"></div>
											<p>CompecTA, wielding it's over 20 years of experience in the field, offers High Performance Deep Learning Clusters for your specific needs. Tailor-made and optimized
											for your application.</p>
											<p>We design, develop and deploy your cluster. But we know that the real problem is to sustain a clusters' continous operation. That's why we offer enterprise-level
											support, covering system administration and application level user support. What's left to you is to only run your jobs.</p>
											<p><a href="mailto:info@compecta.com">Get more information</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row space-bottom">
						<div class="col-md-12">
							<h3>About Deep Learning</h3>
							<div class="separator-2"></div>
						</div>
						<div class="col-md-6">
							<p>Traditional machine learning uses <strong><em>handwritten feature extraction and modality-specific machine learning algorithms</em></strong> to label images or recognize voices. However, this method has several drawbacks in both time-to-solution and accuracy.</p>
							<p>Today’s advanced deep neural networks use algorithms, big data, and the computational power of the GPU to change this dynamic. Machines are now able to learn at a <strong><em>speed, accuracy, and scale</em></strong> that are driving true artificial intelligence and AI Computing.</p>
						</div>
						<div class="col-md-6">
							<p>Deep learning is used in the research community and in industry to help solve many big data problems such as <strong><em>computer vision, speech recognition, and natural language processing.</em></strong></p>
							<p>CompecTA Deep Learning Solutions are <strong><em>used and trusted by many researchers and developers</em></strong> as the key to succes in deep learning breakthroughs.</p>
						</div>
						<div class="col-sm-12">
							<h3>Application Areas</h3>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-3 hidden-sm">
							<ul>
								<li>Image Recognition</li>
								<li>Action Recognition</li>
								<li>Facial Recognition</li>
							</ul>
						</div>
						<div class="col-sm-3 hidden-sm">
							<ul>
								<li>Neural Network</li>
								<li>Bioinformatics</li>
								<li>Object Recognition</li>
							</ul>
						</div>
						<div class="col-sm-3 hidden-sm">
							<ul>
								<li>Speech Recognition</li>
								<li>Architecture Development</li>
								<li>Big Data Insights</li>
							</ul>
						</div>
						<div class="col-sm-3 hidden-sm">
							<ul>
								<li>Natural Language Processing</li>
								<li>Machine Learning Algorithms</li>
								<li>IoT Sensor Processing</li>
							</ul>
						</div>
						<div class="col-sm-6 visible-sm">
							<ul>
								<li>Image Recognition</li>
								<li>Action Recognition</li>
								<li>Facial Recognition</li>
								<li>Neural Network</li>
								<li>Bioinformatics</li>
								<li>Object Recognition</li>
							</ul>
						</div>
						<div class="col-sm-6 visible-sm">
							<ul>
								<li>Speech Recognition</li>
								<li>Architecture Development</li>
								<li>Big Data Insights</li>
								<li>Natural Language Processing</li>
								<li>Machine Learning Algorithms</li>
								<li>IoT Sensor Processing</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}