{% extends "base.html" %}
{% block title %}NVIDIA DGX H100 Kurumsal AI için dünyanın seçimi!{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}NVIDIA DGX&trade; H100{% endblock %}
{% block hreflang %}{% block langlinkmobileen %}{% block langlinken %}{% block langlinkmobilede %}{% block langlinkde %}dgx-h100.html{% endblock %}{% endblock %}{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner pv-40" style="background-image:url('images/banners/dgx-h100.jpg'); background-position: 58% 75%;">
				<div class="container pv-40">
					<div class="row">
						<div class="col-md-12 pv-20">
							<h2 class="title text-white object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA DGX&trade; H100</h2>
							<p class="object-non-visible text-white lead" data-animation-effect="fadeIn" data-effect-delay="200">Yapay Zeka altyapısı için "Altın Standart"</p>
							<div class="pv-20">
								<a href="contact.html" class="btn btn-red btn-hvr hvr-shutter-out-horizontal margin-clear">BİLGİ AL</a>
								<a href="https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/nvidia-dgx-h100-datasheet.pdf" class="btn btn-dark btn-hvr hvr-shutter-out-horizontal margin-clear" target="_blank">ÜRÜN BROŞÜRÜ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container text-center">

					<div class="row">
						<div class="col-md-12">
							<div class="pv-30">
								<h2 class="text-default">KURUMSAL YAPAY ZEKA ÇÖZÜMLERİ İÇİN DÜNYANIN  SEÇİMİ</h2>
								<div class="separator"></div>
								<p class="lead">NVIDIA DGX™ H100 ile iş inovasyonu ve optimizasyonunun sınırlarını genişletin. NVIDIA'nın efsanevi DGX sistemlerinin en yeni üyesi ve NVIDIA DGX SuperPOD™'un temeli olan DGX H100, NVIDIA H100 Tensor Core GPU'nun çığır açan performansıyla yapay zekayı hızlandırılan güç merkezidir.</p>
							</div>
						</div>
					</div><!-- /row -->  

				</div><!-- /container -->
			</section>
			<section class="light-gray-bg border-top">
				<div class="container pv-30">
					<div class="row">
						<div class="col-md-12 space-bottom">
							<h2 class="text-center text-default">HER ŞEYİ İLE BÜTÜN BİR YAPAY ZEKA PLATFORMU</h2>
							<div class="separator"></div>
						</div>
						<div class="col-md-4">
							<div class="imgwidth"><img alt="" src="images/dgx-h100-benefits-1.svg"></div>
							<h5 class="mt-20">YAPAY ZEKA MERKEZİNİN YAPI TAŞI<br>&nbsp;</h5>
							<div class="separator-2"></div>
							<p>DGX H100, dünyanın önde gelen amaca yönelik yapay zeka altyapısının dördüncü nesil ürünüdür. Yeni NVIDIA AI yazılım çözümleri yelpazesi için destek içeren tamamen optimize edilmiş bir donanım ve yazılım platformuna, zengin bir üçüncü taraf desteğine ve NVIDIA profesyoneline desteğine sahiptir.</p>
						</div>
						<div class="col-md-4">
							<div class="imgwidth"><img alt="" src="images/dgx-h100-benefits-2.svg"></div>
							<h5 class="mt-20">BÜYÜK ÖLÇEKLİ AI İÇİN ENGELLERİ AŞIN<br>&nbsp;</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX H100, NVIDIA DGX SuperPOD ile 6 kat daha fazla performans, 2 kat daha hızlı ağ iletişimi ve yüksek hızlı ölçeklenebilirlik sunar. Yeni nesil mimari, Doğal Dil İşleme (NLP) ve Derin Öğrenme (Deep Learninf) öneri modelleri gibi en büyük iş yükleri için güçlendirilmiştir.</p>
						</div>
						<div class="col-md-4">
							<div class="imgwidth"><img alt="" src="images/dgx-h100-benefits-1.svg"></div>
							<h5 class="mt-20">ŞARTLARINIZA UYGUN LİDER ALT YAPI</h5>
							<div class="separator-2"></div>
							<p>DGX H100 doğrudan yönetim için şirket içinde kurulabilir, NVIDIA DGX-Ready veri merkezlerinde bir arada bulunabilir, NVIDIA DGX Foundry'de kiralanabilir ve NVIDIA sertifikalı yönetilen hizmet sağlayıcılar aracılığıyla erişilebilir. Ve DGX-Ready Lifecycle Management ile kuruluşlar, dağıtımlarını en üst düzeyde tutmak için öngörülebilir bir finansal model elde ederler.</p>
						</div>
					</div><!-- /row -->  
				</div><!-- /container -->
			</section>
			<section class="black-bg border-top">
				<div class="container pv-40">
					<h1 class="text-center text-white pv-20">DGX H100'ü KEŞFEDİN</h1>
					<div class="row">
						<div class="col-sm-12 col-md-5 col-md-offset-1 mt30-xs">					
							<div class="pv-40">
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>640 GIGABYTE TOPLAM GPU HAFIZASIYLA 8X NVIDIA H100 GPU</strong></span><br>
									GPU başına 18x NVIDIA® NVLink® bağlantısı, saniyede 900 gigabayt GPU-GPU çift yönlü bant genişliği
								</p>
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>4x NVIDIA NVSWITCH™</strong></span><br>
									Saniyede 7,2 terabayt çift yönlü GPU-GPU bant genişliği, önceki nesle göre 1,5 kat daha fazla
								</p>
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>8X NVIDIA CONNECTX®-7 VE 2X NVIDIA BLUEFIELD® DPU 400 SANİYE BAŞINA GIGABITS AĞ ARAYÜZÜ</strong></span><br>
									Saniyede 1 terabayt en yüksek çift yönlü ağ bant genişliği
								</p>
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>ÇİFT X86 İŞLEMCİ VE 2 TERABYTE SİSTEM BELLEĞİ</strong></span><br>
									En yoğun AI işleri için güçlü CPU'lar
								</p>
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>30 TERABYTES NVME SSD</strong></span><br>
									Maksimum performans için yüksek hızlı depolama
								</p>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<img alt="NVIDIA DGX-H100" src="images/dgx-h100-components.jpg">
						</div>
					</div><!-- /row -->  
				</div><!-- /container -->
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}