{% extends "base.html" %}
{% block title %}NVIDIA DGX A100 Evrensel Yapay Zeka Sistemi{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}NVIDIA DGX&trade; A100{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}dgx-a100.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner pv-40" style="background-image:url('images/banners/dgx-a100-2.jpg'); background-position: 55% 75%;">
				<div class="container pv-40">
					<div class="row">
						<div class="col-md-12 pv-20">
							<h2 class="title text-white object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA DGX&trade; A100</h2>
							<p class="object-non-visible lead" data-animation-effect="fadeIn" data-effect-delay="200">Evrensel Yapay Zeka Sistemi</p>
							<div class="pv-20">
								<a href="contact.html" class="btn btn-default btn-hvr hvr-shutter-out-horizontal margin-clear">SATIN ALMA</a>
								<a href="https://images.nvidia.com/aem-dam/Solutions/Data-Center/nvidia-dgx-a100-datasheet.pdf" class="btn btn-dark btn-hvr hvr-shutter-out-horizontal margin-clear" target="_blank">ÜRÜN BROŞÜRÜ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container text-center">

					<div class="row">
						<div class="col-md-12">
							<div class="pv-30">
								<h2 class="text-default">NVIDIA A100 BARINDIRAN DÜNYANIN İLK YAPAY ZEKA SİSTEMİ</h2>
								<div class="separator"></div>
								<p class="lead">NVIDIA DGX™ A100, dünyanın ilk 5 petaFLOPS AI sisteminde benzeri görülmemiş bir işlem performansı ve esneklik sunan tüm AI iş yükleri için evrensel bir sistemdir. NVIDIA DGX A100, dünyanın en gelişmiş hızlandırıcısı olan NVIDIA A100 Tensor Core GPU'ya sahiptir ve kuruluşların Yapay Zeka Eğitim, Çıkarım ve Analizleri için NVIDIA AI uzmanlarına doğrudan erişim içeren birleşik, kurulumu kolay bir AI altyapısında birleştirmesini sağlar.</p>
							</div>
							<iframe frameborder="0" name="1645679168727" allow="allowfullscreen" src="https://www.youtube.com/embed/MY7jZGZw9vA" class="youtube-video" allowfullscreen></iframe>
						</div>
					</div><!-- /row -->  

				</div><!-- /container -->
			</section>
			<section class="light-gray-bg border-top">
				<div class="container pv-30">

					<div class="row">
						<div class="col-md-12 space-bottom">
							<h2 class="text-center text-default">AI VERİ MERKEZİ İÇİN TEMEL YAPI TAŞI</h2>
							<div class="separator"></div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="imgwidth"><img alt="" src="images/dgx-a100-benefits-1.svg"></div>
							<h5 class="mt-20">HER AI İŞ YÜKÜ İÇİN EVRENSEL SİSTEM</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX A100, analitikten eğitime ve çıkarıma kadar tüm Yapay Zeka altyapısı için evrensel bir sistemdir. 5 petaFLOPS yapay zeka performansını 6U form faktörüne sığdırarak, eski altyapı silolarını her yapay zeka iş yükü için tek bir platformla değiştirerek veri merkezei yoğunluğu için yeni bir çıta oluşturuyor.</p>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="imgwidth"><img alt="" src="images/dgx-a100-benefits-2.svg"></div>
							<h5 class="mt-20">DGXPERTS: AI UZMANLARINA DOĞRUDAN ERİŞİM</h5>
							<div class="separator-2"></div>
							<p><a href="https://www.nvidia.com/en-us/data-center/dgxperts" class="text-default" target="_blank">NVIDIA DGXperts</a>, DGX yatırımınızın değerini en üst düzeye çıkarmanıza yardımcı olmak için son on yılda zengin bir deneyime sahip 16.000'den fazla Yapay Zeka uzmanlarından oluşan küresel bir ekiptir.<br>&nbsp; <br>&nbsp; <br>&nbsp;</p>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="imgwidth"><img alt="" src="images/dgx-a100-benefits-3.svg"></div>
							<h5 class="mt-20">ÇÖZÜME GİDEN EN HIZLI YOL <br>&nbsp;</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX A100, NVIDIA A100 Tensor Core GPU üzerine kurulu dünyanın ilk yapay zeka sistemidir. Sekiz A100 GPU'yu 640 GB'a kadar GPU belleğiyle entegre eden sistem, benzeri görülmemiş bir hızlanma sağlar ve <a href="https://www.nvidia.com/en-us/technologies/cuda-x/" class="text-default">NVIDIA CUDA-X<sup>™</sup></a> yazılımı ve uçtan uca <a href="https://www.nvidia.com/en-us/data-center/solutions/" class="text-default" target="_blank">NVIDIA Datacenter</a> çözüm yığını için tamamen optimize edilmiştir.</p>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="imgwidth"><img alt="" src="images/dgx-a100-benefits-4.svg"></div>
							<h5 class="mt-20">EŞSİZ VERİ MERKEZİ SEVİYESİ ÖLÇEKLENEBİLİRLİK</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX A100, saniyede 500 gigabayt (GB/sn) hızında en yüksek çift yönlü bant genişliğine sahip Mellanox ConnectX-6 VPI HDR InfiniBand/Ethernet ağ adaptörlerine sahiptir. Bu, DGX A100'ü, ölçeklenebilir yapay zeka altyapısı için kurumsal çözümümü olan <a href="https://www.nvidia.com/en-us/data-center/resources/nvidia-dgx-superpod-reference-architecture/" target="_blank" lass="text-default">NVIDIA DGX SuperPOD<sup>™</sup></a> gibi büyük yapay zeka kümeleri için temel yapı taşı yapan birçok özellikten biridir.</p>
						</div>
					</div><!-- /row -->  

				</div><!-- /container -->
			</section>
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-12 space-bottom">
							<h2 class=" text-center text-default">Görülmemiş Yapay Zeka Performansı</h2>
							<div class="separator"></div>
						</div>
						<div class="col-md-4 text-center">
							<h3 class="text-default">EĞİTİM</h3>
							<h6>DLRM eĞİTİMİ</h6>
							<p>En Büyük Modellerde Yapay Zeka Eğitimi için 3 Kat Daha Yüksek Başarım</p>
							<img class="" alt="NVIDIA DGX-A100" src="images/dgx-a100-performance-1.png">
							<p class="text-small text-grey text-left">DLRM on HugeCTR framework, precision = FP16 | 1x DGX A100 640GB batch size = 48 | 2x DGX A100 320GB batch size = 32 | 1x DGX-2 (16x V100 32GB) batch size = 32. Speedups Normalized to Number of GPUs.</p>
						</div>
						<div class="col-md-4 text-center">
							<h3 class="text-default">ÇIKARIM</h3>
							<h6>RNN-T Çıkarımı: Tek Akış</h6>
							<p>AI Çıkarımı için 1,25 Kat'a Kadar Daha Yüksek Başarım <br>&nbsp;</p>
							<img class="" alt="NVIDIA DGX-A100" src="images/dgx-a100-performance-2.png">
							<p class="text-small text-grey text-left">MLPerf 0.7 RNN-T measured with (1/7) MIG slices. Framework: TensorRT 7.2, dataset = LibriSpeech, precision = FP16. </p>
						</div>
						<div class="col-md-4 text-center">
							<h3 class="text-default">VERİ ANALİZİ</h3>
							<h6>Büyük Veri Analizi Karşılaştırması</h6>
							<p>CPU'dan 83 Kat'a Kadar Daha Yüksek Verim, DGX A100 320GB'dan 2 Kat Daha Yüksek Verim</p>
							<img class="" alt="NVIDIA DGX-A100" src="images/dgx-a100-performance-3.png">
							<p class="text-small text-grey text-left">Big data analytics benchmark |  30 analytical retail queries, ETL, ML, NLP on 10TB dataset | CPU: 19x Intel Xeon Gold 6252 2.10 GHz, Hadoop | 16x DGX-1 (8x V100 32GB each), RAPIDS/Dask | 12x DGX A100 320GB and 6x DGX A100 640GB, RAPIDS/Dask/BlazingSQL. Speedups Normalized to Number of GPUs</p>
						</div>
					</div>
				</div>
			</section>
			<section class="darker-bg border-top">
				<div class="container pv-40">

					<h2 class="text-center text-default pv-20 mb-20">DGX A100'ÜN GÜÇLÜ BİLEŞENLERİNİ KEŞFEDİN</h2>
					<div class="row pv-40">

						<div class="col-sm-12 col-md-5 mt30-xs">					
							<div class="mt-10">							
								<p><span class="default-bg circle">&nbsp;1&nbsp;</span><span style="text-transform: uppercase;"> <span class="text-default pl-5"><strong> 640 GB'A KADAR TOPLAM GPU HAFIZASIYLA 8X NVIDIA A100 GPU</strong></span></span><br> 12 NVLinks/GPU, 600 GB/sn GPU'dan GPU'ya Çift Yönlü Bant Genişliği<br> </p>
							</div>
							<div class="mt-20">
								<p><span class="default-bg circle">&nbsp;2&nbsp;</span><span style="text-transform: uppercase;"> <span class="text-default pl-5"><strong> 6x NVIDIA NVSwitch</strong></span></span><br> 4,8 TB/sn Çift Yönlü Bant Genişliği, Önceki Nesil NVSwitch'ten 2 Kat Daha Fazla<br> </p>
							</div>
							<div class="mt-20">
								<p><span class="default-bg circle">&nbsp;3&nbsp;</span> <span class="text-default pl-5"><strong> 10X MELLANOX CONNECTX-6 200 Gb/s AĞ ARAYÜZÜ</strong></span><br> 500 GB/sn Çift Yönlü En Yüksek Bant Genişliği</p>
							</div>
							<div class="mt-20">
								<p><span class="default-bg circle">&nbsp;4&nbsp;</span> <span style="text-transform: uppercase;"><span class="text-default pl-5"><strong> Çift 64-Çekirdekli AMD İşlemci ve 2TB Sistem Belleği</strong></span></span><br> En Yoğun Yapay Zeka İşlerini Güçlendirmek için 3,2 Kat Daha Fazla İşlemci Çekirdeği</p>
							</div>
							<div class="mt-20">
								<p><span class="default-bg circle">&nbsp;5&nbsp;</span> <span style="text-transform: uppercase;"><span class="text-default pl-5"><strong> 30 TB Gen4 NVME SSD Diskleri</strong><span style="text-transform: lowercase;"></span></span></span><br> 50 GB/sn En Yüksek Bant Genişliği ile Gen3 NVME SSD'lerden 2 Kat Daha Hızlı<br> </p>
							</div>
						</div>
						<div class="col-sm-12 col-md-7">
							<img class="" alt="NVIDIA DGX-A100" src="images/dgx-a100-components.jpg">
						</div>

					</div><!-- /row -->  

				</div><!-- /container -->
			</section>
			<section class="dull-width-section pv-20 border-clear">
				<div class="container pv-40">

					<div class="row">
						<div class="col-sm-6 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Hızlı ve Kolay Kurulum</h5>
							<div class="separator-2"></div>
							<p>Anahtar teslimi NVIDIA DGX A100 sistemi tak ve çalıştır kurulumu sağlar ve dakikalar içinde yapay zekaya için hazırdır. Yapay zeka altyapısı yeniden tasarlandı, optimize edildi ve kurumsal yapay zeka işleri için hazır hale getirildi. Kuruluşunuzda yapay zekanın kilidini bugün açın!</p>
							<a class="link-default" target="_blank" href="https://images.nvidia.com/aem-dam/Solutions/Data-Center/nvidia-dgx-a100-datasheet.pdf">Veri Sayfasını İndirin (PDF)</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Rekabette Bir Adım Önde Olun</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX A100, her Yapay Zeka iş yükü için en hızlı çözümleri sunan temel araç olacak şekilde tasarlanmıştır. Aynı sistem üzerinde veri analizi, eğitim ve çıkarım iş yüklerini çalıştırın.</p>
							<a class="link-default" target="_blank" href="https://images.nvidia.com/aem-dam/Solutions/Data-Center/nvidia-dgx-a100-infographic.pdf">Bilgi grafiğine göz atın (PDF)</a>
						</div>
						<div class="col-sm-12 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Yatırımınızı Maksimize Edin</h5>
							<div class="separator-2"></div>
							<p>Üretkenliği artırmak ve sistem arıza süresini azaltmak için ihtiyacınız olan desteği alın. Donanım ve yazılım desteği, NVIDIA derin öğrenme uzmanlığına erişmenizi sağlar ve bulut yönetimi hizmetlerini, yazılım yükseltmelerini ve güncellemelerini ve kritik sorunlarınızın öncelikli çözümünü içerir.</p>
							<a class="link-default" href="" data-toggle="modal" data-target="#SupportModal">Destek Hakkında Daha Fazla Bilgi Edinin</a>
						</div>

					</div>  

				</div><!-- /container -->
			</section>
			<section class="light-gray-bg border-top">
				<div class="container mb-20">

					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1 space-bottom">
							<span class="space-top visible-xs visible-sm"></span>
							<h3 class="text-center space-top">Hemen NVIDIA DGX A100 Siparişi Verin</h3>
							<div class="separator"></div>
							<p class="text-center">Dünyanın En Hızlı Yapay Zeka Derin Öğrenme Platformu NVIDIA® DGX-1™ V100 Edition <strong>Kiralama & Satın Alma</strong> seçenekleri ile Akademik ve Ticari Araştırmalar için hizmetinize sunulmuştur.</p>
							<p class="text-center"><em>NVIDIA Akademik indirimleri mevcuttur. Uygunluk gereksinimleri ve yasal hüküm ve koşullar için lütfen iletişime geçin.</em></p>
							<div class="row">
								<div class="col-sm-5 col-sm-offset-1">
									<span class="space-top visible-xs visible-sm"></span>
									<a href="contact.html" class="btn btn-default btn-lg btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SATIN ALMA</a>
								</div>
								<div class="col-sm-5">
									<span class="space-top visible-xs visible-sm"></span>
									<a href="renting.html" class="btn btn-default btn-lg btn-block btn-hvr hvr-shutter-out-horizontal margin-clear"><span class="button-badge"><span class="badge badge-red">YENİ</span></span>KİRALAMA</a>
								</div>
							</div>
						</div>
					</div>  

				</div><!-- /container -->
			</section>
			<!-- section end -->
			<div class="modal fade" id="SupportModal" tabindex="-1" role="dialog" aria-labelledby="SupportModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
							<h4 class="modal-title" id="SupportModalLabel">Destek Hakkında</h4>
						</div>
						<div class="modal-body">
							<h5>Uygulama Seviyesi Destek</h5>
							<div class="separator-2"></div>
							<p>CompecTA, Yüksek Başarımlı Hesaplama Sistemleri'nde 20 yılı aşkın tecrübesi ile müşterilerine sistem yönetimi ve uygulama düzeyinde destek vermektedir.</p>
							<p>Sitemleri sizin için tasarlıyor, devreye alıyor ve problem çözme desteği sağlıyoruz. Siparişinizden başlayarak satış sonrası destek ve sisteminizdeki çalışan işlere kadar her şeyi yönetiyoruz.</p>
							<p>Uygulama, donanım ve yazılım sorunlarınız konusunda sizlere sağladığımız destek ile size kalan tek şey hızlı ve yüksek performanslı çözümünüzün keyfini çıkarmaktır.</p>
							<h5>DGX A100 Destek Detayları</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX A100 desteği, NVIDIA DGX A100 sisteminizden en kapsamlı hizmetleri almanız için size kapsamlı sistem desteği ve NVIDIA'nın bulut yönetim portalına erişim sağlar.</p>
							<p>NVIDIA bulut yönetimi ile kapsayıcılı uygulama yönetiminden yararlanarak derin öğrenme denemesini kolaylaştırın, işleri başlatın, durumu izleyin ve yazılım güncellemelerini alın.</p>
							<h5>DGX A100 Belgeleri</h5>
							<div class="separator-2"></div>
							<ul>
								<li><a class="link-default" target="_blank" href="https://docs.nvidia.com/dgx/dgxa100-user-guide/index.html">DGX A100 Kullanım Kılavuzu</a></li>
								<li><a class="link-default" target="_blank" href="https://docs.nvidia.com/dgx/pdf/dgxa100-user-guide.pdf">DGX A100 Kullanım Kılavuzu (PDF)</a></li>
								<li><a class="link-default" target="_blank" href="https://images.nvidia.com/aem-dam/en-zz/Solutions/data-center/dgx-a100/dgxa100-system-architecture-white-paper.pdf">DGX A100 Teknik Raporu</a></li>
							</ul>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Kapat</button>
						</div>
					</div>
				</div>
			</div>
			{% include "getinfo.html" %}
{% endblock %}