{% extends "base.html" %}
{% block title %}NVIDIA DGX-1 Derin Öğrenme Sistemi{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}NVIDIA DGX-1&trade;{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}dgx-1.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/dgx-1.jpg'); background-position: 50% 45%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA DGX-1&trade; Derin Öğrenme Sistemi</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">Dünyanın En Hızlı Derin Öğrenme Süper Bilgisayarı</p>
							<div class="ph-20">
								<a href="contact.html" class="btn btn-default btn-hvr hvr-shutter-out-horizontal margin-clear">Sipariş Ver</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h3>Dünyanın ilk Kutuda Bulunan Yapay Zeka (AI) Süper Bilgisayarı</h3>
							<div class="separator-2"></div>
							<img class="visible-xs visible-sm" alt="NVIDIA DGX-1" src="images/dgx-1-front-mobile.jpg">
							<p>NVIDIA® DGX-1™ ile derin öğrenmede daha hızlı eğitim, daha büyük modeller ve daha kesin sonuçlar alın. Bu, 250 geleneksel sunucuya denk performans sağlayan, derin öğrenme için yapay zeka ile hızlandırılmış ilk özel üretim sistemidir.</p>
							<p> Donanım, derin öğrenme yazılımı, geliştirme araçları ile tümleşik bir şekilde gelir ve en yaygın hızlandırılmış analitik uygulamalarını çalıştırır. Böylece, veri işleme zamanınızı hemen kısaltabilir, daha çok veri görüntüleyebilir, derin öğrenme yapılarını hızlandırabilir ve daha ileri teknoloji nöral ağlar tasarlayabilirsiniz.</p>
							<img class="hidden-xs hidden-sm" alt="NVIDIA DGX-1" src="images/dgx-1-front.jpg">
							<h5 class="mt-20">Sınırsız Fırsat için Sınırsız Hesaplama</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1, çığır açan NVIDIA Pascal™ ile güçlendirilmiş Tesla® P100 hızlandırıcılar kullanılarak üretilen ilk sistemdir. NVIDIA NVLink™ uygulaması GPU bellek kapasitesinde çok büyük bir artış sağlar ve öğrenebilen, görebilen ve hesaplamalar için sınırsız olanaklar barındıran dünyamızı simüle edebilen bir sistem sunar.</p>
							<h5 class="mt-20">Hızlandırılmış Derin Öğrenme Performansı</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1 yazılım yığını derin nöral ağları (DNN) hızlı bir şekilde tasarlamak için önemli derin öğrenme yapıları, NVIDIA DIGITS™ GPU eğitim sistemi, NVIDIA Derin Öğrenme SDK'sı, GPU sürücüleri ve NVIDIA CUDA® içerir.</p>
							<p>Bu güçlü sistem, kapsayıcı oluşturma ve dağıtma, sistem güncelleştirmeleri ve bir uygulama deposu için bulut yönetim hizmetlerine erişime sahiptir. Pascal tarafından güçlendirilmiş Tesla GPU’larda çalışan bu yazılım özelliklerinin birleşimiyle uygulamalar, önceki GPU hızlandırmalı çözümlere göre 12 kat daha hızlı çalışır.</p>
							<div class="row">
								<div class="col-md-12">
									<h5>Daha Hızlı Yineleyin ve Geliştirin</h5>
									<div class="separator-2"></div>
									<p>Yüksek performanslı eğitim, üretkenliğinizi hızlandırır. Bu sayede öngörü ve pazara sunum süreleri kısalır.</p>
								</div>
								<div class="col-sm-6"><img class="space-bottom" alt="NVIDIA DGX-1 Performance" src="images/dgx1-34x-performance.jpg"></div>
								<div class="col-sm-6"><img class="space-bottom" alt="NVIDIA DGX-1 Performance" src="images/dgx1-58x-faster-training.jpg"></div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>Sistem Özellikleri</h3>
							<div class="separator-2"></div>
							<table class="table table-colored small">
								<tr>
									<td>GPUs</td>
									<td><strong>8x Tesla P100</strong></td>
								</tr>
								<tr>
									<td>TFLOPS (GPU FP16 / CPU FP32)</td>
									<td><strong>170/3</strong></td>
								</tr>
								<tr>
									<td>GPU Memory</td>
									<td><strong>16 GB per GPU</strong></td>
								</tr>
								<tr>
									<td>CPU</td>
									<td><strong>Dual 20-core Intel® Xeon®E5-2698 v4 2.2 GHz</strong></td>
								</tr>
								<tr>
									<td>NVIDIA CUDA® Cores</td>
									<td><strong>28,672</strong></td>
								</tr>
								<tr>
									<td>System Memory</td>
									<td><strong>512 GB 2133 MHz DDR4</strong></td>
								</tr>
								<tr>
									<td>Storage</td>
									<td><strong>4x 1.92 TB SSD RAID 0</strong></td>
								</tr>
								<tr>
									<td>Network</td>
									<td><strong>Dual 10 GbE, 4 IB EDR</strong></td>
								</tr>
								<tr>
									<td>Software</td>
									<td><strong>Ubuntu Server Linux OS<br>DGX-1 Recommended GPU Driver</strong></td>
								</tr>
								<tr>
									<td>System Weight</td>
									<td><strong>60.8 kg / 134 lbs<br></strong></td>
								</tr>
								<tr>
									<td>System Dimensions</td>
									<td><strong>866 D x 444 W x 131 H (mm)</strong></td>
								</tr>
								<tr>
									<td>Form Factor</td>
									<td><strong>3U Rackmount</strong></td>
								</tr>
								<tr>
									<td>Packing Dimensions</td>
									<td><strong>1180 D x 730 W x 284 H (mm)</strong></td>
								</tr>
								<tr>
									<td>Maximum Power Requirements</td>
									<td><strong>3200W</strong></td>
								</tr>
								<tr>
									<td>Operating Temperature Range</td>
									<td><strong>10 - 30°C</strong></td>
								</tr>
							</table>
							<div class="hidden-sm">
								<p class="small">NVIDIA Eğitim Fiyatlandırması mevcuttur. Uygunluk şartları, yasal hüküm ve koşullar için lütfen bilgi alınız.</p>
								<a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider"></a>
								<p class="space-top"><em>CompecTA, NVIDIA'nın Türkiye'deki resmi <a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html">(NPN) Hızlandırılmış Hesaplama iş ortağıdır.</a></em></p>
							</div>
							<div class="row visible-sm">
								<div class="col-sm-6">
									<a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider"></a>
								</div>
								<div class="col-sm-6">
									<p>NVIDIA Eğitim Fiyatlandırması mevcuttur. Uygunluk şartları, yasal hüküm ve koşullar için lütfen bilgi alınız.</p>
									<p><em>CompecTA, NVIDIA'nın Türkiye'deki resmi <a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html">(NPN) Hızlandırılmış Hesaplama iş ortağıdır.</a></em></p>

								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Hızla ve Kolayca Dağıtın</h5>
							<div class="separator-2"></div>
							<p>Yenilikçi NVIDIA DGX-1 sistemi, saatler veya dakikalar içinde yeni bilgiler ve görüşler sunmak için büyük veri kümelerindeki modelleri açığa çıkarmanızı sağlar.</p>
							<a class="link-default" target="_blank" href="http://images.nvidia.com/content/technologies/deep-learning/pdf/Datasheet-DGX1.pdf">Ürün Bilgileri (PDF)</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Rekabette Öncü Olun</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1, derin öğrenme eğitiminiz ve Yapay zekayla hızlandırılmış analiz iş yükleri için en hızlı çözümleri sunan yenilikçi teknolojilerle geliştirilmiştir.</p>
							<a class="link-default" target="_blank" href="http://www.nvidia.com/object/dgx1-infographic.html">Veri grafiğine bakın</a>
						</div>
						<div class="col-sm-12 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Yatırımınızı En Üst Düzeye Çıkarın</h5>
							<div class="separator-2"></div>
							<p>Verimliliği artırmak ve sistemin kapalı kalma süresini azaltmak için gerekli desteği alın. Donanım ve yazılım desteği, NVIDIA derin öğrenme uzmanlığına erişim sağlar; bulut yönetim hizmetleri, yazılım yükseltmeleri ve güncellemelerinin yanı sıra önemli sorunlarınızın öncelikli bir şekilde çözülmesini içerir.</p>
							<a class="link-default" href="" data-toggle="modal" data-target="#SupportModal"> Destek Hakkında Daha Fazla Bilgi</a>
						</div>
						<div class="col-sm-12 col-md-4 col-md-offset-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5 class="text-center space-top">Hemen NVIDIA DGX-1 Siparişinizi Verin</h5>
							<a href="contact.html" class="btn btn-default btn-lg btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ VER</a>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			<div class="modal fade" id="SupportModal" tabindex="-1" role="dialog" aria-labelledby="SupportModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
							<h4 class="modal-title" id="SupportModalLabel">Destek Bilgileri</h4>
						</div>
						<div class="modal-body">
							<h5>Uygulama Seviyesinde Destek</h5>
							<div class="separator-2"></div>
							<p>CompecTA, Yüksek Başarımlı Hesaplama alanında 20 yılı aşkın tecrübesi ile müşterilerine sistem yönetimi ve uygulama seviyesinde kullanıcı desteği sunar.</p>
							<p>Sipariş aşamasından sisteminizdeki çalışan işlere kadar  karşılaşabileceğiniz her türlü sorun hakkında destek bulabilirsiniz, bu sayede siz sadece işinize odaklanırsınız!</p>
							<h5>NVIDIA DGX-1 Desteği</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1 desteği, NVIDIA DGX-1 sisteminizdeki en kapsamlı hizmetlerden yararlanmanız için size kapsamlı sistem desteği ve NVIDIA’nın bulut yönetim portalına erişim sağlar.</p>
							<p>NVIDIA bulut yönetimi ile kapsayıcıya alınmış uygulama yönetimi, işleri başlatma ve durum izleme özelliklerinden yararlanarak ve yazılım güncellemelerini alarak derin öğrenme deneylerini kolaylaştırın.</p>
							<h5>DGX-1 Belgeleri</h5>
							<div class="separator-2"></div>
							<ul>
								<li><a class="link-default" target="_blank" href="http://images.nvidia.com/content/technologies/deep-learning/pdf/DGX-1-UserGuide.pdf">DGX-1 Kullanım Kılavuzu</a></li>
								<li><a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/dgx1-support-tr.html">NVIDIA DGX-1 Destek Sayfası</a></li>
							</ul>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Kapat</button>
						</div>
					</div>
				</div>
			</div>
			{% include "getinfo.html" %}
{% endblock %}