{% extends "base.html" %}
{% block title %}NVIDIA DGX-1 Derin Öğrenme Sistemi{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}NVIDIA DGX-1&trade;{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}dgx-1.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/dgx-1.jpg'); background-position: 50% 45%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA DGX-1&trade; Derin Öğrenme Sistemi</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">Dünyanın En Hızlı Derin Öğrenme Süper Bilgisayarı</p>
							<a href="contact.html" class="btn btn-default btn-hvr hvr-shutter-out-horizontal margin-clear mv-10">SATIN ALMA</a>
								<a href="renting.html" class="btn btn-default btn-hvr hvr-shutter-out-horizontal margin-clear mv-10"><span class="button-badge"><span class="badge badge-red">YENİ</span></span>KİRALAMA</a>
							</div>
						</div>
						<a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_PreferredSolutionProvider.png" class="nvidia-partner visible-lg visible-md"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h3>Dünyanın ilk Kutuda Bulunan Yapay Zeka (AI) Süper Bilgisayarı</h3>
							<div class="separator-2"></div>
							<img class="visible-xs visible-sm" alt="NVIDIA DGX-1" src="images/dgx-1-front-mobile.jpg">
							<p>NVIDIA® DGX-1™ ile derin öğrenmede daha hızlı eğitim, daha büyük modeller ve daha kesin sonuçlar alın. Bu, 250 geleneksel sunucuya denk performans sağlayan, derin öğrenme için yapay zeka ile hızlandırılmış ilk özel üretim sistemidir.</p>
							<p> Donanım, derin öğrenme yazılımı, geliştirme araçları ile tümleşik bir şekilde gelir ve en yaygın hızlandırılmış analitik uygulamalarını çalıştırır. Böylece, veri işleme zamanınızı hemen kısaltabilir, daha çok veri görüntüleyebilir, derin öğrenme yapılarını hızlandırabilir ve daha ileri teknoloji nöral ağlar tasarlayabilirsiniz.</p>
							<img class="hidden-xs hidden-sm" alt="NVIDIA DGX-1" src="images/dgx-1-front.jpg">
							<h5 class="mt-20">Sınırsız Fırsat için Sınırsız Hesaplama</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1, çığır açan NVIDIA Pascal™ ile güçlendirilmiş Tesla® P100 hızlandırıcılar kullanılarak üretilen ilk sistemdir. NVIDIA NVLink™ uygulaması GPU bellek kapasitesinde çok büyük bir artış sağlar ve öğrenebilen, görebilen ve hesaplamalar için sınırsız olanaklar barındıran dünyamızı simüle edebilen bir sistem sunar.</p>
							<h5 class="mt-20">Hızlandırılmış Derin Öğrenme Performansı</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1 yazılım yığını derin nöral ağları (DNN) hızlı bir şekilde tasarlamak için önemli derin öğrenme yapıları, NVIDIA DIGITS™ GPU eğitim sistemi, NVIDIA Derin Öğrenme SDK'sı, GPU sürücüleri ve NVIDIA CUDA® içerir.</p>
							<p>Bu güçlü sistem, kapsayıcı oluşturma ve dağıtma, sistem güncelleştirmeleri ve bir uygulama deposu için bulut yönetim hizmetlerine erişime sahiptir. Pascal tarafından güçlendirilmiş Tesla GPU’larda çalışan bu yazılım özelliklerinin birleşimiyle uygulamalar, önceki GPU hızlandırmalı çözümlere göre 12 kat daha hızlı çalışır.</p>
							<div class="row">
								<div class="col-md-12">
									<h5>Daha Hızlı Yineleyin ve Geliştirin</h5>
									<div class="separator-2"></div>
									<p>Yüksek performanslı eğitim, üretkenliğinizi hızlandırır. Bu sayede öngörü ve pazara sunum süreleri kısalır.</p>
								</div>
								<div class="col-sm-12"><img class="space-bottom" alt="NVIDIA DGX-1 Performance" src="images/dgx-1-96x-faster.png"></div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>Sistem Özellikleri</h3>
							<div class="separator-2"></div>
							<table class="table table-colored small">
								<tr>
									<td></td>
									<td class="text-center text-default"><small>NVIDIA DGX-1 with Tesla V100</small></td>
									<td class="text-center text-default"><small>NVIDIA DGX-1 with Tesla P100</small></td>
								</tr>
								<tr>
									<td>GPUs</td>
									<td class="text-center"><strong>8x Tesla V100</strong></td>
									<td class="text-center"><strong>8x Tesla P100</strong></td>
								</tr>
								<tr>
									<td>TFLOPS (FP16)</td>
									<td class="text-center"><strong>960</strong></td>
									<td class="text-center"><strong>170</strong></td>
								</tr>
								<tr>
									<td>GPU Memory</td>
									<td colspan="2" class="text-center"><strong>128 GB total system</strong></td>
								</tr>
								<tr>
									<td>CPU</td>
									<td colspan="2" class="text-center"><strong>Dual 20-core Intel® Xeon® E5-2698 v4 2.2 GHz</strong></td>
								</tr>
								<tr>
									<td>NVIDIA CUDA® Cores</td>
									<td class="text-center"><strong>40,960</strong></td>
									<td class="text-center"><strong>28,672</strong></td>
								</tr>
								<tr>
									<td>NVIDIA Tensor Cores</td>
									<td class="text-center"><strong>5,120</strong></td>
									<td class="text-center"><strong>--</strong></td>
								</tr>
								<tr>
									<td>Maximum Power Requirements</td>
									<td colspan="2" class="text-center"><strong>3200W</strong></td>
								</tr>
								<tr>
									<td>System Memory</td>
									<td colspan="2" class="text-center"><strong>512 GB 2133 MHz DDR4 LRDIMM</strong></td>
								</tr>
								<tr>
									<td>Storage</td>
									<td colspan="2" class="text-center"><strong>4x 1.92 TB SSD RAID 0</strong></td>
								</tr>
								<tr>
									<td>Network</td>
									<td colspan="2" class="text-center"><strong>Dual 10 GbE, Up to 4 IB EDR</strong></td>
								</tr>
								<tr>
									<td>Software</td>
									<td colspan="2" class="text-center"><strong>Ubuntu Server Linux OS<br>DGX-1 Recommended Drivers</strong></td>
								</tr>
								<tr>
									<td>System Weight</td>
									<td colspan="2" class="text-center"><strong>60.8 kg / 134 lbs<br></strong></td>
								</tr>
								<tr>
									<td>System Dimensions</td>
									<td colspan="2" class="text-center"><strong>866 D x 444 W x 131 H (mm)</strong></td>
								</tr>
								<tr>
									<td>Form Factor</td>
									<td colspan="2" class="text-center"><strong>3U Rackmount</strong></td>
								</tr>
								<tr>
									<td>Operating Temperature Range</td>
									<td colspan="2" class="text-center"><strong>10 - 35°C</strong></td>
								</tr>
							</table>
							<div class="hidden-sm">
								<p class="small">NVIDIA Eğitim Fiyatlandırması mevcuttur. Uygunluk şartları, yasal hüküm ve koşullar için lütfen bilgi alınız.</p>
								<a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider"></a>
								<p class="space-top"><em>CompecTA, NVIDIA'nın Türkiye'deki resmi <a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html">(NPN) Hızlandırılmış Hesaplama iş ortağıdır.</a></em></p>
							</div>
							<div class="row visible-sm">
								<div class="col-sm-6">
									<a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider"></a>
								</div>
								<div class="col-sm-6">
									<p>NVIDIA Eğitim Fiyatlandırması mevcuttur. Uygunluk şartları, yasal hüküm ve koşullar için lütfen bilgi alınız.</p>
									<p><em>CompecTA, NVIDIA'nın Türkiye'deki resmi <a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html">(NPN) Hızlandırılmış Hesaplama iş ortağıdır.</a></em></p>

								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Hızla ve Kolayca Dağıtın</h5>
							<div class="separator-2"></div>
							<p>Yenilikçi NVIDIA DGX-1 sistemi, saatler veya dakikalar içinde yeni bilgiler ve görüşler sunmak için büyük veri kümelerindeki modelleri açığa çıkarmanızı sağlar.</p>
							<a class="link-default" target="_blank" href="https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/dgx-1/dgx-1-ai-supercomputer-datasheet-v4.pdf">Ürün Bilgileri (PDF)</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Rekabette Öncü Olun</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1, derin öğrenme eğitiminiz ve Yapay zekayla hızlandırılmış analiz iş yükleri için en hızlı çözümleri sunan yenilikçi teknolojilerle geliştirilmiştir.</p>
							<a class="link-default" target="_blank" href="https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/dgx-1/70029-dgx1-web-Infographic-21nov16-v03.pdf">Veri grafiği (PDF)</a>
						</div>
						<div class="col-sm-12 col-md-4">
							<span class="space-top visible-xs visible-sm"></span>
							<h5>Yatırımınızı En Üst Düzeye Çıkarın</h5>
							<div class="separator-2"></div>
							<p>Verimliliği artırmak ve sistemin kapalı kalma süresini azaltmak için gerekli desteği alın. Donanım ve yazılım desteği, NVIDIA derin öğrenme uzmanlığına erişim sağlar; bulut yönetim hizmetleri, yazılım yükseltmeleri ve güncellemelerinin yanı sıra önemli sorunlarınızın öncelikli bir şekilde çözülmesini içerir.</p>
							<a class="link-default" href="" data-toggle="modal" data-target="#SupportModal"> Destek Hakkında Daha Fazla Bilgi</a>
						</div>
						<div class="col-sm-12 col-md-10 col-md-offset-1 space-bottom">
							<div class="row">
								<span class="space-top visible-xs visible-sm"></span>
								<h3 class="text-center space-top">Hemen NVIDIA DGX-1 Siparişi Verin</h3>
								<div class="separator"></div>
								<p class="text-center">Dünyanın En Hızlı Yapay Zeka Derin Öğrenme Platformu NVIDIA® DGX-1™ V100 Edition <strong>Kiralama & Satın Alma</strong> seçenekleri ile Akademik ve Ticari Araştırmalar için hizmetinize sunulmuştur. Özel Akademik Fiyat mevcuttur, uygunluk şartları ve yasal hüküm ve koşullar için lütfen iletişime geçiniz.</p>
								<div class="col-sm-5 col-sm-offset-1">
									<span class="space-top visible-xs visible-sm"></span>
									<a href="contact.html" class="btn btn-default btn-lg btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SATIN ALMA</a>
								</div>
								<div class="col-sm-5">
									<span class="space-top visible-xs visible-sm"></span>
									<a href="renting.html" class="btn btn-default btn-lg btn-block btn-hvr hvr-shutter-out-horizontal margin-clear"><span class="button-badge"><span class="badge badge-red">YENİ</span></span>KİRALAMA</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			<div class="modal fade" id="SupportModal" tabindex="-1" role="dialog" aria-labelledby="SupportModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
							<h4 class="modal-title" id="SupportModalLabel">Destek Bilgileri</h4>
						</div>
						<div class="modal-body">
							<h5>Uygulama Seviyesinde Destek</h5>
							<div class="separator-2"></div>
							<p>CompecTA, Yüksek Başarımlı Hesaplama alanında 20 yılı aşkın tecrübesi ile müşterilerine sistem yönetimi ve uygulama seviyesinde kullanıcı desteği sunar.</p>
							<p>Sipariş aşamasından sisteminizdeki çalışan işlere kadar  karşılaşabileceğiniz her türlü sorun hakkında destek bulabilirsiniz, bu sayede siz sadece işinize odaklanırsınız!</p>
							<h5>NVIDIA DGX-1 Desteği</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1 desteği, NVIDIA DGX-1 sisteminizdeki en kapsamlı hizmetlerden yararlanmanız için size kapsamlı sistem desteği ve NVIDIA’nın bulut yönetim portalına erişim sağlar.</p>
							<p>NVIDIA bulut yönetimi ile kapsayıcıya alınmış uygulama yönetimi, işleri başlatma ve durum izleme özelliklerinden yararlanarak ve yazılım güncellemelerini alarak derin öğrenme deneylerini kolaylaştırın.</p>
							<h5>DGX-1 Belgeleri</h5>
							<div class="separator-2"></div>
							<ul>
								<li><a class="link-default" target="_blank" href="http://images.nvidia.com/content/technologies/deep-learning/pdf/DGX-1-UserGuide.pdf">DGX-1 Kullanım Kılavuzu (PDF)</a></li>
								<li><a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/dgx1-support-tr.html">NVIDIA DGX-1 Destek Sayfası</a></li>
							</ul>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Kapat</button>
						</div>
					</div>
				</div>
			</div>
			{% include "getinfo.html" %}
{% endblock %}