{% extends "base.html" %}
{% block title %}NVIDIA DGX-1 Deep Learning System{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="products.html">Products</a></li>
						<li class="active">NVIDIA DGX-1</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/dgx-1.jpg'); background-position: 50% 35%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA DGX-1&trade; Deep Learning System</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">World’s Fastest Deep Learning Supercomputer</p>
							<div class="ph-20">
								<a href="contact.html" class="btn btn-default btn-hvr hvr-shutter-out-horizontal margin-clear">REQUEST A QUOTE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row space-top">
						<div class="col-md-12 text-center">
							<img class="visible-xs visible-sm" src="images/dgx-1-front.jpg">
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<h3>The World’s First AI Supercomputer in a Box</h3>
							<div class="separator-2"></div>
							<img class="hidden-xs hidden-sm" src="images/dgx-1-front.jpg">
							<p>Get faster training, larger models, and more accurate results on deep learning with the NVIDIA® DGX-1™. This is the world’s first purpose-built system for deep learning and AI accelerated analytics, delivering performance equal to 250 conventional servers.</p>
							<p>It comes fully integrated with hardware, deep learning software, development tools, and runs popular accelerated analytics applications. This means you can immediately shorten data processing time, visualize more data, accelerate deep learning frameworks, and design more sophisticated neural networks.</p>
							<div class="row">
								<div class="col-md-12">
									<h5>Iterate and Innovate Faster</h5>
									<p>High-performance training accelerates your productivity, which means faster time to insight and faster time to market.</p>
								</div>
								<div class="col-sm-6"><img class="space-bottom" src="images/dgx1-34x-performance.jpg"></div>
								<div class="col-sm-6"><img class="space-bottom" src="images/dgx1-58x-faster-training.jpg"></div>
							</div>
						</div>
						<div class="col-md-4">
							<img class="nv-preferred" src="images/NVIDIA_PreferredSolutionProvider.png">
							<h3>System Specifications</h3>
							<div class="separator-2"></div>
							<table class="table table-colored small">
								<tr>
									<td>GPUs</td>
									<td><strong>8x Tesla P100</strong></td>
								</tr>
								<tr>
									<td>TFLOPS (GPU FP16 / CPU FP32)</td>
									<td><strong>170/3</strong></td>
								</tr>
								<tr>
									<td>GPU Memory</td>
									<td><strong>16 GB per GPU</strong></td>
								</tr>
								<tr>
									<td>CPU</td>
									<td><strong>Dual 20-core Intel® Xeon®E5-2698 v4 2.2 GHz</strong></td>
								</tr>
								<tr>
									<td>NVIDIA CUDA® Cores</td>
									<td><strong>28,672</strong></td>
								</tr>
								<tr>
									<td>System Memory</td>
									<td><strong>512 GB 2133 MHz DDR4</strong></td>
								</tr>
								<tr>
									<td>Storage</td>
									<td><strong>4x 1.92 TB SSD RAID 0</strong></td>
								</tr>
								<tr>
									<td>Network</td>
									<td><strong>Dual 10 GbE, 4 IB EDR</strong></td>
								</tr>
								<tr>
									<td>Software</td>
									<td><strong>Ubuntu Server Linux OS<br>DGX-1 Recommended GPU Driver</strong></td>
								</tr>
								<tr>
									<td>System Weight</td>
									<td><strong>60.8 kg / 134 lbs<br></strong></td>
								</tr>
								<tr>
									<td>System Dimensions</td>
									<td><strong>866 D x 444 W x 131 H (mm)</strong></td>
								</tr>
								<tr>
									<td>Form Factor</td>
									<td><strong>3U Rackmount</strong></td>
								</tr>
								<tr>
									<td>Packing Dimensions</td>
									<td><strong>1180 D x 730 W x 284 H (mm)</strong></td>
								</tr>
								<tr>
									<td>Maximum Power Requirements</td>
									<td><strong>3200W</strong></td>
								</tr>
								<tr>
									<td>Operating Temperature Range</td>
									<td><strong>10 - 30°C</strong></td>
								</tr>
							</table>
							<p class="small">NVIDIA Education Pricing available. Please contact for eligibility requirements and legal terms and conditions.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}