{% extends "base.html" %}
{% block title %}NVIDIA DGX Station Deep Learning System{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}NVIDIA DGX Station&trade;{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}dgxstation.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/dgxstation.jpg'); background-position: 50% 35%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA DGX Station&trade;</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">Personal AI Supercomputer</p>
						</div>
						<a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_PreferredSolutionProvider.png" class="nvidia-partner visible-lg visible-md"></a>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h3>Groundbreaking AI, At Your Desk</h3>
							<div class="separator-2"></div>
							<p class="lead space-bottom">Designed for your office, NVIDIA® DGX Station™ is the world’s first personal supercomputer for leading-edge AI development. Built on the same NVIDIA GPU Cloud Deep Learning Stack powering all NVIDIA DGX™ Systems, you can now experiment at your desk and extend your work across DGX Systems and the cloud.</p>
							<h5 class="mt-10 space-top">The Only Supercomputer Designed for Your Office</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX Station is the fastest AI supercomputer designed for use at your desk. Whisper quiet at one tenth the noise of other deep learning workstations, it’s designed for easy experimentation at the office. Meticulously crafted, DGX Station is the perfect addition to your lab, office, or workspace.</p>
							<h5 class="mt-10 space-top">Get the Fastest Start in Deep Learning</h5>
							<div class="separator-2"></div>
							<p>Your real work is innovation and discovery; with DGX Station you can save up to a month in setup time alone. Just plug it in and power it up, for a deployment that’s simple and intuitive. This integrated hardware and software solution lets you spend more time focused on insight, instead of piecing together components.</p>
							<h5 class="mt-10 space-top">Productivity From Desk to Data Center</h5>
							<div class="separator-2"></div>
							<p>Spend less time and money on IT, and more time on data science. DGX Station can save you hundreds of thousands of dollars in engineering hours and lost productivity, waiting for stable versions of open source frameworks. Enjoy productive experimentation at your desk now, and then scale your work in the data center on NVIDIA DGX-1™, or in the cloud—all powered by the NVIDIA GPU Cloud Deep Learning Stack and container technology.</p>
							<h5 class="mt-10 space-top">3X Faster Than the Fastest Workstations</h5>
							<div class="separator-2"></div>
							<p>DGX Station has the computing capacity of four server racks in a desk-friendly package, using less than one twentieth the power. It’s the only personal supercomputer with four NVIDIA® Tesla® V100 GPUs, next generation NVIDIA NVLink™, and new Tensor Core architecture. DGX Station delivers 3X the training performance of today’s fastest workstations, with 480 TFLOPS of water cooled performance and FP16 precision.</p>
							<div class="row">
								<div class="col-md-12">
									<span class="space-top visible-xs visible-sm"></span>
									<h3 class="space-top">Order your NVIDIA DGX Station Today</h3>
									<div class="separator-2"></div>
									<p>NVIDIA Education Pricing available. Please contact for eligibility requirements and legal terms and conditions.</p>
									<p><em>CompecTA is the official <a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html">NPN Accelerated Computing Partner</a> in Turkey.</em></p>
										<span class="space-top visible-xs visible-sm"></span>
										<a href="contact.html" class="btn btn-default btn-lg btn-hvr hvr-shutter-out-horizontal margin-clear">ORDER NOW</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<h3>System Specifications</h3>
							<div class="separator-2"></div>
							<img class="space-bottom" alt="NVIDIA DGX-1" src="images/dgxstation-front.jpg">
							<table class="table table-colored small">
								<tr>
									<td>GPUs</td>
									<td class="text-center"><strong>4x Tesla V100</strong></td>
								</tr>
								<tr>
									<td>TFLOPS (GPU FP16)</td>
									<td class="text-center"><strong>480</strong></td>
								</tr>
								<tr>
									<td>GPU Memory</td>
									<td colspan="2" class="text-center"><strong>64 GB total system</strong></td>
								</tr>
								<tr>
									<td>NVIDIA CUDA® Cores</td>
									<td class="text-center"><strong>20,480</strong></td>
								</tr>
								<tr>
									<td>NVIDIA Tensor Cores</td>
									<td class="text-center"><strong>2,560</strong></td>
								</tr>
								<tr>
									<td>CPU</td>
									<td colspan="2" class="text-center"><strong>20-core Intel® Xeon® E5-2698 v4 2.2 GHz</strong></td>
								</tr>
								<tr>
									<td>System Memory</td>
									<td colspan="2" class="text-center"><strong>256 GB LRDIMM DDR4</strong></td>
								</tr>
								<tr>
									<td>Storage</td>
									<td colspan="2" class="text-center"><strong>Data: 3X 1.92 TB SSD RAID 0 <br>
																				OS: 1X 1.92 TB SSD</strong>
									</td>
								</tr>
								<tr>
									<td>Network</td>
									<td colspan="2" class="text-center"><strong>Dual 10 Gb LAN</strong></td>
								</tr>
								<tr>
									<td>Display</td>
									<td colspan="2" class="text-center"><strong>3X DisplayPort, 4K resolution</strong></td>
								</tr>
								<tr>
									<td>Acoustics</td>
									<td colspan="2" class="text-center"><strong>&#60; 35 dB</strong></td>
								</tr>
								<tr>
									<td>System Weight</td>
									<td colspan="2" class="text-center"><strong>40 kg / 88 lbs<br></strong></td>
								</tr>
								<tr>
									<td>System Dimensions</td>
									<td colspan="2" class="text-center"><strong>518 D x 256 W x 639 H (mm)</strong></td>
								</tr>
								<tr>
									<td>Maximum Power Requirements</td>
									<td colspan="2" class="text-center"><strong>1,500 W</strong></td>
								</tr>
								<tr>
									<td>Operating Temperature Range</td>
									<td colspan="2" class="text-center"><strong>10 - 30°C</strong></td>
								</tr>
								<tr>
									<td>Software</td>
									<td colspan="2" class="text-center"><strong>Ubuntu Desktop Linux OS<br>DGX Recommended Drivers<br>CUDA Toolkit</strong></td>
								</tr>
							</table>
							<div class="hidden-sm">
								<a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider"></a>
								
							</div>
							<div class="row visible-sm">
								<div class="col-sm-6">
									<a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider"></a>
								</div>
								<div class="col-sm-6">
									<p><em>CompecTA is the official <a class="link-default" target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html">NPN Accelerated Computing Partner</a> in Turkey.</em></p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- section end -->
			<div class="modal fade" id="SupportModal" tabindex="-1" role="dialog" aria-labelledby="SupportModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="SupportModalLabel">About Support</h4>
						</div>
						<div class="modal-body">
							<h5>Application Level Support</h5>
							<div class="separator-2"></div>
							<p>CompecTA, wielding its over 20 years of experience in High Performance Computing Clusters, gives system administration and application level support to its customers.</p>
							<p>We design and deploy the appliances for you and monitor them for failures. We manage everything starting from purchase orders to the running jobs on your system.</p>
							<p>This means we also support you with problems about your applications, hardware and software issues. That way the only thing left to you is enjoy your fast and powerful computing solution.</p>
							<h5>DGX-1 Support Details</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1 support provides you with comprehensive system support and access to NVIDIA's cloud management portal to get the most comprehensive services from your NVIDIA DGX-1 system.</p>
							<p>Streamline deep learning experimentation by leveraging containerized application management, launch jobs, monitor status and get software updates with NVIDIA cloud management.</p>
							<h5>DGX-1 Documentation</h5>
							<div class="separator-2"></div>
							<ul>
								<li><a class="link-default" target="_blank" href="http://images.nvidia.com/content/technologies/deep-learning/pdf/DGX-1-UserGuide.pdf">DGX-1 User Guide</a></li>
								<li><a class="link-default" target="_blank" href="http://www.nvidia.com/object/dgx1-support.html">NVIDIA DGX-1 Support Page</a></li>
							</ul>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			{% include "getinfo.html" %}
{% endblock %}