{% extends "base.html" %}
{% block title %}NVIDIA DGX Station A100 AI Çalışma Grubu Çözümü{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}NVIDIA DGX Station&trade; A100{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}dgxstation-a100.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner pv-40" style="background-image:url('images/banners/dgxstation-a100.jpg'); background-position: 64% 100%;">
				<div class="container pv-40">
					<div class="row">
						<div class="col-md-12 pv-20">
							<h2 class="title text-white object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA DGX STATION&trade; A100</h2>
							<p class="object-non-visible lead" data-animation-effect="fadeIn" data-effect-delay="200">AI Çalışma Grubu Çözümü</p>
							<div class="pv-20">
								<a href="contact.html" class="btn btn-default btn-hvr hvr-shutter-out-horizontal margin-clear">SATIN ALMA</a>
								<a href="https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/dgx-station/nvidia-dgx-station-a100-datasheet.pdf" class="btn btn-dark btn-hvr hvr-shutter-out-horizontal margin-clear" target="_blank">ÜRÜN BROŞÜRÜ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container text-center">

					<div class="row">
						<div class="col-md-12">
							<div class="pv-30">
								<h2 class="text-default">Masanızdaki Yapay Zeka Veri Merkezi Çözümü</h2>
								<div class="separator"></div>
								<p class="lead">Veri bilimi ekipleri inovasyonun en uç noktasındadır, ancak genellikle projeleri tamamlamak için mevcut yapay zeka hesaplama döngülerini aramaya bırakılırlar. Dünyanın herhangi bir yerinden erişilebilen, birden çok eşzamanlı kullanıcı için maksimum performans sağlayan özel bir kaynağa ihtiyaçları vardır. NVIDIA DGX Station™ A100, veri merkezi veya ek bir BT altyapısı olmadan veri merkezi teknolojisi sunarak veri bilimi ekiplerine yapay zeka süper performansı sağlar. Güçlü performansı, tamamen optimize edilmiş bir yazılım yığını ve <a class="link-default" href="https://www.nvidia.com/en-us/data-center/dgxperts/" target="_blank">NVIDIA DGXperts</a>'e doğrudan erişimi ile sonuca daha hızlı ulaşmayı sağlar.</p>
							</div>
							<iframe frameborder="0" name="1645679168727" allow="allowfullscreen" src="https://www.youtube.com/embed/gT59YOdch8M" class="youtube-video" allowfullscreen></iframe>
						</div>
					</div><!-- /row -->  

				</div><!-- /container -->
			</section>
			<section class="light-gray-bg border-top">
				<div class="container pv-30">

					<div class="row">
						<div class="col-md-12 space-bottom">
							<h2 class="text-center text-default">HER YERDE VERİ MERKEZİ PERFORMANSI</h2>
							<div class="separator"></div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="imgwidth"><img alt="" src="images/dgxstation-a100-benefits-1.svg"></div>
							<h5 class="mt-20">Veri Bilimi Ekipleri için Yapay Zeka Süper Bilgisayarı</h5>
							<div class="separator-2"></div>
							<p>DGX Station A100 ile kuruluşlar, birden fazla kullanıcıya tüm iş yükleri (eğitim, çıkarım, veri analizi) için NVIDIA DGX™ tabanlı altyapıya anında geçiş sağlayan ve diğer NVIDIA Sertifikalı Sistemlerle birlikte çalışan merkezi bir yapay zeka kaynağı sağlayabilir. Multi-Instance GPU (MIG) ile bireysel kullanıcılara ve işlerine 28 adede kadar ayrı GPU cihazı tahsis etmek mümkündür.</p>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="imgwidth"><img alt="" src="images/dgxstation-a100-benefits-2.svg"></div>
							<h5 class="mt-20">Veri Merkezi Olmadan Veri Merkezi Performansı</h5>
							<div class="separator-2"></div>
							<p>DGX Station A100, veri merkezi ve güçlü soğutma gerektirmeyen, sunucu seviyesinde bir yapay zeka sistemidir. Dört adet NVIDIA A100 Tensor Core GPU, sunucu sınıfı CPU, süper hızlı NVMe diskler ve öncü PCIe Gen4 veri yollarının yanı sıra bir sunucu gibi uzaktan yönetim yeteneğine sahiptir.</p>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="imgwidth"><img alt="" src="images/dgxstation-a100-benefits-3.svg"></div>
							<h5 class="mt-20">Her Yere Koyabileceğiniz Bir Yapay Zeka Sistemi</h5>
							<div class="separator-2"></div>
							<p>Kurumsal ofislerde, laboratuvarlarda, araştırma tesislerinde ve hatta evden çalışan günümüzün veri bilimi ekipleri için tasarlanan DGX Station A100, karmaşık kurulum veya önemli BT altyapısı gerektirmez. Dakikalar içinde çalışmaya başlamak ve her yerden çalışmak için herhangi bir standart duvar prizine takmanız yeterlidir.</p>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="imgwidth"><img alt="" src="images/dgxstation-a100-benefits-4.svg"></div>
							<h5 class="mt-20">Daha Büyük Modeller, Daha Hızlı Cevaplar</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX Station A100, sistem performansını etkilemeden paralel işleri ve birden çok kullanıcının çalışabilmesi için NVIDIA® NVLink®'ten yararlanan, tamamen birbirine bağlı ve MIG özellikli dört adet NVIDIA A100 GPU'ya sahip dünyanın tek ofis dostu sistemidir. Tamamen GPU için optimize edilmiş bir yazılım yığını ve 320 gigabayta (GB) kadar GPU belleği kullanarak büyük modelleri eğitin.</p>
						</div>
					</div><!-- /row -->  
				</div><!-- /container -->
			</section>
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row">
							<h2 class=" text-center text-default">Daha Hızlı İşlem ve İnovasyon</h2>
							<div class="separator"></div>
							<p class=" text-center">Yüksek performanslı eğitim, üretkenliğinizi hızlandırır, bu da daha hızlı sonuç ve daha hızlı pazara sunma süresi anlamına gelir.</p>
						<div class="col-md-12">
							<div class="row pv-20">
								<div class="col-md-4 text-center">
									<h3 class="text-default">EĞİTİM</h3>
									<h6>BERT Large Ön Eğitim Aşama 1</h6>
									<p>3 Kattan Daha Hızlı</p>
									<img class="" alt="NVIDIA DGX-A100" src="images/dgxstation-a100-performance-1.png">
									<p class="text-small text-grey text-left">DGX Station A100 320GB; Batch Size=64; Mixed Precision; With AMP; Real Data; Sequence Length=128</p>
								</div>
								<div class="col-md-4 text-center">
									<h3 class="text-default">ÇIKARIM</h3>
									<h6>BERT Large Çıkarım</h6>
									<p>4 Kattan Daha Hızlı</p>
									<img class="" alt="NVIDIA DGX-A100" src="images/dgxstation-a100-performance-2.png">
									<p class="text-small text-grey text-left">DGX Station A100 320GB; Batch Size=256; INT8 Precision; Synthetic Data; Sequence Length=128, cuDNN 8.0.4</p>
								</div>
								<div class="col-md-4 text-center">
									<h3 class="text-default">ÖLÇEKLENEBİLİRLİK</h3>
									<h6>ResNet-50 V1.5 Eğitimi</h6>
									<p>Doğrusal Ölçeklenebilirlik</p>
									<img class="" alt="NVIDIA DGX-A100" src="images/dgxstation-a100-performance-3.png">
									<p class="text-small text-grey text-left">DGX Station A100 320GB; Batch Size=192; Mixed Precision; Real Data; cuDNN Version=8.0.4; NCCL Version=2.7.8; NGC MXNet 20.10 Container</p>
								</div>
							</div>
							<div class="row pv-20">
								<div class="col-sm-6 col-md-3">
									<span class="space-top visible-xs visible-sm"></span>
									<h5>Yapay Zeka Eğitimi</h5>
									<div class="separator-2"></div>
									<img class="mb-10" src="https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/dgx-station-a100/nvidia-deep-learning-ai-training-2c50-d.jpg">
									<p>Derin öğrenme veri kümeleri, etkileşimli yapay zeka, öneri sistemleri ve görüntü işleme gibi iş yüklerinin endüstriler arasında giderek daha yaygın hale gelmesiyle birlikte daha büyük ve daha karmaşık hale geliyor. Entegre bir yazılım yığınıyla birlikte gelen NVIDIA DGX Station A100, PCIe tabanlı iş istasyonlarına kıyasla karmaşık AI modellerinde en hızlı çözümü sağlamak üzere tasarlanmıştır.</p>
								</div>
								<div class="col-sm-6 col-md-3">
									<span class="space-top visible-xs visible-sm"></span>
									<h5>Yapay Zeka Çıkarımı</h5>
									<div class="separator-2"></div>
									<img class="mb-10" src="https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/dgx-station-a100/nvidia-ai-inference-2c50-d.jpg">
									<p>Genellikle Yapay Zeka çıkarım iş yükleri, mevcut her bilgi işlem kaynağını kullandıklarından ve ölçeklenebilen çevik, esnek bir altyapı gerektirdiğinden veri merkezinde hesaplanır. NVIDIA DGX Station A100, çıkarım iş yüklerini hızlandıran ve AI uygulamalarını hayata geçirmek için gereken en yüksek iş hacmini ve gerçek zamanlı yanıt süresini sağlayan MIG gibi entegre teknolojiler sayesinde, veri merkezinde devreye almadan önce yerel olarak çıkarım performansını ve sonuçları test etmek için en uygun çözümdür.</p>
								</div>
								<div class="col-sm-12 col-md-3">
									<span class="space-top visible-xs visible-sm"></span>
									<h5>Veri Analizi</h5>
									<div class="separator-2"></div>
									<img class="mb-10" src="https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/dgx-station-a100/nvidia-data-analytics-2c50-d.jpg">
									<p>İşletmeler her gün benzeri görülmemiş miktarda veri üretiyor ve topluyor. Bu devasa miktardaki bilgi, GPU hızlandırmalı analitik kullanmayanlar için kaçırılmış bir fırsatı temsil ediyor. Ne kadar çok veriye sahip olursanız, o kadar çok öğrenebilirsiniz. NVIDIA DGX Station A100 ile veri bilimi ekipleri, verilerinden hiç olmadığı kadar hızlı bir şekilde eyleme dönüştürülebilir çıkarımlar elde edebilir.</p>
								</div>
								<div class="col-sm-12 col-md-3">
									<span class="space-top visible-xs visible-sm"></span>
									<h5>Yüksek Başarımlı Hesaplama</h5>
									<div class="separator-2"></div>
									<img class="mb-10" src="https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/dgx-station-a100/nvidia-hpc-sdk-2c50-d.jpg">
									<p>Yüksek Başarımlı Hesaplama (HPC), bilimin ilerlemesini sağlayan en temel araçlardan biridir. Geniş bir etki alanı yelpazesinde 700'den fazla uygulamayı optimize eden NVIDIA GPU'lar, modern HPC veri merkezinin temelidir. Dört adet NVIDIA A100 Tensor Core GPU ile donatılan DGX Station A100, geliştiricilerin HPC kümelerine dağıtmadan önce bilimsel iş yüklerini test etmeleri için mükemmel bir sistemdir ve bu sayede ofiste ve hatta evden çığır açan performans sunmalarını sağlar.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg border-top">
				<div class="container mb-20">

					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1 space-bottom">
							<span class="space-top visible-xs visible-sm"></span>
							<h3 class="text-center space-top">Order your NVIDIA DGX Station A100 Today</h3>
							<div class="separator"></div>
							<p class="text-center">Veri bilimi ekipleri için dünyanın en hızlı AI hızlandırıcılarından dört tane ve toplam 320 GB GPU belleği ile desteklenen Yapay Zeka Süper Bilgisayarı. Veri merkezi olmadan veri merkezi performansı sağlar. Hemen her yere kurun!</p>
							<p class="text-center"><em>NVIDIA Akademik indirimleri mevcuttur. Uygunluk gereksinimleri ve yasal hüküm ve koşullar için lütfen iletişime geçin.</em></p>
							<div class="row">
								<div class="col-sm-5 col-sm-offset-1">
									<span class="space-top visible-xs visible-sm"></span>
									<a href="contact.html" class="btn btn-default btn-lg btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SATIN ALMA</a>
								</div>
								<div class="col-sm-5">
									<span class="space-top visible-xs visible-sm"></span>
									<a href="https://www.nvidia.com/en-us/data-center/dgx-systems/rental-dgx-a100/" class="btn btn-default btn-lg btn-block btn-hvr hvr-shutter-out-horizontal margin-clear" target="_blank"><span class="button-badge"><span class="badge badge-red">YENİ</span></span>KİRALAMA</a>
								</div>
							</div>
						</div>
					</div>  

				</div><!-- /container -->
			</section>
			<!-- section end -->
			<div class="modal fade" id="SupportModal" tabindex="-1" role="dialog" aria-labelledby="SupportModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="SupportModalLabel">About Support</h4>
						</div>
						<div class="modal-body">
							<h5>Application Level Support</h5>
							<div class="separator-2"></div>
							<p>CompecTA, wielding its over 20 years of experience in High Performance Computing Clusters, gives system administration and application level support to its customers.</p>
							<p>We design and deploy the appliances for you and monitor them for failures. We manage everything starting from purchase orders to the running jobs on your system.</p>
							<p>This means we also support you with problems about your applications, hardware and software issues. That way the only thing left to you is enjoy your fast and powerful computing solution.</p>
							<h5>DGX Station A100 Support Details</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX Station A100 support provides you with comprehensive system support and access to NVIDIA's cloud management portal to get the most comprehensive services from your NVIDIA DGX Station A100 system.</p>
							<p>Streamline deep learning experimentation by leveraging containerized application management, launch jobs, monitor status and get software updates with NVIDIA cloud management.</p>
							<h5>DGX Station A100 Documentation</h5>
							<div class="separator-2"></div>
							<ul>
								<li><a class="link-default" target="_blank" href="https://docs.nvidia.com/dgx/dgxa100-user-guide/index.html">DGX Station A100 User Guide</a></li>
								<li><a class="link-default" target="_blank" href="https://docs.nvidia.com/dgx/pdf/dgxa100-user-guide.pdf">DGX Station A100 User Guide (PDF)</a></li>
								<li><a class="link-default" target="_blank" href="https://images.nvidia.com/aem-dam/en-zz/Solutions/data-center/dgx-a100/dgxa100-system-architecture-white-paper.pdf">DGX Station A100 Whitepaper</a></li>
							</ul>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			{% include "getinfo.html" %}
{% endblock %}