{% extends "base.html" %}
{% block title %}FeynmanGrid&trade;{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}FeynmanGrid&trade;{% endblock %}
{% block hreflang %}{% block langlinkmobileen %}{% block langlinken %}feynmangrid.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/feynmangrid.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA FeynmanGrid&trade;</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
								Talep Üzerine Yüksek Başarımlı Hesaplama çözümü, Birinci Sınıf Destek.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row space-top">
						<div class="col-sm-6">
							<span class="space-top">&nbsp;</span>
							<img alt="" src="images/feynmangrid.jpg">
						</div>
						<div class="col-sm-6">
							<h3><strong>Feynman</strong>Grid&trade;</h3>
							<br class="hidden-sm hidden-xs">
							<div class="feature-box-2 margin-clear">
								<span class="icon without-bg"><i class="text-default icon-heart-1"></i></span>
								<div class="body">
									<h4>İşlemci Zamanı Kiralama</h4>
									<p>İşlemci zamanı ve disk alanı kiralayarak, kendi işlerinizi, uygulamalarınızı çalıştırabileceğiniz bir Yüksek Başarımlı Hesaplama hizmeti sunmaktayız. Önde gelen teorik fizikçilerden Richard P. Feynman onuruna bu hizmetimize FeynmanGrid&trade; adını verdik.</p>
									<div class="separator-2 visible-lg"></div>
								</div>
							</div>
							<div class="feature-box-2 margin-clear">
								<span class="icon without-bg"><i class="text-default icon-tools"></i></span>
								<div class="body">
									<h4>Özel Destek</h4>
									<p>FeynmanGrid&trade; hizmeti, yılların getirdiği tecrübe ve performans iyileştirmelerinin faydası ile tamamen CompecTA tarafından idare edilir ve desteklenir.</p>
									<div class="separator-2 visible-lg"></div>
								</div>
							</div>
							<div class="feature-box-2 margin-clear">
								<span class="icon without-bg"><i class="text-default icon-gauge"></i></span>
								<div class="body">
									<h4>Yüksek Performans</h4>
									<p>YBH sistemimiz, Intel’in önde gelen Xeon işlemcilerini ve FDR Infiniband ağ teknolojileri ile CompecTA’nın geliştirmiş olduğu modern ve esnek dosya sistemi çözümü olan <a href="feynmanstorz.html">FeynmanStor Z</a> kullanır.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}