{% extends "base.html" %}
{% block title %}FeynmanStor Z{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="products.html">Products</a></li>
						<li class="active">FeynmanStor Z</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/feynmanstorz2.jpg'); background-position: 50% 45%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA FeynmanStor Z</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">High Performance Flexible Storage by CompecTA HPC Solutions</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">			
					<div class="row">
						<div class="col-md-6 space-top hidden-xs hidden-sm">
							<h3 class="text-right space-top"><strong>Feynman</strong>Stor <strong>Z</strong></h3>
							<br>
							<div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 object-non-visible text-right animated object-visible fadeInDownSmall">
								<div class="body">
									<h4 class="title text-default">Coming Soon!</h4>
									<p class="large">Our storage solution is being cooked in the kitchen right now! Details will be available soon. Stay tuned!</p>
									<div class="separator-3"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6 visible-xs visible-sm">
							<h3><strong>Feynman</strong>Stor <strong>Z</strong></h3>
							<br>
							<div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall">
								<div class="body m-0">
									<h4 class="title text-default">Coming Soon!</h4>
									<p class="large">Our storage solution is being cooked in the kitchen right now! Details will be available soon. Stay tuned!</p>
									<div class="separator-3"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img data-effect-delay="200" data-animation-effect="fadeInRightSmall" class="animated fadeInRightSmall" alt="" src="images/feynmangrid.jpg">
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}