{% extends "base.html" %}
{% block title %}FeynmanGrid{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="products.html">Products</a></li>
						<li class="active">FeynmanGrid</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/feynmangrid.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA FeynmanGrid</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
								First-class Support. Rock Solid Foundation. CompecTA's approach to the HPC-on-Demand service.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 light-gray-bg border-clear">
				<div class="clearfix">
					<img alt="" src="images/feynmangrid.jpg" class="pull-right object-non-visible object-visible">
				</div>
				<div class="full-text-container light-gray-bg border-clear">
					<h3><strong>Feynman</strong>Grid</h3>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non tempore mollitia sed, temporibus, quaerat recusandae!</p> -->
					<br class="hidden-sm hidden-xs">
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg"><i class="text-default icon-heart-1"></i></span>
						<div class="body space-bottom">
							<h4>Rent CPU Time</h4>
							<p class="large">We offer an HPC Cluster service which you can use to run your applications, renting CPU time & disk space. We call it FeynmanGrid in the honour of the great physicist Richard Feynman.</p>
							<div class="separator-2 space-top visible-lg"></div>
						</div>
					</div>
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg"><i class="text-default icon-tools"></i></span>
						<div class="body space-bottom">
							<h4>Dedicated Support</h4>
							<p class="large">FeynmanGrid service is managed & supported entirely by CompecTA, taking advantage of years experience in performance optimizing HPC Clusters & first class support.</p>
							<div class="separator-2 space-top visible-lg"></div>
						</div>
					</div>
					<div class="feature-box-2 margin-clear">
						<span class="icon without-bg"><i class="text-default icon-gauge"></i></span>
						<div class="body space-bottom">
							<h4>Performance Optimized</h4>
							<p class="large">Our cluster uses Intel’s state-of-the-art Xeon CPUs with FDR Infiniband interconnects (56Gbit/s) and our modern and flexible file system solution, the <a href="feynmanstorz.html">FeynmanStor Z</a>.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			<section class="section default-bg pv-40 clearfix">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="call-to-action text-center">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2 class="title">Have an expert call you now!</h2>
											<p>Our experts can call you and answer all your questions. Please fill in the form below to hear more about FeynmanGrid Service.</p>
											<div class="separator"></div>
											<form class="form-inline margin-clear">
												<div class="form-group has-feedback">
													<label class="sr-only" for="subscribe">Email address</label>
													<i class="fa fa-envelope form-control-feedback"></i>
													<input class="form-control" id="subscribe" placeholder="Enter email" name="subscribe" required="" type="email">
												</div>
												<div class="form-group has-feedback">
													<label class="sr-only" for="subscribe-phone">Phone number</label>
													<input class="form-control" id="subscribe-phone" placeholder="Phone number" name="subscribe-phone" required="" type="phone">
													<i class="fa fa-phone form-control-feedback"></i>
												</div>
												<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Submit <i class="fa fa-send"></i></button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
{% endblock %}