{% extends "base.html" %}
{% block title %}FeynmanStor Z{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Anasayfa</a></li>
						<li><a href="products.html">Ürünler</a></li>
						<li class="active">FeynmanStor Z</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/feynmanstorz2.jpg'); background-position: 50% 45%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA FeynmanStor Z</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA Yüksek Hızlı Esnek Depolama Sistemi</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 light-gray-bg border-clear">
				<div class="container">			
					<div class="row space-top">
						<div class="col-md-6 col-md-offset-1 space-top">
							<h3 class="text-right"><strong>Feynman</strong>Stor Z</h3>
							<br>
							<div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 object-non-visible text-right animated object-visible fadeInDownSmall">
								<div class="body">
									<h4 class="title text-default">Çok Yakında!</h4>
									<p class="large">Modern ve esnek depolama çözümümüz <em>FeynmanStor Z</em> şu anda geliştirme aşamasındadır. Detaylar için takipte kalın!</p>
									<div class="separator-3"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<img data-effect-delay="200" data-animation-effect="fadeInRightSmall" class="animated fadeInRightSmall" alt="" src="images/feynmangrid.jpg">
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			<section class="section default-bg pv-40 clearfix">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="call-to-action text-center">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2 class="title">Şimdi Sizi Arayalım!</h2>
											<p>Uzmanlarımız size ulaşarak tüm sorularınızı cevaplayabilir. Daha fazla bilgi almak için bize ulaşmanız yeterlidir.</p>
											<div class="separator"></div>
											<form class="form-inline margin-clear">
												<div class="lead">
													<label class="sr-only" for="subscribe">Email address</label>
													<i class="fa fa-envelope"></i> <a href="mailto:info@compecta.com" class="link-dark">info@compecta.com</a>
													<i class="fa fa-phone pr-5 pl-10"></i> +90 216 455-1865
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>
{% endblock %}