{% extends "base.html" %}
{% block title %}High Performance Computing{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="solutions.html">Solutions</a></li>
						<li class="active">High Performance Computing</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/hpc.jpg'); background-position: 50% 35%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">High Performance Computing Solutions</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA does not just consult or give support for the system it designed, it also offers consultancy and support for the systems designed by others.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="main-container border-clear white-bg">
				<div class="container">
					<div class="row">
						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12 space-top">
							<div class="image-box style-4 light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="images/hpc/whatishpc.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-30 visible-lg"></div>
											<h3 class="text-default">What is HPC?</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">High Performance Computing most generally refers to practice of aggregating computing power in a way that delivers much higher performance than one could get out of typical desktop or workstation computer, in order to solve large problems in science, engineering or business.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4 light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6 col-md-push-6">
										<div class="overlay-container">
											<img src="images/hpc/performance.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6">
										<div class="body text-right">
											<div class="pv-20 visible-lg"></div>
											<h3 class="text-default">High Performance</h3>
											<div class="separator-3"></div>
											<p><em>Finish your computation jobs in hours instead of weeks!</em></p>
											<p>HPC systems combines high speed network interconnects, parallel file systems and reliable hardware with clever design to utilize parallel computing on the cluster. This approach enables the system to perform calculations very quickly.</p>

											<p>New generation of graphics cards (GPUs, GPGPUs and Co-Processors) pushes HPC system’s computing capacity even further. For the supported applications, a GPGPU card can speed up the calculations significantly.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4 light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="images/hpc/scalability.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-30 visible-lg"></div>
											<h3 class="text-default">Scalability</h3>
											<div class="separator-2"></div>
											<p><em>Expand your cluster in a matter of minutes!</em></p>
											<p class="margin-clear">Parallel nature of the HPC systems enables them to be scaled very easily and effortlessly. A well designed HPC Cluster can be scaled in a matter of minutes, depending on the number of nodes it contains. This easy scalability gives users a chance to start small and built their cluster up when they feel the need.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4 light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6 col-md-push-6">
										<div class="overlay-container">
											<img src="images/hpc/stability.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6">
										<div class="body text-right">
											<div class="pv-30 visible-lg"></div>
											<h3 class="text-default">Stability</h3>
											<div class="separator-3"></div>
											<p><em>Rock solid foundation!</em></p>
											<p class="margin-clear">Today most the World’s top HPC Clusters are built on top of Linux operating systems. This high level of utilization of Linux provides HPC systems, a very well designed & tested foundation to lay their cluster design on top. This rock solid foundation when combined with reliable hardware, redundant disks, redundant power supplies and more, delivers a very high uptime and a peace of mind!</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->
					</div>
				</div>
			</section>
			<!-- section end -->
			<!-- HPC Form -->
			<div class="dark-bg  default-hovered footer-top animated-text">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h2>Fill Out Our HPC Questionnaire</h2>
										<h2>Get Professional HPC Advice & Quote</h2>
									</div>
									<div class="col-sm-4">
										<p class="mt-10"><a target="_blank" href="http://goo.gl/forms/QFahRGGsOZ" class="btn btn-animated btn-lg btn-gray-transparent">Take Me There<i class="fa fa-pencil pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- section start -->
			<section class="pv-40 dark-translucent-bg" style="background-image:url('images/hpc/proscons.jpg'); background-position: 50% 40%;">
				<div class="container">
					<h2 class="title text-center"><strong>Pros & Cons</strong></h2>
					<p class="large text-center">High Performance Computing clusters has some downsides even though they provide a lot of benefits</p>
					<!-- <div class="separator"></div> -->
					<br>
					<div class="row">
						
						<div class="col-md-6">
							<div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 hpc object-non-visible right animated object-visible fadeInDownSmall">
								<!-- <span class="icon without-bg"><i class="fa fa-support"></i></span> -->
								<div class="body">
									<h4 class="title">Pros</h4>
									<div class="separator-3"></div>
									<ul class="list-icons">
										<li>Very high performance <i class="fa fa-plus-square text-default"></i></li>
										<li>Parallel computing <i class="fa fa-plus-square text-default"></i></li>
										<li>Stability <i class="fa fa-plus-square text-default"></i></li>
										<li>Scalability <i class="fa fa-plus-square text-default"></i></li>
										<li>Green computing & energy efficiency <i class="fa fa-plus-square text-default"></i></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 hpc object-non-visible animated object-visible fadeInDownSmall">
								<!-- <span class="icon without-bg"><i class="fa fa-diamond"></i></span> -->
								<div class="body">
									<h4 class="title">Cons</h4>
									<div class="separator-2"></div>
									<ul class="list-icons">
										<li><i class="fa fa-minus-square text-red"></i> Complex Design: Difficult to implement & build.</li>
										<li><i class="fa fa-minus-square text-red"></i> Troublesome Management: Need of experienced IT staff to manage the systems & keep it running.</li>
										<li><i class="fa fa-minus-square text-red"></i> Expensive: Generally requires more initial investment.</li>
										<li> &nbsp;</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-md-offset-2">
							<p class="large text-center">These downsides are exactly where CompecTA comes into place. We take all the burden from your shoulders and all you have to do is enjoy the benefits of the High Performance Computing.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Get more info -->
			{% include "getinfo.html" %}
{% endblock %}