{% extends "base.html" %}
{% block title %}Yüksek Başarımlı Hesaplama{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Anasayfa</a></li>
						<li><a href="solutions.html">Hizmetler</a></li>
						<li class="active">Yüksek Başarımlı Hesaplama</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/hpc.jpg'); background-position: 50% 35%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Yüksek Başarımlı Hesaplama Çözümleri</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA sadece kendi tasarladığı ve/veya kurduğu sistemler için danışmanlık ya da destek hizmeti sunmakla kalmaz, başkaları tarafından kurulan ve fakat optimum düzeyde çalıştırılamayan sistemler için de hizmet sunar.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="main-container border-clear white-bg">
				<div class="container">
					<div class="row">
						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12 space-top">
							<div class="image-box style-4 light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="images/hpc/whatishpc.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-30 visible-lg"></div>
											<h3 class="text-default">YBH Nedir?</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">Yüksek Başarımlı Hesaplama, genel olarak, bir PC veya iş istasyonundan alabileceğinizden çok daha yüksek hesaplama gücü alabileceğiniz şekilde birden çok bilgisayarın gücünü toplamaktır. Bu sayede bilim, mühendisilik ve iş hayatında karşılaşılan büyük problemler çözülebilir.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4 light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6 col-md-push-6">
										<div class="overlay-container">
											<img src="images/hpc/performance.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6">
										<div class="body text-right">
											<div class="pv-20 visible-lg"></div>
											<h3 class="text-default">Yüksek Başarım</h3>
											<div class="separator-3"></div>
											<p><em>Hesaplama işlerinizi haftalar yerine saatler içerisinde tamamlayın!</em></p>
											<p>YBH sistemleri, yüksek hızlı ağ kartları, paralel dosya sistemleri ile güvenilir donanım ürünlerini akıllı bir tasarımda birleştirip paralel hesaplama yapmak amacıyla kullanılırlar. Bu yaklaşım sistemin çok yüksek hızlarda ve hacimde hesaplama yapmasına olanak sağlar.</p>

											<p>Yeni jenerasyon grafik kartları ile (GPU, GPGPU veya Co-Processor’lar), YBH sistemlerin hesaplama kapasitelerini daha da ileriye götürmektedirler. Teknolojinin desteklediği uygulamalar, kayda değer miktarda hızlanmaktadır.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4 light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="images/hpc/scalability.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-20 visible-lg"></div>
											<h3 class="text-default">Ölçeklenebilir</h3>
											<div class="separator-2"></div>
											<p><em>Sisteminizi dakikalar içinde genişletin!</em></p>
											<p class="margin-clear">YBH sistemlerinin paralel doğası sayesinde çok kolay ve zahmetsiz şekilde ölçeklenebilmektedirler. İyi tasarlanmış bir YBH sistemi, bünyesindeki makina sayısına bağlı olarak dakikalar içinde büyütülebilir. Bu kolay ölçeklenme özelliği, kullanıcılara küçük bir YBH sistemi ile başlayıp, daha sonra ihtiyaç duydukça büyümeye imkan sağlar.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4 light-gray-bg">
								<div class="row grid-space-0">
									<div class="col-md-6 col-md-push-6">
										<div class="overlay-container">
											<img src="images/hpc/stability.jpg" alt="">
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6">
										<div class="body text-right">
											<div class="pv-20 visible-lg"></div>
											<h3 class="text-default">Kararlılık</h3>
											<div class="separator-3"></div>
											<p><em>Güvenilir sistem altyapısı!</em></p>
											<p class="margin-clear">Günümüzde dünyanın önde gelen tüm Yüksek Başarımlı Hesaplama sistemleri Linux işletim sistemi üzerinde çalışmaktadırlar. Linux, YBH mühendislerine tasarımlarını oturtacakları çok sağlam ve kanıtlanmış bir temel oluşturur. Bu kararlı altyapı, yedekli disk ve güç kaynakları gibi güvenilir donanım bileşenleri ile harmanlandığında yüksek hizmet verme oranı ve kullanıcılarına iç huzuru sağlar.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<section class="pv-40 dark-translucent-bg" style="background-image:url('images/hpc/proscons.jpg'); background-position: 50% 40%;">
				<div class="container">
					<h2 class="title text-center"><strong>Artılar & Eksiler</strong></h2>
					<p class="large text-center">Yüksek Başarımlı Hesaplama kümelerinin bir çok olumlu yönü arasında bazı dezavantajları da vardır.</p>
					<!-- <div class="separator"></div> -->
					<br>
					<div class="row">
						
						<div class="col-md-6">
							<div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 hpc object-non-visible right animated object-visible fadeInDownSmall">
								<!-- <span class="icon without-bg"><i class="fa fa-support"></i></span> -->
								<div class="body">
									<h4 class="title">Artıları</h4>
									<div class="separator-3"></div>
									<ul class="list-icons">
										<li>Çok yüsek başarım <i class="fa fa-plus-square text-default"></i></li>
										<li>Paralel hesaplama <i class="fa fa-plus-square text-default"></i></li>
										<li>Kararlılık <i class="fa fa-plus-square text-default"></i></li>
										<li>Kolay ölçeklenebilirlik <i class="fa fa-plus-square text-default"></i></li>
										<li>Enerji verimliliği <i class="fa fa-plus-square text-default"></i></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 hpc object-non-visible animated object-visible fadeInDownSmall">
								<!-- <span class="icon without-bg"><i class="fa fa-diamond"></i></span> -->
								<div class="body">
									<h4 class="title">Eksileri</h4>
									<div class="separator-2"></div>
									<ul class="list-icons">
										<li><i class="fa fa-minus-square text-red"></i> Karmaşık Tasarım: Tasarlanması ve kurulması zordur.</li>
										<li><i class="fa fa-minus-square text-red"></i> Zahmetli Yönetim: İdaresi ve bakımı için tecrübeli BT elemanlarına ihtiyacınız vardır.</li>
										<li><i class="fa fa-minus-square text-red"></i> Pahalı: Çoğunlukla ilk yatırım maliyeti yüksektir.</li>
										<li> &nbsp;</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-md-offset-2">
							<p class="large text-center">Tam olarak buradaki olumsuz özellikler, CompecTA’nın sahneye çıktığı yerdir. YBH sistemlerin size yüklediği can sıkıcı tüm işleri üstlenip, size sadece sistemi kullanmayı ve kısa sürede tamamlanan işlerinizden keyif almayı bırakıyoruz.</p>
						</div>
					
					</div>
				</div>
			</section>
			<!-- section end -->
			<section class="section default-bg pv-40 clearfix">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="call-to-action text-center">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2 class="title">Şimdi Sizi Arayalım!</h2>
											<p>Uzmanlarımız size ulaşarak tüm sorularınızı cevaplayabilir. Daha fazla bilgi almak için bize ulaşmanız yeterlidir.</p>
											<div class="separator"></div>
											<form class="form-inline margin-clear">
												<div class="lead">
													<label class="sr-only" for="subscribe">Email address</label>
													<i class="fa fa-envelope"></i> <a href="mailto:info@compecta.com" class="link-dark">info@compecta.com</a>
													<i class="fa fa-phone pr-5 pl-10"></i> +90 216 455-1865
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>
{% endblock %}