{% extends "base.html" %}
{% block breadcrumb %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="pv-30 banner">
				<div class="container clearfix">

					<!-- slideshow start -->
					<!-- ================ -->
					<div class="slideshow">
						
						<!-- slider revolution start -->
						<!-- ================ -->
						<div class="slider-banner-container">
							<div class="slider-banner-boxedwidth">
								<ul class="slides">

									<!-- slide 8 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="NVIDIA DGX&trade; Systems">
										<!-- main image -->
										<img src="images/slides/slide-10.jpg" alt="slidebg1" data-bgposition="left bottom" data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout large_white"
											data-x="70"
											data-y="100"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="deeplearning.html">NVIDIA DGX&trade; Sistemleri</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
											data-x="70"
											data-y="170"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator-2 light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white hidden-xs"
											data-x="70"
											data-y="190"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="deeplearning.html">Yapay Zekanın Eşsiz Talepleri için Üretildi</a><br>
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white hidden-xs"
											data-x="70"
											data-y="230"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="deeplearning.html" class="btn btn-gray btn-animated">İncele <i class="fa fa-arrow-right"></i></a>
										</div>
										<!-- LAYER NR. 5 -->
										<div class="tp-caption sfb fadeout small_white hidden-xs"
											data-x="70"
											data-y="340"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><img src="images/NVIDIA_ElitePartner.png" class="slide-nvidia-partner visible-lg visible-md"></a>
										</div>
										<!-- LAYER NR. 6 -->
										<div class="tp-caption sfb fadeout small_dark hidden-xs"
											data-x="220"
											data-y="340"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a target="_blank" href="http://www.nvidia.com.tr/object/where-to-buy-dgx1-tr.html"><small>CompecTA, NVIDIA'nın Türkiye'deki <br> Compute DGX İş Ortağıdır.</small></a>
										</div>
									</li>
									<!-- slide 8 end -->

									<!-- slide 3 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Derin Öğrenme Çözümleri">
										<!-- main image -->
										<img src="images/slides/slide-3.jpg" alt="slidebg1" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout large_white"
											data-x="70"
											data-y="90"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="deeplearning.html">CompecTA Derin Öğrenme ve AI Çözümleri</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
											data-x="70"
											data-y="150"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator-2 light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white hidden-xs"
											data-x="70"
											data-y="170"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="nova.html">CompecTA Nova Engine&trade;</a><br>
												<a href="supernova.html">CompecTA SuperNova Engine&trade;</a><br>
												<a href="dgx-a100.html">NVIDIA DGX A100&trade;</a><br>
												<a href="dgxstation-a100.html">NVIDIA DGX Station&trade; A100</a>
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white hidden-xs"
											data-x="70"
											data-y="320"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="deeplearning.html" class="btn btn-gray btn-animated">İncele <i class="fa fa-arrow-right"></i></a>
										</div>
									</li>
									<!-- slide 3 end -->

									<!-- slide 4 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="CompecTA Nova Engine&trade;">
										<!-- main image -->
										<img src="images/slides/slide-4.jpg" alt="slidebg4" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout large_white"
											data-x="70"
											data-y="90"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="nova.html">CompecTA Nova Engine&trade;</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
											data-x="70"
											data-y="150"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator-2 light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white hidden-xs"
											data-x="70"
											data-y="170"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="nova.html">NVIDIA DIGITS&trade; içeren Derin Öğrenme Bilgisayarı<br>
												Hepsi Bir Arada & Kullanıma Hazır<br>
												Hızlı, Enerji Tasarruflu, Serin ve Sessiz<br>
												Derin Öğrenme İş İstasyonu Çözümü</a>
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white hidden-xs"
											data-x="70"
											data-y="320"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="nova.html" class="btn btn-gray btn-animated">İncele <i class="fa fa-arrow-right"></i></a>
										</div>
										<!-- LAYER NR. 5 -->
										<div class="tp-caption sfb fadeout"
											data-x="620"
											data-y="140"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="nova.html"><img src="images/slides/slide-4-1.png" alt="Nova Engine"></a>
										</div>
									</li>
									<!-- slide 4 end -->

									<!-- slide 5 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="CompecTA SuperNova Engine&trade;">
										<!-- main image -->
										<img src="images/slides/slide-5.jpg" alt="slidebg4" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout large_white"
											data-x="70"
											data-y="90"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="supernova.html">CompecTA SuperNova Engine&trade;</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
											data-x="70"
											data-y="150"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator-2 light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white hidden-xs"
											data-x="70"
											data-y="170"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="supernova.html">Ölçeklenebilir Derin Öğrenme Sunucu Sistemleri <br>
												Süper-Hızlı & Verimli<br>
												Hepsi Bir Arada & Kullanıma Hazır<br>
												Kurumsal Destek Hizmeti</a>
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white hidden-xs"
											data-x="70"
											data-y="320"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="supernova.html" class="btn btn-gray btn-animated">İncele <i class="fa fa-arrow-right"></i></a>
										</div>
										<!-- LAYER NR. 5 -->
										<div class="tp-caption sfb fadeout"
											data-x="600"
											data-y="100"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="supernova.html"><img src="images/slides/slide-5-1.png" alt="SuperNova Engine"></a>
										</div>
									</li>
									<!-- slide 5 end -->

									<!-- slide 6 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="NVIDIA DGX&trade; A100">
										<!-- main image -->
										<img src="images/slides/slide-6.jpg" alt="slidebg1" data-bgposition="left bottom" data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout large_white"
											data-x="70"
											data-y="100"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="dgx-a100.html">NVIDIA DGX&trade; A100</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
											data-x="70"
											data-y="170"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator-2 light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white hidden-xs"
											data-x="70"
											data-y="190"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="dgx-a100.html">Yapay Zeka Altyapısı için Evrensel Bir Sistem<br>
												Derin Öğrenme ve Yapay Zekayanın En Hızlı Yolu<br>
												Her DGX Sistemiyle Beraber Uzman AI Desteği<br></a>
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white hidden-xs"
											data-x="70"
											data-y="320"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="dgx-a100.html" class="btn btn-gray btn-animated">View <i class="fa fa-arrow-right"></i></a>
										</div>
									</li>
									<!-- slide 6 end -->

									<!-- slide 7 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="NVIDIA DGX Station&trade; A100">
										<!-- main image -->
										<img src="images/slides/slide-7.jpg" alt="slidebg4" data-bgposition="left bottom" data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout large_white"
											data-x="70"
											data-y="120"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="dgxstation-a100.html">NVIDIA DGX Station&trade; A100</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
											data-x="70"
											data-y="180"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator-2 light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white hidden-xs"
											data-x="70"
											data-y="200"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="dgxstation-a100.html">Yapay Zeka Çağı için Çalışma Grubu Çözümü<br>
												Veri Bilimi Ekipleri için Yapay Zeka Süper-Bilgisayarı<br>
												Veri Merkezi Olmadan Veri Merkezi Performansı<br></a>
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white hidden-xs"
											data-x="70"
											data-y="320"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="dgxstation-a100.html" class="btn btn-gray btn-animated">View <i class="fa fa-arrow-right"></i></a>
										</div>
									</li>
									<!-- slide 7 end -->

									<!-- slide 2 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="VDI & Uygulama Sanallaştırma">
										<!-- main image -->
										<img src="images/slides/slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout text-center large_white"
											data-x="center"
											data-y="110"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="http://nvidiagrid.compecta.com.tr/" target="_blank">NVIDIA GRID™, Citrix, Microsoft & VMware</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout text-center large_white tp-resizeme hidden-xs"
											data-x="center"
											data-y="155"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white text-center hidden-xs"
											data-x="center"
											data-y="190"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">NVIDIA GRID ürünleriyle desteklenen <br>CompecTA'nın VDI ve Uygulama Sanallaştırma Çözümleri <br>yeni mikro sitemizi inceleyin.
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white text-center hidden-xs"
											data-x="center"
											data-y="300"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="http://nvidiagrid.compecta.com.tr/" target="_blank" class="btn btn-gray btn-animated">Git <i class="fa fa-arrow-right"></i></a>
										</div>
									</li>
									<!-- slide 2 end -->

									<!-- slide 1 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Tofaş YBH Kümesi">
										<!-- main image -->
										<img src="images/slides/slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout text-center large_white"
											data-x="center"
											data-y="110"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="http://www.fujitsu.com/fts/about/resources/news/press-releases/2014/CEMEAI-140521-Fujitsu-Drives-it-Home-with-High-Performance.html" target="_blank">TOFAŞ YBH Kümesi Kurulum ve Desteği</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout text-center large_white tp-resizeme hidden-xs"
											data-x="center"
											data-y="155"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white text-center hidden-xs"
											data-x="center"
											data-y="190"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">CompecTA'nın TOFAŞ'a sunduğu anahtar teslim YBH Çözümü <br> <em>"Otomotivde En İyi YBH Uygulaması"</em> ödülünün sahibi oldu!
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white text-center hidden-xs"
											data-x="center"
											data-y="300"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="https://www.hpcwire.com/2014-hpcwire-readers-choice-awards/5/" target="_blank" class="btn btn-gray btn-animated">HPCwire Haberini Oku<i class="fa fa-arrow-right"></i></a> &nbsp;
												<a href="http://www.fujitsu.com/fts/about/resources/news/press-releases/2014/CEMEAI-140521-Fujitsu-Drives-it-Home-with-High-Performance.html" target="_blank" class="btn btn-gray btn-animated">Fujitsu Haberini Oku<i class="fa fa-arrow-right"></i></a>
										</div>
									</li>
									<!-- slide 1 end -->
								</ul>
								<div class="tp-bannertimer"></div>
							</div>
						</div>
						<!-- slider revolution end -->

					</div>
					<!-- slideshow end -->

				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg pv-30 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-10 mb-20">
							<h3 data-effect-delay="100" data-animation-effect="fadeIn" class="title object-non-visible animated object-visible fadeIn">CompecTA <strong>Ne Yapar?</strong></h3>
							<div class="separator"></div>
							<p class="large">CompecTA bir YBH şirketidir. Terzi usulü ve anahtar teslim Yüksek Başarımlı Hesaplama sistemleri tasarlıyor, kuruyor ve desteğini veriyoruz.</p>
							<p>Öncelikli hedefimiz her zaman için müşteri memnuniyetidir. Fakat bu bizi yüksek kaliteli ürünlere ve hizmete de aynı önemi vermekten alıkoymaz. Biz ihtiyaçlarınızı dinler ve sonrasında doğru soruları sorarak, sizin için en uygun YBH çözümüne yönlendiririz.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="hpc.html"><img src="images/box-hpc.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">Yüksek Başarımlı Hesaplama</h4>
									<h5 class="visible-md">Yüksek Başarımlı Hesaplama</h5>
									<div class="separator"></div>
									<p>CompecTA sektördeki en deneyimli çalışanlarıyla, her zaman son teknoloji ürünler kullanarak YBH çözümleri tasarlar.</p>
									<a href="hpc.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Devamı<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="deeplearning.html"><img src="images/box-deeplearning.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">Derin Öğrenme Çözümleri</h4>
									<h5 class="visible-md">Derin Öğrenme Çözümleri</h5>
									<div class="separator"></div>
									<p>Yüksek Başarımlı Hesaplama alanındaki bilgi birikimiz ile Derin Öğrenme ihtiyaçlarınıza özel çözümler sunuyoruz.</p>
									<span class="visible-md"><br></span>
									<a href="deeplearning.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Devamı<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="dgx-a100.html"><img src="images/box-dgx-a100.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">NVIDIA DGX A100</h4>
									<h5 class="visible-md">NVIDIA DGX A100</h5>
									<div class="separator"></div>
									<p>Tüm AI iş yükleri için özelleştirilmiş dünyanın en hızlı AI sistemi NVIDIA DGX'in üçüncü nesil çözümü.</p>
									<a href="dgx-a100.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Devamı<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="cloud.html"><img src="images/box-cloud.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">Bulut Hesaplama</h4>
									<h5 class="visible-md">Bulut Hesaplama</h5>
									<div class="separator"></div>
									<p>CompecTA, müşterilerine bulut altyapısını en yenilikçi ve güçlü tekniklerle tasarlamaya ve uygulamaya yardımcı olur.</p>
									<a href="cloud.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Devamı<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="nova.html"><img src="images/box-nova.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">CompecTA Nova Engine&trade;</h4>
									<h5 class="visible-md">CompecTA Nova Engine&trade;</h5>
									<div class="separator"></div>
									<p>Derin Öğrenme ve AI için, kompakt yapıda süper-hızlı Sinir Ağı Eğitimi (Neural Network Training) ve Çıkarım (Inferencing) performansı sağlar.</p>
									<span class="visible-md visible-sm"><br></span>
									<a href="nova.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Devamı<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="starterpack.html"><img src="images/box-starterpack.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">YBH Başlangıç Paketi</h4>
									<h5 class="visible-md">YBH Başlangıç Paketi</h5>
									<div class="separator"></div>
									<p>YBH Başlangıç Paketi sayedinde kurulumlar, kullanıcı yönetimi ve optimizasyonlar ile uğraşmadan hesaplamaya başlayın.</p>
									<a href="starterpack.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Devamı<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			<div class="modal fade" id="10KasimModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content modal-18mart">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
							<h4 class="modal-title hidden-xs" id="myLargeModalLabel">Sevgi, Saygı ve Özlemle Anıyoruz!</h4>
							<h4 class="modal-title visible-xs" id="myLargeModalLabel">Sevgi, Saygı ve Özlemle Anıyoruz!</h4>
						</div>
						<div class="modal-body">
							<img class="hidden-xs hidden-sm" src="images/10kasim-banner.jpg">
							<img class="visible-xs visible-sm" src="images/10kasim-banner-mobile.jpg">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Kapat</button>
						</div>
					</div>
				</div>
			</div>
			{% include "getinfo.html" %}
{% endblock %}
{% block extrajs %}


	<!-- jQuery Revolution Slider  -->
	<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript">
		$(window).load(function()
		{
		    $('#10KasimModal').modal('show');
		});
	</script>
{% endblock %}