{% extends "base.html" %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="pv-30 banner">
				<div class="container clearfix">

					<!-- slideshow start -->
					<!-- ================ -->
					<div class="slideshow">
						
						<!-- slider revolution start -->
						<!-- ================ -->
						<div class="slider-banner-container">
							<div class="slider-banner-boxedwidth">
								<ul class="slides">
									<!-- slide 3 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Deep Learning Solutions">
										<!-- main image -->
										<img src="images/slides/slide-3.jpg" alt="slidebg1" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="70"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout large_white"
											data-x="70"
											data-y="90"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="deeplearning.html">CompecTA Deep Learning Solutions</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
											data-x="70"
											data-y="150"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator-2 light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white hidden-xs"
											data-x="70"
											data-y="170"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="nova.html">CompecTA Nova Engine&trade;</a><br>
												<a href="supernova.html">CompecTA SuperNova Engine&trade;</a><br>
												<a href="dgx-1.html">NVIDIA<sup>&reg;</sup> DGX-1&trade;</a>
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white hidden-xs"
											data-x="70"
											data-y="300"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="deeplearning.html" class="btn btn-gray btn-animated">View <i class="fa fa-arrow-right"></i></a>
										</div>
									</li>
									<!-- slide 3 end -->

									<!-- slide 2 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="NVIDIA GRID Microsite">
										<!-- main image -->
										<img src="images/slides/slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout text-center large_white"
											data-x="center"
											data-y="110"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="http://nvidiagrid.compecta.com.tr/" target="_blank">NVIDIA GRID™, Citrix, Microsoft & VMware</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout text-center large_white tp-resizeme hidden-xs"
											data-x="center"
											data-y="155"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white text-center hidden-xs"
											data-x="center"
											data-y="190"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">NVIDIA GRID powered <br> VDI and application virtualization solutions <br> of CompecTA has a new micro website. 
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white text-center hidden-xs"
											data-x="center"
											data-y="300"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="http://nvidiagrid.compecta.com.tr/" target="_blank" class="btn btn-gray btn-animated">Visit <i class="fa fa-arrow-right"></i></a>
										</div>
									</li>
									<!-- slide 2 end -->

									<!-- slide 1 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Tofaş HPC Cluster">
										<!-- main image -->
										<img src="images/slides/slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout text-center large_white"
											data-x="center"
											data-y="110"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad"><a href="http://www.fujitsu.com/fts/about/resources/news/press-releases/2014/CEMEAI-140521-Fujitsu-Drives-it-Home-with-High-Performance.html" target="_blank">TOFAS HPC Cluster Installation and Support</a>
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout text-center large_white tp-resizeme hidden-xs"
											data-x="center"
											data-y="155"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator light"></div>
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white text-center hidden-xs"
											data-x="center"
											data-y="190"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">CompecTA's turn-key HPC Solution for TOFAŞ <br>Fujitsu published the turn-key HPC solution for TOFAS as a success story.
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white text-center hidden-xs"
											data-x="center"
											data-y="300"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600">
												<a href="http://www.fujitsu.com/fts/about/resources/news/press-releases/2014/CEMEAI-140521-Fujitsu-Drives-it-Home-with-High-Performance.html" target="_blank" class="btn btn-gray btn-animated">Read More<i class="fa fa-arrow-right"></i></a>
										</div>
									</li>
									<!-- slide 1 end -->
								</ul>
								<div class="tp-bannertimer"></div>
							</div>
						</div>
						<!-- slider revolution end -->

					</div>
					<!-- slideshow end -->

				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg pv-30 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-10 mb-20">
							<h3 data-effect-delay="100" data-animation-effect="fadeIn" class="title object-non-visible animated object-visible fadeIn">What <strong>We Do?</strong></h3>
							<div class="separator"></div>
							<p class="large">CompecTA is the HPC Company. We design, develop and support tailor made and turn-key HPC Solutions.</p>
							<p>Our main goal is always customer satisfaction but this does not stop us to pay the same importance to high quality products. We listen to your needs and ask the right questions to lead you towards the correct HPC design for your very needs.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="hpc.html"><img src="images/box-hpc.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">High Performance Computing</h4>
									<h5 class="visible-md">High Performance Computing</h5>
									<div class="separator"></div>
									<p>CompecTA has the most competent employees in HPC market of Turkey and uses the latest innovations at system design.</p>
									<a href="hpc.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>												
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="deeplearning.html"><img src="images/box-deeplearning.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">Deep Learning Solutions</h4>
									<h5 class="visible-md">Deep Learning Solutions</h5>
									<div class="separator"></div>
									<p>We offer our years of experience in High Performance Computing for your Deep Learning needs.</p>
									<span class="visible-md"><br></span>
									<a href="deeplearning.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>												
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="dgx-1.html"><img src="images/box-dgx-1.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">NVIDIA DGX-1&trade;</h4>
									<h5 class="visible-md">NVIDIA DGX-1&trade;</h5>
									<div class="separator"></div>
									<p>NVIDIA DGX-1&trade; provided by CompecTA has over 170 TFLOPS of performance for Artificial Intelligence workloads.</p>
									<a href="dgx-1.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>												
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="cloud.html"><img src="images/box-cloud.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">Cloud Computing</h4>
									<h5 class="visible-md">Cloud Computing</h5>
									<div class="separator"></div>
									<p>CompecTA helps its customers to design and implement their cloud infrastructure with the most innovative and powerful techniques.</p>
									<a href="cloud.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>												
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="nova.html"><img src="images/box-nova.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">CompecTA Nova Engine&trade;</h4>
									<h5 class="visible-md">CompecTA Nova Engine&trade;</h5>
									<div class="separator"></div>
									<p>CompecTA Nova Engine&trade; delivers super-fast Neural Network training and inferencing with small package.</p>
									<span class="visible-md visible-sm"><br></span>
									<a href="nova.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>												
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered text-center">
								<div class="overlay-container">
									<a href="starterpack.html"><img src="images/box-starterpack.jpg" alt=""></a>
								</div>
								<div class="body">
									<h4 class="hidden-md">HPC Starter Pack</h4>
									<h5 class="visible-md">HPC Starter Pack</h5>
									<div class="separator"></div>
									<p>HPC Starter Pack comes bundled with one year first-class support. You don’t have to deal with installations, user management or optimizations.</p>
									<a href="starterpack.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>												
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}