{% extends "base.html" %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="pv-30 banner">
				<div class="container clearfix">

					<!-- slideshow start -->
					<!-- ================ -->
					<div class="slideshow">
						
						<!-- slider revolution start -->
						<!-- ================ -->
						<div class="slider-banner-container">
							<div class="slider-banner-boxedwidth">
								<ul class="slides">
									<!-- slide 1 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="NVIDIA GRID Mikrosite">
									
									<!-- main image -->
									<img src="images/slides/slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
									
									<!-- Transparent Background -->
									<div class="tp-caption dark-translucent-bg"
										data-x="center"
										data-y="bottom"
										data-speed="600"
										data-start="0">
									</div>

									<!-- LAYER NR. 1 -->
									<div class="tp-caption sfb fadeout text-center large_white"
										data-x="center"
										data-y="110"
										data-speed="500"
										data-start="1000"
										data-easing="easeOutQuad">NVIDIA GRID™, Citrix, Microsoft & VMware
									</div>	

									<!-- LAYER NR. 2 -->
									<div class="tp-caption sfb fadeout text-center large_white tp-resizeme hidden-xs"
										data-x="center"
										data-y="155"
										data-speed="500"
										data-start="1300"
										data-easing="easeOutQuad"><div class="separator light"></div>
									</div>	

									<!-- LAYER NR. 3 -->
									<div class="tp-caption sfb fadeout medium_white text-center hidden-xs"
										data-x="center"
										data-y="190"
										data-speed="500"
										data-start="1300"
										data-easing="easeOutQuad"
										data-endspeed="600">NVIDIA GRID kartlarıyla güçlendirilmiş <br> sanal masaüstü altyapısı ve sanallaştırma çözümlerimiz <br> ile ilgili mikro sitemiz yayında.
									</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption sfb fadeout small_white text-center hidden-xs"
										data-x="center"
										data-y="300"
										data-speed="500"
										data-start="1600"
										data-easing="easeOutQuad"
										data-endspeed="600">
											<a target="_blank" href="http://nvidiagrid.compecta.com.tr/" class="btn btn-gray btn-animated">Siteye Git <i class="fa fa-arrow-right"></i></a>
									</div>

									</li>
									<!-- slide 1 end -->

									<!-- slide 2 start -->
									<!-- ================ -->
									<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Tofaş HPC Çözümümüz">
									
									<!-- main image -->
									<img src="images/slides/slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

									<!-- Transparent Background -->
									<div class="tp-caption dark-translucent-bg"
										data-x="center"
										data-y="bottom"
										data-speed="600"
										data-start="0">
									</div>

									<!-- LAYER NR. 1 -->
									<div class="tp-caption sfb fadeout text-center large_white"
										data-x="center"
										data-y="110"
										data-speed="500"
										data-start="1000"
										data-easing="easeOutQuad">TOFAS Anahar Teslimi HPC Projesi
									</div>	

									<!-- LAYER NR. 2 -->
									<div class="tp-caption sfb fadeout text-center large_white tp-resizeme hidden-xs"
										data-x="center"
										data-y="155"
										data-speed="500"
										data-start="1300"
										data-easing="easeOutQuad"><div class="separator light"></div>
									</div>	

									<!-- LAYER NR. 3 -->
									<div class="tp-caption sfb fadeout medium_white text-center hidden-xs"
										data-x="center"
										data-y="190"
										data-speed="500"
										data-start="1300"
										data-easing="easeOutQuad"
										data-endspeed="600">CompecTA'nın TOFAŞ AR-GE'de gerçekleştirdiği anahtar teslimi HPC projesi <br> Fujitsu tarafından başarı hikayesi yapıldı.
									</div>

									<!-- LAYER NR. 4 -->
									<div class="tp-caption sfb fadeout small_white text-center hidden-xs"
										data-x="center"
										data-y="300"
										data-speed="500"
										data-start="1600"
										data-easing="easeOutQuad"
										data-endspeed="600">
											<a target="_blank" href="http://www.fujitsu.com/fts/about/resources/news/press-releases/2014/CEMEAI-140521-Fujitsu-Drives-it-Home-with-High-Performance.html" class="btn btn-gray btn-animated">Haberi Oku<i class="fa fa-arrow-right"></i></a>
									</div>

									</li>
									<!-- slide 2 end -->
								</ul>
								<div class="tp-bannertimer"></div>
							</div>
						</div>
						<!-- slider revolution end -->

					</div>
					<!-- slideshow end -->

				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg mt-10 mb-10 pv-30 padding-bottom-clear clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-10 mb-20">
							<h3 data-effect-delay="100" data-animation-effect="fadeIn" class="title object-non-visible animated object-visible fadeIn">CompecTA <strong>Ne Yapar?</strong></h3>
							<div class="separator"></div>
							<p class="large">CompecTA bir YBH şirketidir. Terzi usulü ve anahtar teslim Yüksek Başarımlı Hesaplama sistemleri tasarlıyor, kuruyor ve desteğini veriyoruz.</p>
							<p>Öncelikli hedefimiz her zaman için müşteri memnuniyetidir. Fakat bu bizi yüksek kaliteli ürünlere ve hizmete de aynı önemi vermekten alıkoymaz. Biz ihtiyaçlarınızı dinler ve sonrasında doğru soruları sorarak, sizin için en uygun YBH çözümüne yönlendiririz.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="pv-30 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="fa fa-line-chart"></i></span>
								<div class="body">
									<h4 class="title hidden-sm"><a href="hpc.html">Yüksek Başarımlı Hesaplama</a></h4>
									<h4 class="title visible-sm">YBH</h4>
									<p>YBH, genel olarak, bir PC veya iş istasyonundan alabileceğinizden çok daha yüksek hesaplama gücü alabileceğiniz şekilde birden çok bilgisayarın gücünü toplamaktır.</p>
									<a href="hpc.html">Devamı<i class="pl-5 fa fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="pv-30 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="fa fa-cloud"></i></span>
								<div class="body">
									<h4 class="title"><a href="cloud.html">Bulut Bilişim</a></h4>
									<p>CompecTA, yenilikçi Bulut Bilişim uygulamaları ile müşterilerine tasarım, satın alma ve kurulum aşamalarında halka açık ya da özel bulutları için çözümler sunmaktadır.</p>
									<a href="cloud.html">Devamı<i class="pl-5 fa fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="pv-30 ph-20 feature-box-2 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="fa fa-server"></i></span>
								<div class="body">
									<h4 class="title"><a href="starterpack.html">HPC Başlangıç Paketi</a></h4>
									<p>HPC Başlangıç Paketi bir yıllık üst düzey destek hizmeti içermektedir. Bu sayede program kurulumu, performans optimizasyonu gibi konularla uğraşmazsınız.</p>
									<a href="starterpack.html">Devamı<i class="pl-5 fa fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			<section class="section default-bg pv-40 clearfix">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="call-to-action text-center">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2 class="title">Şimdi Sizi Arayalım!</h2>
											<p>Uzmanlarımız size ulaşarak tüm sorularınızı cevaplayabilir. Daha fazla bilgi almak için bize ulaşmanız yeterlidir.</p>
											<div class="separator"></div>
											<form class="form-inline margin-clear">
												<div class="lead">
													<label class="sr-only" for="subscribe">Email address</label>
													<i class="fa fa-envelope"></i> <a href="mailto:info@compecta.com" class="link-dark">info@compecta.com</a>
													<i class="fa fa-phone pr-5 pl-10"></i> +90 216 455-1865
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>
{% endblock %}