{% extends "base.html" %}
{% block title %}CompecTA Nova&trade; Serisi ile Derin Öğrenme{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA Nova&trade; Serisi{% endblock %}
{% block hreflang %}{% block langlinkmobileen %}{% block langlinken %}nova.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/nova.jpg'); background-position: 50% 65%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA Nova&trade; Serisi ile Yapay Zeka ve Derin Öğrenme</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA<sup>&reg;</sup> DIGITS&trade; ve 4 GPU içeren Derin Öğrenme ve Yapay Zeka Geliştirici Bilgisayarı</p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Derin Öğrenmenin Hızlı ve Kolay Yolu! Derin Öğrenme, bilgisayarların görseller, sesler ve metinler gibi sonsuz miktarda veriyi anlamasına yardımcı olan, en hızlı büyüyen yapay zeka alanıdır.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3 class="visible-sm">Hepsi Bir Arada & Kullanıma Hazır</h3>
							<h4 class="hidden-sm">Hepsi Bir Arada & Kullanıma Hazır</h4>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine&trade;, Derin Öğrenme ihtiyaçlarına özel <strong>hepsi birarada, güçlü, enerji tasarruflu, serin ve sessiz</strong> çalışan <strong>4 GPU içeren</strong> iş istasyonu çözümüdür. NVIDIA&reg; DIGITS&trade; DevBox'a bir alternatiftir.</p>
							<p>Dünyanın <strong>en iyi donanım, yazılım ve sistem mühendisliği</strong> ile oluşturulmuş masa başına koyabileceğiniz, Derin Öğrenme sistemidir.</p>
							<p>Derin Öğrenme sinir ağı kütüphanesi, Derin Öğrenme gereçleri, işletim sistemi ve sürücüler <strong>önceden kurulmuş ve kullanıma hazır</strong> olarak gelir.</p>
						</div>
						<div class="col-md-4">
							<h3 class="visible-sm">Kurumsal Destek Hizmeti</h3>
							<h4 class="hidden-sm">Kurumsal Destek Hizmeti</h4>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine&trade; 20 yılı aşkın tecrübeye sahip YBH uzmanları tarafından sunulan <strong>Kurumsal Destek Hizmet</strong> paketi ile birlikte gelir.</p>
							<p>Sisteminizde karşılaşabileceğiniz her türlü soruna destek bulabilirsiniz.</p>
							<br>
							<img class="nv-preferred hidden-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
						</div>
						<div class="col-md-4">
							<h3 class="visible-sm">Ücretsiz CPU Zamanı</h3>
							<h4 class="hidden-sm">Ücretsiz CPU Zamanı</h4>
							<div class="separator-2"></div>
							<p>CompecTA'nın kendi bünyesindeki Yüksek Başarımlı Hesaplama sistemi <strong>FeynmanGrid&trade;</strong> üzerinde çalışabileceğiniz <strong>ücretsiz 100 bin saatlik CPU Zamanı</strong> ile beraber gelmektedir.</p>
							<p>YBH Sistemlerini kullanma, uygulama performans testi veya yeni bir kod / uygulama test etme deneyimi kazanmak için bu fırsatı kullanabilirsiniz.</p>
							<img class="nv-preferred visible-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
							<div class="space-top visible-xs"></div>
							<img class="frameworks" src="images/frameworks.jpg" alt="DL Framewroks">
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA Nova&trade; Serisi</h3>
							<p class="small"><em>NVIDIA<sup>&reg;</sup> DIGITS&trade; içeren Derin Öğrenme ve Yapay Zeka Geliştirici Bilgisayarları</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>R49</strong></span> <sup class="badge badge-green">YENİ</sup></h3>
									<p class="performance"><strong>2.64 petaFLOPS Tensor Performance</strong><br>330.32 TFLOPS of FP16 Performance<br>330.32 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										<span class="text-default">
											Makine Öğrenimi<br>
											Yapay Zeka ve Derin Öğrenme<br>
											Süper Hızlı Sinir Ağı Eğitimi<br>
											Süper Hızlı Çıkarım
										</span>
									</p>
									<p class="price"><br><strong>TEKLİF İSTEYİNİZ</strong><br>
									<small>CNVDDB3-R49V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="R49" src="images/nova-r49.jpg">
									</div>
									<ul class="ph-20">
										<li>27" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>256 GB DDR4 3000MHz Memory <em>(up to 2048GB)</em></li>
										<li><strong>2 x NVIDIA RTX 4090 24GB GDDR6X (Ada Lovelace)</strong></li>
										<li><strong>32,768 total CUDA® Cores</strong></li>
										<li><strong>1,024 total 4th Gen Tensor Cores</strong></li>
										<li>2 x 8TB SATA 6G 3.5” Enterprise Hard Drives for DATA</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>2000W Power Supply</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Up to Dual INTEL / AMD CPUs (128-Cores)</li>
										<li>Up to 4TB 3200MHz DDR4 ECC memory</li>
										<li>Up to 8 x HDD / SSD / NVMe Drives</li>
										<li>Up to 27" - 43" 4K/8K UHD IPS Monitors</li>
										<li><strong>Up to 4 x RTX 4090 with Liquid Cooling</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>R39</strong></span> <sup class="badge badge-orange">POPULAR</sup></h3>
									<p class="performance"><strong>1140 TFLOPS Tensor Performance</strong><br>142.2 TFLOPS of FP16 Performance<br>142.2 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										<span class="text-default">
											Makine Öğrenimi<br>
											Yapay Zeka ve Derin Öğrenme<br>
											Sinir Ağı Eğitimi<br>
											Süper Hızlı Çıkarım
										</span>
									</p>
									<p class="price"><strong>$13,995</strong> <small>+ KDV</small><br><small>başlayan fiyatlarla</small><br>
									<small>CNVDDB3-R39V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-r39.jpg">
									</div>
									<ul class="ph-20">
										<li>27" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>256 GB DDR4 3000MHz Memory <em>(up to 2048GB)</em></li>
										<li><strong>4 x NVIDIA RTX 3090 24GB GDDR6X (Ampere)</strong></li>
										<li><strong>41,984 total CUDA® Cores</strong></li>
										<li><strong>1,312 total 3rd Gen Tensor Cores</strong></li>
										<li>2 x 8TB SATA 6G 3.5” Enterprise Hard Drives for DATA</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>2000W Power Supply</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Up to Dual INTEL / AMD CPUs (128-Cores)</li>
										<li>Up to 4TB 3200MHz DDR4 ECC memory</li>
										<li>Up to 8 x HDD / SSD / NVMe Drives</li>
										<li>Up to 27" - 43" 4K/8K UHD IPS Monitors</li>
										<li>Up to 2 x NVIDIA NVLink</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>RTX6 Ada</strong></span> <sup class="badge badge-green">YENİ</sup></h3>
									<p class="performance"><strong>2.91 petaFLOPS Tensor Performance</strong><br>364.24 TFLOPS of FP16 Performance<br>364.24 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										<span class="text-default">
											Makine Öğrenimi<br>
											Yapay Zeka ve Derin Öğrenme<br>
											Süper Hızlı Sinir Ağı Eğitimi<br>
											Süper Hızlı Çıkarım
										</span>
									</p>
									<p class="price"><br><strong>TEKLİF İSTEYİNİZ</strong><br>
									<small>CNVDDB4-RTX6AV2</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="RTX6" src="images/nova-rtx6-2.jpg">
									</div>
									<ul class="ph-20">
										<li>27" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>Dual INTEL / AMD up to 64-Core CPUs</li>
										<li>256 GB DDR4 3000MHz Memory <em>(up to 4096GB)</em></li>
										<li><strong>4 x NVIDIA RTX 6000 48GB GDDR6 with ECC memory (Ada Lovelace)</strong></li>
										<li><strong>72,704 total CUDA® Cores</strong></li>
										<li><strong>2,272 total 4th Gen Tensor Cores</strong></li>
										<li>2 x 8TB SATA 6G 3.5” Enterprise Hard Drives for DATA</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>2200W Redundant Power Supply</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Up to Dual INTEL / AMD CPUs (128-Cores)</li>
										<li>Up to 4TB 3200MHz DDR4 ECC memory</li>
										<li>Up to 8 x HDD / SSD / NVMe Drives</li>
										<li>Up to 27" - 43" 4K/8K UHD IPS Monitors</li>
										<li>Up to 2 x NVIDIA NVLink</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>RA6</strong></span></h3>
									<p class="performance"><strong>1238.8 TFLOPS Tensor Performance</strong><br>154.8 TFLOPS of FP16 Performance<br>154.8 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										<span class="text-default">
											Makine Öğrenimi<br>
											Yapay Zeka ve Derin Öğrenme<br>
											Sinir Ağı Eğitimi<br>
											Süper Hızlı Çıkarım
										</span>
									</p>
									<p class="price"><strong>$32,395</strong> <small>+ KDV</small><br><small>başlayan fiyatlarla</small><br>
									<small>CNVDDB3-RA6V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-ra6.jpg">
									</div>
									<ul class="ph-20">
										<li>27" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>256 GB DDR4 3000MHz Memory <em>(up to 2048GB)</em></li>
										<li><strong>4 x NVIDIA RTX A6000 48GB GDDR6 with ECC memory (Ampere)</strong></li>
										<li><strong>43,008 total CUDA® Cores</strong></li>
										<li><strong>1,344 total 3rd Gen Tensor Cores</strong></li>
										<li>2 x 8TB SATA 6G 3.5” Enterprise Hard Drives for DATA</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>2000W Power Supply</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Up to Dual INTEL / AMD CPUs (128-Cores)</li>
										<li>Up to 4TB 3200MHz DDR4 ECC memory</li>
										<li>Up to 8 x HDD / SSD / NVMe Drives</li>
										<li>Up to 27" - 43" 4K/8K UHD IPS Monitors</li>
										<li>Up to 2 x NVIDIA NVLink</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>RA4</strong></span></h3>
									<p class="performance"><strong>613.6 TFLOPS Tensor Performance</strong><br>76.8 TFLOPS of FP16 Performance<br>76.8 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										<span class="text-default">
											Makine Öğrenimi<br>
											Yapay Zeka ve Derin Öğrenme<br>
											Sinir Ağı Eğitimi<br>
											Süper Hızlı Çıkarım
										</span>
									</p>
									<p class="price"><strong>$11,745</strong> <small>+ KDV</small><br><small>başlayan fiyatlarla</small><br>
									<small>CNVDDB3-RA4V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-ra4.jpg">
									</div>
									<ul class="ph-20">
										<li>27" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>256 GB DDR4 3000MHz Memory <em>(up to 2048GB)</em></li>
										<li><strong>4 x NVIDIA RTX A4000 16GB GDDR6 with ECC memory (Ampere)</strong></li>
										<li><strong>24,576 total CUDA® Cores</strong></li>
										<li><strong>768 total 3rd Gen Tensor Cores</strong></li>
										<li>2 x 8TB SATA 6G 3.5” Enterprise Hard Drives for DATA</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>2000W Power Supply</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Up to Dual INTEL / AMD CPUs (128-Cores)</li>
										<li>Up to 4TB 3200MHz DDR4 ECC memory</li>
										<li>Up to 8 x HDD / SSD / NVMe Drives</li>
										<li>Up to 27" - 43" 4K/8K UHD IPS Monitors</li>
										<li><strong>Up to 7 x RTX A4000 GPUs</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>RA45</strong></span> <sup class="badge badge-green">YENİ</sup></h3>
									<p class="performance"><strong>728.8 TFLOPS Tensor Performance</strong><br>94.8 TFLOPS of FP16 Performance<br>94.8 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										<span class="text-default">
											Makine Öğrenimi<br>
											Yapay Zeka ve Derin Öğrenme<br>
											Sinir Ağı Eğitimi<br>
											Süper Hızlı Çıkarım
										</span>
									</p>
									<p class="price"><br><strong>TEKLİF İSTEYİNİZ</strong><br>
									<small>CNVDDB3-RA45V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-ra5.jpg">
									</div>
									<ul class="ph-20">
										<li>27" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>256 GB DDR4 3000MHz Memory <em>(up to 2048GB)</em></li>
										<li><strong>4 x NVIDIA RTX A4500 20GB GDDR6 with ECC memory (Ampere)</strong></li>
										<li><strong>28,672 total CUDA® Cores</strong></li>
										<li><strong>896 total 3rd Gen Tensor Cores</strong></li>
										<li>2 x 8TB SATA 6G 3.5” Enterprise Hard Drives for DATA</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>2000W Power Supply</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Up to Dual INTEL / AMD CPUs (128-Cores)</li>
										<li>Up to 4TB 3200MHz DDR4 ECC memory</li>
										<li>Up to 8 x HDD / SSD / NVMe Drives</li>
										<li>Up to 27" - 43" 4K/8K UHD IPS Monitors</li>
										<li>Up to 2 x NVIDIA NVLink</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">BİZE ULAŞIN</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>RA5</strong></span></h3>
									<p class="performance"><strong>888.8 TFLOPS Tensor Performance</strong><br>111.2 TFLOPS of FP16 Performance<br>111.2 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										<span class="text-default">
											Makine Öğrenimi<br>
											Yapay Zeka ve Derin Öğrenme<br>
											Sinir Ağı Eğitimi<br>
											Süper Hızlı Çıkarım
										</span>
									</p>
									<p class="price"><br><strong>TEKLİF İSTEYİNİZ</strong><br>
									<small>CNVDDB3-RA5V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-ra5.jpg">
									</div>
									<ul class="ph-20">
										<li>27" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>256 GB DDR4 3000MHz Memory <em>(up to 2048GB)</em></li>
										<li><strong>4 x NVIDIA RTX A5000 24GB GDDR6 with ECC memory (Ampere)</strong></li>
										<li><strong>32,768 total CUDA® Cores</strong></li>
										<li><strong>1,024 total 3rd Gen Tensor Cores</strong></li>
										<li>2 x 8TB SATA 6G 3.5” Enterprise Hard Drives for DATA</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>2000W Power Supply</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Up to Dual INTEL / AMD CPUs (128-Cores)</li>
										<li>Up to 4TB 3200MHz DDR4 ECC memory</li>
										<li>Up to 8 x HDD / SSD / NVMe Drives</li>
										<li>Up to 27" - 43" 4K/8K UHD IPS Monitors</li>
										<li>Up to 2 x NVIDIA NVLink</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">BİZE ULAŞIN</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>RA55</strong></span> <sup class="badge badge-green">YENİ</sup></h3>
									<p class="performance"><strong>1091.2 TFLOPS Tensor Performance</strong><br>136.4 TFLOPS of FP16 Performance<br>136.4 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										<span class="text-default">
											Makine Öğrenimi<br>
											Yapay Zeka ve Derin Öğrenme<br>
											Sinir Ağı Eğitimi<br>
											Süper Hızlı Çıkarım
										</span>
									</p>
									<p class="price"><br><strong>TEKLİF İSTEYİNİZ</strong><br>
									<small>CNVDDB3-RA55V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-ra5.jpg">
									</div>
									<ul class="ph-20">
										<li>27" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>256 GB DDR4 3000MHz Memory <em>(up to 2048GB)</em></li>
										<li><strong>4 x NVIDIA RTX A5500 24GB GDDR6 with ECC memory (Ampere)</strong></li>
										<li><strong>40,960 total CUDA® Cores</strong></li>
										<li><strong>1,280 total 3rd Gen Tensor Cores</strong></li>
										<li>2 x 8TB SATA 6G 3.5” Enterprise Hard Drives for DATA</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>2000W Power Supply</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Up to Dual INTEL / AMD CPUs (128-Cores)</li>
										<li>Up to 4TB 3200MHz DDR4 ECC memory</li>
										<li>Up to 8 x HDD / SSD / NVMe Drives</li>
										<li>Up to 27" - 43" 4K/8K UHD IPS Monitors</li>
										<li>Up to 2 x NVIDIA NVLink</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">BİZE ULAŞIN</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<a class="btn btn-gray-transparent btn-block btn-lg collapsed btn-animated" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Eski Ürünleri Göster <i class="fa fa-plus"></i></a>
						</div>
						<div class="collapse" id="collapseContent"><!-- collapse start -->
							<div class="col-sm-12">
								<h3>CompecTA Nova&trade; Serisi Önceki Nesil Ürünler</h3>
								<p class="small"><em>Aşağıdaki ürünler artık sipariş edilememektedir.</em></p>
								<div class="separator-2"></div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>Nova Engine&trade; <span class="text-default"><strong>R80Ti</strong></span> <sup class="badge badge-orange">POPULAR</sup></h3>
										<p class="performance"><strong>430.4 TFLOPS DL Performance</strong><br>107.6 TFLOPS of FP16 Performance<br>53.8 TFLOPS of FP32 Performance<br>&nbsp;</p>
										<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										Yapay Zeka ve Derin Öğrenme<br>
										Sinir Ağı Eğitimi<br>
										<span class="text-default">Süper Hızlı Çıkarım</span><br>&nbsp;
										</p>
										<p class="price"><strong>TÜKENDİ</strong><br>
										<small>CNVDDB2-R80TIV1</small></p>
										<div class="separator"></div>
										<div class="overlay-container pv-10">
											<img alt="" src="images/nova-r80ti.jpg">
										</div>
										<ul class="ph-20">
											<li>Dell 27" Full HD IPS Monitor</li>
											<li>Workstation Class Motherboard</li>
											<li>Intel Core i9-10900X, 3.70 GHz, 10-Core CPU <em>(up to 18-Core)</em></li>
											<li>128 GB DDR4 2933MHz Memory <em>(up to 256GB)</em></li>
											<li><strong>4 x NVIDIA GeForce RTX 2080Ti 384-bit 11GB GDDR6 Memory</strong></li>
											<li><strong>17,408 Total CUDA® Cores</strong></li>
											<li><strong>2,176 Total Tensor Cores</strong></li>
											<li>3 x 4TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5 for DATA</li>
											<li>512GB M.2 PCIe NVMe SSD for RAID Cache</li>
											<li>250GB SATA 6Gb Internal SSD for OS</li>
											<li>Logitech Keyboard and Mouse</li>
											<li>1600W Power Supply</li>
											<li>Ubuntu 16.04 / 18.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
											<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to Dual Intel Xeon 28-Core CPUs</li>
											<li>Up to 1.5TB 2933MHz DDR4 ECC memory</li>
											<li>Up to 8 x 3.5" Enterprise Hard Drives</li>
											<li>Up to 43" Dell 4K UHD IPS Monitor</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>Nova Engine&trade; <span class="text-default"><strong>QRTX8</strong></span></h3>
										<p class="performance"><strong>522 TFLOPS DL Performance</strong><br>824.4 TOPS of INT8 Performance<br>130.4 TFLOPS of FP16 Performance<br>65.2 TFLOPS of FP32 Performance</p>
										<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										Makine Öğrenimi<br>
										Yapay Zeka ve Derin Öğrenme<br>
										<span class="text-default">Süper Hızlı Sinir Ağı Eğitimi</span><br>
										<span class="text-default">Süper Hızlı Çıkarım</span>
										</p>
										<p class="price"><strong>TÜKENDİ</strong><br>
										<small>CNVDDB2-QRTX8V1</small></p>
										<div class="separator"></div>
										<div class="overlay-container pv-10">
											<img alt="" src="images/nova-qr8.jpg">
										</div>
										<ul class="ph-20">
											<li>Dell 27" Full HD IPS Monitor</li>
											<li>Workstation Class Motherboard</li>
											<li>Intel Core i9-10900X, 3.70 GHz, 10-Core CPU <em>(up to 18-Core)</em></li>
											<li>128 GB DDR4 2933MHz Memory <em>(up to 256GB)</em></li>
											<li><strong>4 x NVIDIA Quadro RTX 8000 384-bit 48GB GDDR6 with ECC Memory</strong></li>
											<li><strong>18,432 Total CUDA® Cores</strong></li>
											<li><strong>2,304 Total Tensor Cores</strong></li>
											<li>3 x 4TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5 for DATA</li>
											<li>512GB M.2 PCIe NVMe SSD for RAID Cache</li>
											<li>250GB SATA 6Gb Internal SSD for OS</li>
											<li>Logitech Keyboard and Mouse</li>
											<li>1600W Power Supply</li>
											<li>Ubuntu 16.04 / 18.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
											<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to Dual Intel Xeon 28-Core CPUs</li>
											<li>Up to 1.5TB 2933MHz DDR4 ECC memory</li>
											<li>Up to 8 x 3.5" Enterprise Hard Drives</li>
											<li>Up to 43" Dell 4K UHD IPS Monitor</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>Nova Engine&trade; <span class="text-default"><strong>GV100</strong></span></h3>
										<p class="performance"><strong>474 TFLOPS DL Performance</strong><br>118.4 TFLOPS of FP16 Performance<br>59.2 TFLOPS of FP32 Performance<br>29.6 TFLOPS of FP64 Performance</p>
										<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										Makine Öğrenimi<br>
										Yapay Zeka ve Derin Öğrenme<br>
										<span class="text-default">Süper Hızlı Sinir Ağı Eğitimi</span><br>
										<span class="text-default">Süper Hızlı Çıkarım</span>
										</p>
										<p class="price"><strong>TÜKENDİ</strong><br>
										<small>CNVDDB2-GV100V1</small></p>
										<div class="separator"></div>
										<div class="overlay-container pv-10">
											<img alt="" src="images/nova-gv100.jpg">
										</div>
										<ul class="ph-20">
											<li>Dell 27" Full HD IPS Monitor</li>
											<li>Workstation Class Motherboard</li>
											<li>Intel Core i9-10900X, 3.70 GHz, 10-Core CPU <em>(up to 18-Core)</em></li>
											<li>128 GB DDR4 2933MHz Memory <em>(up to 256GB)</em></li>
											<li><strong>4 x NVIDIA Quadro GV100 4096-bit 32GB HBM2 Memory</strong></li>
											<li><strong>20,480 Total CUDA® Cores</strong></li>
											<li><strong>2,560 Total Tensor Cores</strong></li>
											<li>3 x 4TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5 for DATA</li>
											<li>512GB M.2 PCIe NVMe SSD for RAID Cache</li>
											<li>250GB SATA 6Gb Internal SSD for OS</li>
											<li>Logitech Keyboard and Mouse</li>
											<li>1600W Power Supply</li>
											<li>Ubuntu 16.04 / 18.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
											<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to Dual Intel Xeon 28-Core CPUs</li>
											<li>Up to 1.5TB 2933MHz DDR4 ECC memory</li>
											<li>Up to 8 x 3.5" Enterprise Hard Drives</li>
											<li>Up to 43" Dell 4K UHD IPS Monitor</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>Nova Engine&trade; <span class="text-default"><strong>QRTX6</strong></span></h3>
										<p class="performance"><strong>522 TFLOPS DL Performance</strong><br>824.4 TOPS of INT8 Performance<br>130.4 TFLOPS of FP16 Performance<br>65.2 TFLOPS of FP32 Performance</p>
										<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										Makine Öğrenimi<br>
										Yapay Zeka ve Derin Öğrenme<br>
										<span class="text-default">Süper Hızlı Sinir Ağı Eğitimi</span><br>
										<span class="text-default">Süper Hızlı Çıkarım</span>
										</p>
										<p class="price"><strong>TÜKENDİ</strong><br>
										<small>CNVDDB2-QRTX6V1</small></p>
										<div class="separator"></div>
										<div class="overlay-container pv-10">
											<img alt="" src="images/nova-qr6.jpg">
										</div>
										<ul class="ph-20">
											<li>Dell 27" Full HD IPS Monitor</li>
											<li>Workstation Class Motherboard</li>
											<li>Intel Core i9-10900X, 3.70 GHz, 10-Core CPU <em>(up to 18-Core)</em></li>
											<li>128 GB DDR4 2933MHz Memory <em>(up to 256GB)</em></li>
											<li><strong>4 x NVIDIA Quadro RTX 6000 384-bit 24GB GDDR6 with ECC Memory</strong></li>
											<li><strong>18,432 Total CUDA® Cores</strong></li>
											<li><strong>2,304 Total Tensor Cores</strong></li>
											<li>3 x 4TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5 for DATA</li>
											<li>512GB M.2 PCIe NVMe SSD for RAID Cache</li>
											<li>250GB SATA 6Gb Internal SSD for OS</li>
											<li>Logitech Keyboard and Mouse</li>
											<li>1600W Power Supply</li>
											<li>Ubuntu 16.04 / 18.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
											<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to Dual Intel Xeon 28-Core CPUs</li>
											<li>Up to 1.5TB 2933MHz DDR4 ECC memory</li>
											<li>Up to 8 x 3.5" Enterprise Hard Drives</li>
											<li>Up to 43" Dell 4K UHD IPS Monitor</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>Nova Engine&trade; <span class="text-default"><strong>TiV</strong></span></h3>
										<p class="performance"><strong>440 TFLOPS DL Performance</strong><br>55.2 TFLOPS of FP32 Performance<br>27.6 TFLOPS of FP64 Performance<br>&nbsp;</p>
										<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										Yapay Zeka ve Derin Öğrenme<br>
										<span class="text-default">Süper Hızlı Sinir Ağı Eğitimi</span><br>
										<span class="text-default">Süper Hızlı Çıkarım</span>
										<br><br>
										</p>
										<p class="price"><strong>TÜKENDİ</strong><br>
										<small>CNVDDB2-TIVV1</small></p>
										<div class="separator"></div>
										<div class="overlay-container pv-10">
											<img alt="" src="images/nova-tiv.jpg">
										</div>
										<ul class="ph-20">
											<li>Dell 27" Full HD IPS Monitor</li>
											<li>Workstation Class Motherboard</li>
											<li>Intel Core i9-10900X, 3.70 GHz, 10-Core CPU <em>(up to 18-Core)</em></li>
											<li>128 GB DDR4 2933MHz Memory <em>(up to 256GB)</em></li>
											<li><strong>4 x NVIDIA Titan V Volta 3072-bit 12GB HBM2 Memory</strong></li>
											<li><strong>20,480 Total CUDA® Cores</strong></li>
											<li><strong>2,560 Total Tensor Cores</strong></li>
											<li>3 x 4TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5 for DATA</li>
											<li>512GB M.2 PCIe NVMe SSD for RAID Cache</li>
											<li>250GB SATA 6Gb Internal SSD for OS</li>
											<li>Logitech Keyboard and Mouse</li>
											<li>1600W Power Supply</li>
											<li>Ubuntu 16.04 / 18.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
											<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to Dual Intel Xeon 28-Core CPUs</li>
											<li>Up to 1.5TB 2933MHz DDR4 ECC memory</li>
											<li>Up to 8 x 3.5" Enterprise Hard Drives</li>
											<li>Up to 43" Dell 4K UHD IPS Monitor</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>Nova Engine&trade; <span class="text-default"><strong>G80Ti</strong></span></h3>
										<p class="performance">45.2 TFLOPS of FP32 Performance<br>180 TOPS of INT8 Performance<br>&nbsp;<br>&nbsp;</p>
										<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										Yapay Zeka ve Derin Öğrenme<br>
										Sinir Ağı Eğitimi<br>
										<span class="text-default">Süper Hızlı Çıkarım</span>
										<br>&nbsp;
										</p>
										<p class="price"><strong>TÜKENDİ</strong><br>
										<small>CNVDDB2-G80V2</small></p>
										<div class="separator"></div>
										<div class="overlay-container pv-10">
											<img alt="" src="images/nova-g80ti.jpg">
										</div>
										<ul class="ph-20">
											<li>Dell 27" Full HD IPS Monitor</li>
											<li>Workstation Class Motherboard</li>
											<li>Intel Core i9-10900X, 3.70 GHz, 10-Core CPU <em>(up to 18-Core)</em></li>
											<li>128 GB DDR4 2933MHz Memory <em>(up to 256GB)</em></li>
											<li><strong>4 x NVIDIA GeForce GTX 1080Ti 352-bit 11GB GDDR5X Memory</strong></li>
											<li><strong>14,336 Total CUDA® Cores</strong></li>
											<li>3 x 4TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5 for DATA</li>
											<li>512GB M.2 PCIe NVMe SSD for RAID Cache</li>
											<li>250GB SATA 6Gb Internal SSD for OS</li>
											<li>Logitech Keyboard and Mouse</li>
											<li>1600W Power Supply</li>
											<li>Ubuntu 16.04 / 18.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
											<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to Dual Intel Xeon 28-Core CPUs</li>
											<li>Up to 1.5TB 2933MHz DDR4 ECC memory</li>
											<li>Up to 8 x 3.5" Enterprise Hard Drives</li>
											<li>Up to 43" Dell 4K UHD IPS Monitor</li>
										</ul>
										<br>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>Nova Engine&trade; <span class="text-default"><strong>TiX</strong>p</span></h3>
										<p class="performance">47 TFLOPS of FP32 Performance<br>188 TOPS of INT8 Performance</p>
										<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										Yapay Zeka ve Derin Öğrenme<br>
										Sinir Ağı Eğitimi<br>
										<span class="text-default">Süper Hızlı Çıkarım</span>
										</p>
										<p class="price"><strong>TÜKENDİ</strong><br>
										<small>CNVDDB2-TXPV2</small></p>
										<div class="separator"></div>
										<div class="overlay-container pv-10">
											<img alt="" src="images/nova-tix.jpg">
										</div>
										<ul class="ph-20">
											<li>Dell 27" Full HD IPS Monitor</li>
											<li>Workstation Class Motherboard</li>
											<li>Intel Core i9-10900X, 3.70 GHz, 10-Core CPU <em>(up to 18-Core)</em></li>
											<li>128 GB DDR4 2933MHz Memory <em>(up to 256GB)</em></li>
											<li><strong>4 x NVIDIA TITAN Xp Pascal 384-bit 12GB GDDR5X Memory</strong></li>
											<li><strong>15,360 Total CUDA® Cores</strong></li>
											<li>3 x 4TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5 for DATA</li>
											<li>512GB M.2 PCIe NVMe SSD for RAID Cache</li>
											<li>250GB SATA 6Gb Internal SSD for OS</li>
											<li>Logitech Keyboard and Mouse</li>
											<li>1600W Power Supply</li>
											<li>Ubuntu 16.04 / 18.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
											<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to Dual Intel Xeon 28-Core CPUs</li>
											<li>Up to 1.5TB 2933MHz DDR4 ECC memory</li>
											<li>Up to 8 x 3.5" Enterprise Hard Drives</li>
											<li>Up to 43" Dell 4K UHD IPS Monitor</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>Nova Engine&trade; <span class="text-default"><strong>GP100</strong></span></h3>
										<p class="performance">82.8 TFLOPS of FP16 Performance<br>41.2 TFLOPS of FP32 Performance</p>
										<p class="bestfor">
										<small>Kullanım Alanı:</small><br>
										Yapay Zeka ve Derin Öğrenme<br>
										<span class="text-default">Süper Hızlı Sinir Ağı Eğitimi</span><br>
										Hızlı Çıkarım
										</p>
										<p class="price"><strong>TÜKENDİ</strong><br>
										<small>CNVDDB2-GP100V1</small></p>
										<div class="separator"></div>
										<div class="overlay-container pv-10">
											<img alt="" src="images/nova-gp100.jpg">
										</div>
										<ul class="ph-20">
											<li>Dell 27" Full HD IPS Monitor</li>
											<li>Workstation Class Motherboard</li>
											<li>Intel Core i9-10900X, 3.70 GHz, 10-Core CPU <em>(up to 18-Core)</em></li>
											<li>128 GB DDR4 2933MHz Memory <em>(up to 256GB)</em></li>
											<li><strong>4 x NVIDIA QUADRO GP100 4096-bit 16GB HBM2 Memory</strong></li>
											<li><strong>14,336 Total CUDA® Cores</strong></li>
											<li>3 x 4TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5 for DATA</li>
											<li>512GB M.2 PCIe NVMe SSD for RAID Cache</li>
											<li>250GB SATA 6Gb Internal SSD for OS</li>
											<li>Logitech Keyboard and Mouse</li>
											<li>1600W Power Supply</li>
											<li>Ubuntu 16.04 / 18.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>FeynmanGrid™ YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
											<li><strong>CompecTA YBH uzmanlarından 1 yıl kurumsal destek hizmeti</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to Dual Intel Xeon 28-Core CPUs</li>
											<li>Up to 1.5TB 2933MHz DDR4 ECC memory</li>
											<li>Up to 8 x 3.5" Enterprise Hard Drives</li>
											<li>Up to 43" Dell 4K UHD IPS Monitor</li>
										</ul>
									</div>
								</div>
							</div>
						</div> <!-- collapse end -->
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}