{% extends "base.html" %}
{% block title %}CompecTA Nova&trade; Serisi ile Derin Öğrenme{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA Nova&trade; Serisi{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}nova.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/nova.jpg'); background-position: 50% 65%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA Nova&trade; Serisi ile Derin Öğrenme</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA<sup>&reg;</sup> DIGITS&trade; içeren Derin Öğrenme Geliştirici Bilgisayarı</p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Derin Öğrenmenin Hızlı ve Kolay Yolu! Derin Öğrenme, bilgisayarların görseller, sesler ve metinler gibi sonsuz miktarda veriyi anlamasına yardımcı olan, en hızlı büyüyen yapay zeka alanıdır.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3 class="visible-sm">Hepsi Bir Arada & Kullanıma Hazır</h3>
							<h4 class="hidden-sm">Hepsi Bir Arada & Kullanıma Hazır</h4>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine&trade;, Derin Öğrenme ihtiyaçlarına özel <strong>hepsi birarada, güçlü, enerji tasarruflu, serin ve sessiz</strong> çalışan iş istasyonu çözümüdür. NVIDIA&reg; DIGITS&trade; DevBox'a bir alternatiftir.</p>
							<p>Dünyanın <strong>en iyi donanım, yazılım ve sistem mühendisliği</strong> ile oluşturulmuş masa başına koyabileceğiniz, Derin Öğrenme sistemidir.</p>
							<p>Derin Öğrenme sinir ağı kütüphanesi, Derin Öğrenme gereçleri, işletim sistemi ve sürücüler <strong>önceden kurulmuş ve kullanıma hazır</strong> olarak gelir.</p>
						</div>
						<div class="col-md-4">
							<h3 class="visible-sm">Kurumsal Destek Hizmeti</h3>
							<h4 class="hidden-sm">Kurumsal Destek Hizmeti</h4>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine&trade; 20 yılı aşkın tecrübeye sahip YBH uzmanları tarafından sunulan <strong>Kurumsal Destek Hizmet</strong> paketi ile birlikte gelir.</p>
							<p>Sisteminizde karşılaşabileceğiniz her türlü soruna destek bulabilirsiniz.</p>
							<br>
							<img class="nv-preferred hidden-xs" src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider">
						</div>
						<div class="col-md-4">
							<h3 class="visible-sm">Ücretsiz CPU Zamanı</h3>
							<h4 class="hidden-sm">Ücretsiz CPU Zamanı</h4>
							<div class="separator-2"></div>
							<p>CompecTA'nın kendi bünyesindeki Yüksek Başarımlı Hesaplama sistemi <strong>FeynmanGrid&trade;</strong> üzerinde çalışabileceğiniz <strong>ücretsiz 100 bin saatlik CPU Zamanı</strong> ile beraber gelmektedir.</p>
							<p>YBH Sistemlerini kullanma, uygulama performans testi veya yeni bir kod / uygulama test etme deneyimi kazanmak için bu fırsatı kullanabilirsiniz.</p>
							<img class="nv-preferred visible-xs" src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider">
							<div class="space-top visible-xs"></div>
							<img class="frameworks" src="images/frameworks.jpg" alt="DL Framewroks">
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA Nova&trade; Serisi</h3>
							<p class="small"><em>NVIDIA<sup>&reg;</sup> DIGITS&trade; içeren Derin Öğrenme Geliştirici Bilgisayarı</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>G80</strong></span></h3>
									<p class="performance">35.6 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									İyi Sinir Ağı Eğitimi<br>
									İyi Çıkarım
									</p>
									<p class="price"><strong>$10,995</strong> <small>(Vergiler Hariç)</small><br>
									<small>CNVDDB1-G80V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-g80.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" Ultrasharp IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-6850K, 3.60 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA GeForce GTX 1080 8GB GDDR5X Memory per GPU</strong></li>
										<li><strong>10,240 Total CUDA® Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>FeynmanGrid&trade; YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA'nın YBH uzmanlarından kurumsal seviyede destek hizmeti</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>G80Ti</strong></span> <sup class="badge badge-orange">POPÜLER</sup></h3>
									<p class="performance">45.2 TFLOPS of FP32 Performance<br>180 TOPS of INT8 Performance</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									İyi Sinir Ağı Eğitimi<br>
									<span class="text-default">Süper-Hızlı Çıkarım</span>
									</p>
									<p class="price"><strong>$11,995</strong> <small>(Vergiler Hariç)</small><br>
									<small>CNVDDB1-G80V2</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-g80ti.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" Ultrasharp IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-6850K, 3.60 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA GeForce GTX 1080Ti 11GB GDDR5X Memory per GPU</strong></li>
										<li><strong>14,336 Total CUDA® Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>FeynmanGrid&trade; YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA'nın YBH uzmanlarından kurumsal seviyede destek hizmeti</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>TiX</strong>p</span></h3>
									<p class="performance">47 TFLOPS of FP32 Performance<br>188 TOPS of INT8 Performance</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									İyi Sinir Ağı Eğitimi<br>
									<span class="text-default">Süper-Hızlı Çıkarım</span>
									</p>
									<p class="price"><strong>$15,495</strong> <small>(Vergiler Hariç)</small><br>
									<small>CNVDDB1-TXPV2</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-tix.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" Ultrasharp IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-6850K, 3.60 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA TITAN Xp Pascal 12GB GDDR5X Memory per GPU</strong></li>
										<li><strong>15,360 Total CUDA® Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>FeynmanGrid&trade; YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA'nın YBH uzmanlarından kurumsal seviyede destek hizmeti</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>GP100</strong></span></h3>
									<p class="performance">82.8 TFLOPS of FP16 Performance<br>41.2 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									<span class="text-default">Süper-Hızlı Sinir Ağı Eğitimi</span><br>
									İyi Çıkarım
									</p>
									<p class="price"><strong>$41,495</strong> <small>(Vergiler Hariç)</small><br>
									<small>CNVDDB1-GP100V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-gp100.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" Ultrasharp IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-6850K, 3.60 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA QUADRO GP100 16GB HBM2 Memory per GPU</strong></li>
										<li><strong>14,336 Total CUDA® Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>FeynmanGrid&trade; YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA'nın YBH uzmanlarından kurumsal seviyede destek hizmeti</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>QP5</strong></span> <sup class="badge badge-red">YENİ</sup></h3>
									<p class="performance">35.6 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									<span class="text-default">Süper-Hızlı Sinir Ağı Eğitimi</span><br>
									İyi Çıkarım
									</p>
									<p class="price"><a class="link-default" href="contact.html">FİYAT İSTEYİNİZ</a><br>
									<small>CNVDDB1-QP5V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-qp5.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" Ultrasharp IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-6850K, 3.60 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA QUADRO P5000 16GB GDDR5X Memory per GPU</strong></li>
										<li><strong>10,240 Total CUDA® Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>FeynmanGrid&trade; YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA'nın YBH uzmanlarından kurumsal seviyede destek hizmeti</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">FİYAT İSTEYİNİZ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>QP6</strong></span> <sup class="badge badge-red">YENİ</sup></h3>
									<p class="performance">48 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									<span class="text-default">Süper-Hızlı Sinir Ağı Eğitimi</span><br>
									İyi Çıkarım
									</p>
									<p class="price"><a class="link-default" href="contact.html">FİYAT İSTEYİNİZ</a><br>
									<small>CNVDDB1-QP6V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/nova-qp6.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" Ultrasharp IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-6850K, 3.60 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA QUADRO P6000 24GB GDDR5X Memory per GPU</strong></li>
										<li><strong>15,360 Total CUDA® Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>FeynmanGrid&trade; YBH Sistemi üzerinde ücretiz 100 bin CPU saati kullanım</strong></li>
										<li><strong>CompecTA'nın YBH uzmanlarından kurumsal seviyede destek hizmeti</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">FİYAT İSTEYİNİZ</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}