{% extends "base.html" %}
{% block title %}Çözüm Ortakları{% endblock %}
{% block breadcrumbactive %}Çözüm Ortakları{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/partners.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Çözüm Ortakları</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA, dünyanın önde gelen donanım ve yazılım üreticileriyle çeşitli seviyelerde is ortaklığına sahiptir.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-10 col-md-offset-1 space-top">
							<p class="large text-center">CompecTA birçok üreticinin Türkiye'deki resmi YBH (Yüksek Başarımlı Hesaplama) iş ortağıdır.</p>
						</div>
					</div>
					<div class="row space-top">
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20 col-md-offset-1">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/intel.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/altair.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/mellanox.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/nvidia.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/redhat.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20 col-md-offset-1">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/microsoft.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/supermicro.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/fujitsu.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/hp.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/ibm.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20 col-md-offset-1">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/dell.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/cisco.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/huawei.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/brocade.jpg">
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2 mb-20">
							<img class="thumbnail p15 margin-clear" alt="" src="images/partners/scalemp.jpg">
						</div>
						<!-- main end -->
					</div>
				</div>
			</section>
			<!-- section end -->
{% endblock %}