{% extends "base.html" %}
{% block title %}References{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">References</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/references.jpg'); background-position: 50% 95%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">References</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA has completed numerous works for its clients within the scope of its business relationships. Some of them leads to Success Stories. You can see some of our references below.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
					</div>
					<div class="row space-top">
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img alt="" src="images/references/roketsan.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Roketsan</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/vestel.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Vestel</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/tei.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">TEI<br>(Tusaş Engine Industries)</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/tofas.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">TOFAS</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/isuzu.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Isuzu</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/tubitak.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">TUBITAK</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/tp.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Turkish Petroleum</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/temsa.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Temsa Global</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/atilim.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Atilim University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/bilkent.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Bilkent University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/bitliseren.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Bitlis Eren University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/bogazici.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Bogazici University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/erzurumataturk.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Erzurum Ataturk University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/fatih.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Fatih University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/gazi.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Gazi University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/hacettepe.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Hacettepe University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/istanbul.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Istanbul University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/itu.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">ITU</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/kadirhas.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Kadir Has University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/odtu.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">METU</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/ozyegin.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Ozyegin University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/sabanci.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Sabanci University</p>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- section end -->
{% endblock %}