{% extends "base.html" %}
{% block title %}Referanslar{% endblock %}
{% block breadcrumbactive %}Referanslar{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/references.jpg'); background-position: 50% 95%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Referanslar</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA, bir kısmını aşağıda görebileceğiniz birçok firma için bazıları başarı hikayesi olmuş pek çok proje üretmiş ve tamamlamıştır.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
					</div>
					<div class="row space-top">
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img alt="" src="images/references/roketsan.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Roketsan</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/vestel.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Vestel</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/tei.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">TEI<br>(Tusaş Engine Industries)</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/tofas.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">TOFAŞ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/isuzu.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Isuzu</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/tubitak.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">TÜBİTAK</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/tp.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Türkiye Petrolleri</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/temsa.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Temsa Global</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/atilim.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Atılım Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/bilkent.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Bilkent Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/bitliseren.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Bitlis Eren Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/bogazici.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Boğaziçi Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/erzurumataturk.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Erzurum Atatürk Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/fatih.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Fatih Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/gazi.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Gazi Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/hacettepe.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Hacettepe Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/istanbul.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">İstanbul Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/itu.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">İTÜ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/kadirhas.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Kadir Has Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/odtu.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">ODTÜ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/ozyegin.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Özyeğin Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									<img class="" alt="" src="images/references/sabanci.jpg">
									<div class="overlay-to-top">
										<p class="small margin-clear">Sabancı Üniversitesi</p>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- section end -->
{% endblock %}