{% extends "base.html" %}
{% block title %}Referanslar{% endblock %}
{% block breadcrumbactive %}Referanslar{% endblock %}
{% block hreflang %}{% block langlinkmobileen %}{% block langlinken %}references.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/references.jpg'); background-position: 50% 95%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Referanslar</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA, bir kısmını aşağıda görebileceğiniz birçok firma için bazıları başarı hikayesi olmuş pek çok proje üretmiş ve tamamlamıştır.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
					</div>
					<div class="row space-top">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8 col-md-offset-2 pv-40 text-center">
							<h2>Bu sayfa şu anda güncelleniyor.</h2>
							<h3>Lütfen daha sonra tekrar ziyaret ediniz.</h3>
							<a class="btn btn-default btn-animated btn-lg" href="index.html">ANASAYFA <i class="fa fa-home"></i></a>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- section end -->
{% endblock %}