{% extends "base.html" %}
{% block title %}On-Demand Services{% endblock %}
{% block breadcrumbdropdown %}{% include "services.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA On-Demand Services{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}dgx-1.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/ondemand.jpg'); background-position: 50% 35%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA On-Demand Services</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200"><em>Affordable, Robust & Super-Fast as ever more</em></p>
							<a href="contact.html" class="btn btn-default btn-hvr hvr-shutter-out-horizontal margin-clear mv-10">CONTACT US</a>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3>World's Fastest AI Supercomputer in your Service!</h3>
							<p class="small"><em>Minimize your Investment & Maximize your Efficiency</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-md-6">
							<p>CompecTA offers Deep Learning Clusters & HPC Clusters on-demand services which you can use to run your applications, <strong>renting CPU & GPGPU Time & Disk Space,</strong> when you need it. Lowering your investment, saving you money and time to get the results you expected.</p>
						</div>
						<div class="col-md-6">
							<p>CompecTA, wielding its over 20 years of experience in High Performance Computing Clusters, gives <strong>system administration and application level support</strong>, saving you from troubleshooting hardware and software issues. Spend less time tuning and optimizing and more time focused on discovery.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA offers new opportunities to Deep Learning Researchers</h3>
							<p class="small"><em>Super-fast & Scalable Deep Learning Solutions on Demand</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-md-7">
							<img class="" alt="NVIDIA DGX-1" src="images/mail-dgx1-banner.jpg">
						</div>
						<div class="col-md-5">
							<h3 class="margin-clear"><strong>World's Fastest Deep Learning Platform</strong> NVIDIA® DGX-1™ V100 Edition <br>
							<span class="text-default">Renting & Purchasing</span> options are available for Academic and Commercial Researches</h3>
							<div class="separator-2"></div>
							<p class="large">Shared GPGPU Computing Environment for Researchers with guaranteed minimum 2 GPGPUs at a time & maximum 4 Researchers per NVIDIA’s Ultimate Deep Learning Platform <a class="link-default" href="dgx-1.html">DGX-1™ v100 Edition</a>.</p>
						</div>
						<div class="col-xs-12 space-bottom visible-xs visible-sm">
							<span>Benefits:</span>
							<ul class="ph-30">
								<li>From 2 to 8 Dedicated GPUs per Researcher</li>
								<li>Along with CompecTA’s proven High Quality Professional Application, User and System Based, Run Time Support</li>
								<li>Different type of SLA Options for your Expactations</li>
								<li>Free Upgrade to NVIDIA's new Deep Learning Technology Platforms</li>
								<li>High Quality Professional Web, Email, Phone Support for your Questions</li>
								<li>Free test enviroment for CompecTA’s HPC Cluster FeynmanGrid & Deep Learning Cluster AydinGrid**</li>
								<li>In addition to NVIDIA’s Deep Learning Service Support (Academic or Commercial) Consultancy and Development Support and Collaboration for your Deep Learning Projects.</li>
							</ul>
						</div>
						<div class="col-xs-12 space-bottom visible-xs visible-sm">
							<p class="margin-clear">Save your OPEX & CAPEX!</p>
							<ul class="ph-30">
								<li><strong>Try & Buy</strong> Cloud Services Options</li>
								<li><strong>Free CPU & GPGPU</strong> Hours for Academic Users**</li>
								<li><strong>NDA</strong> for Your Information Security</li>
								<li><strong>Lowest Cost</strong>, Highest Computing Power</li>
								<li><strong>Easy Payment</strong> Options</li>
								<li><strong>Special Support</strong> for your RFQs</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<div class="table-responsive">
								<table class="table table-hover table-colored text-center small">
									<thead>
										<tr>
											<th class="text-left">NVIDIA DGX-1 <br>Hiring Plans</th>
											<th class="text-center">Time<br>(Month)</th>
											<th class="text-center">SLA1</th>
											<th class="text-center">SLA2</th>
											<th class="text-center">SLA3</th>
											<th class="text-center">SLA4</th>
											<th class="text-center">GPU PLAN</th>
											<th class="text-center">PRICE <sup>*</sup></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-left">Plan A<br></td>
											<td>0,25<br></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
											<td>1</td>
											<td>$1.000,00</td>
										</tr>
										<tr>
											<td class="text-left">Plan B<br></td>
											<td>0,5</td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
											<td>1</td>
											<td>$1.500,00</td>
										</tr>
										<tr>
											<td class="text-left">Plan C<br></td>
											<td>1</td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-minus"></i></td>
											<td>2</td>
											<td>$6.000,00</td>
										</tr>
										<tr>
											<td class="text-left">Plan D<br></td>
											<td>3</td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td>2</td>
											<td>$16.800,00</td>
										</tr>
										<tr>
											<td class="text-left">Plan E<br></td>
											<td>6</td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td>2</td>
											<td>$30.000,00</td>
										</tr>
										<tr>
											<td class="text-left">Plan F<br></td>
											<td>12</td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td>2</td>
											<td>$48.000,00</td>
										</tr>
										<tr>
											<td class="text-left">Plan G<br></td>
											<td>24</td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td>4</td>
											<td>$96.000,00</td>
										</tr>
										<tr>
											<td class="text-left">Plan X<br></td>
											<td>36<br></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td>4</td>
											<td>$115.200,00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-5 hidden-xs hidden-sm">
							<h4>Benefits</h4>
							<ul class="ph-30">
								<li>From 2 to 8 Dedicated GPUs per Researcher</li>
								<li>Along with CompecTA’s proven High Quality Professional Application, User and System Based, Run Time Support</li>
								<li>Different type of SLA Options for your Expactations</li>
								<li>Free Upgrade to NVIDIA's new Deep Learning Technology Platforms</li>
								<li>High Quality Professional Web, Email, Phone Support for your Questions</li>
								<li>Free test enviroment for CompecTA’s HPC Cluster FeynmanGrid & Deep Learning Cluster AydinGrid **</li>
								<li>In addition to NVIDIA’s Deep Learning Service Support (Academic or Commercial) Consultancy and Development Support and Collaboration for your Deep Learning Projects.</li>
							</ul>
						</div>
						<div class="col-md-7">
							<div class="table-responsive">
								<table class="table table-hover table-colored text-center small">
									<thead>
										<tr>
											<th class="text-left">Support Service Scope<br></th>
											<th class="text-center">SLA1<br></th>
											<th class="text-center">SLA2<br></th>
											<th class="text-center">SLA3<br></th>
											<th class="text-center">SLA4<br></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-left">Web</td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
										</tr>
										<tr>
											<td class="text-left">Email</td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
										</tr>
										<tr>
											<td class="text-left">Phone</td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-ok text-default"></i></td>
										</tr>
										<tr>
											<td class="text-left">8x5xNBD 1BDay Response,<br>2BDay Resolve, 2 Ticket Call / week</td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
										</tr>
										<tr>
											<td class="text-left">8x5xNBD 8Hours Response,<br>1BDay Resolve, 3 Ticket Call / week</td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
										</tr>
										<tr>
											<td class="text-left">8x5xNBD 6Hours Response,<br>1BDay Resolve, 5 Ticket Call / week</td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-ok text-default"></i></td>
											<td><i class="icon-minus"></i></td>
										</tr>
										<tr>
											<td class="text-left">8x5xNBD 4Hours Response,<br>6Hours Resolve, 7 Ticket Call / week</td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-minus"></i></td>
											<td><i class="icon-ok text-default"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-5 hidden-xs hidden-sm">
							<h4>Save your OPEX & CAPEX!</h4>
							<ul class="ph-30">
								<li><strong>Try & Buy</strong> Cloud Services Options</li>
								<li><strong>Free CPU & GPGPU</strong> Hours for Academic Users**</li>
								<li><strong>NDA</strong> for Your Information Security</li>
								<li><strong>Lowest Cost</strong>, Highest Computing Power</li>
								<li><strong>Easy Payment</strong> Options</li>
								<li><strong>Special Support</strong> for your RFQs</li>
							</ul>
							<p class="small space-top">* <em>Academic Pricing available. Please contact for eligibility requirements, terms and discount rates.</em></p>
							<p class="small">** <em>Register your information to demand a free account and start using CompecTA’s Solutions.</em></p>
							<a href="contact.html" class="btn btn-default btn-hvr btn-block hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
						</div>
						<div class="col-md-5 visible-xs visible-sm">
							<p class="space-top">* <em>Academic Pricing available. Please contact for eligibility requirements, terms and discount rates.</em></p>
							<p>** <em>Register your information to demand a free account and start using CompecTA’s Solutions.</em></p>
							<div class="space-top">
								<a href="contact.html" class="btn btn-default btn-hvr btn-block hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row pv-20">
						<div class="col-sm-12">
							<h3><a class="link-default" href="feynmangrid.html">CompecTA <strong>Feynman</strong>Grid™</a> <i class="icon-minus"></i> HPC-on-Demand</h3>
							<p class="small"><em>Super-fast High Performance Computing Cluster</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-md-7">
							<img class="" alt="FeynmanGrid" src="images/mail-feynmangrid-banner.jpg">
						</div>
						<div class="col-md-5">
							<h3 class="margin-clear"><strong>Rent CPU & GPGPU Time</strong> <br>
							on CompecTA's own HPC Cluster <br></h3>
							<div class="separator-2"></div>
							<p class="large">CompecTA offers HPC Cluster service which you can use to run your applications, renting CPU & GPGPU time and disk space. Our HPC Cluster is called <a class="link-default" href="feynmangrid.html">FeynmanGrid™</a> in the honour of the great physicist Richard Feynman.</p>
							<a href="contact.html" class="btn btn-default btn-hvr btn-block hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
						</div>
					</div>
					<div class="row pv-20">
						<div class="col-md-6">
							<div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="icon-gauge text-default"></i></span>
								<div class="body">
									<h4 class="title">Performance Optimized</h4>
									<p class="text-muted">Our cluster uses Intel’s state-of-the-art Xeon CPUs with FDR Infiniband interconnects (56Gbit/s) and our modern and flexible file system solution, the FeynmanStor Z™.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="fa fa-support text-default"></i></span>
								<div class="body">
									<h4 class="title">Dedicated Support</h4>
									<p class="text-muted">FeynmanGrid™ service is managed & supported entirely by CompecTA, taking advantage of years experience in performance optimizing HPC Clusters & first class support.</p>
								</div>
							</div>
						</div>
						<div class="col-md-5 visible-xs visible-sm">
							<p class="space-top">* <em>Academic Pricing available. Please contact for eligibility requirements, terms and discount rates.</em></p>
							<p>** <em>Register your information to demand a free account and start using CompecTA’s Solutions.</em></p>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}