{% extends "base.html" %}
{% block title %}YBH Başlangıç Paketi{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}YBH Başlangıç Paketi{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/starterpack.jpg'); background-position: 50% 45%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">YBH Başlangıç Paketi</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Yüksek Başarımlı Hesaplama dünyasına açılan kapınız</p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">YBH Başlangıç Paketi bir yıllık üst düzey destek hizmeti içermektedir. Bu sayede program kurulumu, kullanıcı yönetimi veya performans optimizasyonu gibi konularla uğraşmak zorunda kalmıyorsunuz, bunları sizin için biz yapıyoruz.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h3>Yüksek Başarımlı Hesaplamaya Adım Atın</h3>
							<div class="separator-2"></div>
							<p>CompecTA’nın sunmuş olduğu YBH Başlangıç Paketleri yüksek hızlı ve yüksek başarımlı hesaplamaya başlangıç için en iyi seçeneklerdir. Herhangi bir iş istasyonundan (workstation) oldukça hızlı olan sunucularımız küçük ölçekli veya bireysel ihtiyaçlar için ekonomik, verimli ve ölçeklenebilir olarak tasarlandı ve geliştirildi.</p>
						</div>
						<div class="col-md-6">
							<h3>Ekonomik & Verimli</h3>
							<div class="separator-2"></div>
							<p>YBH Başlangıç Paketi, deneyimlerimiz ile YBH'nin en iyi uygulamalarını barınıdır. Şu anda Başlangıç Paketinin iki seçeneği var, ilki gigabit ethernet bağlantıları üzerine kurulu ve bu yüzden çok ekonomik. İkinci seçenekte ise, 56 Gb / s Infiniband kullanıyor ve MPI trafiğini ve paralel uygulamayı önemli ölçüde hızlandırıyor.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h3>Destek</h3>
							<div class="separator-2"></div>
							<p>YBH Başlangıç Paketi bir yıllık yazılım destek hizmeti içermektedir. Uzmanlarımız size program kurulumu, sistem yönetimi, donanım ve yazılım sorunları ile ilgili destek vereceklerdir. Bu hizmetler pakete dahildir.</p>
						</div>
						<div class="col-md-6">
							<h3>Ölçeklenebilir</h3>
							<div class="separator-2"></div>
							<p>YBH Sisteminizi genişlettiğinizi görmek isteriz. Bunun için size yardımcı oluyoruz ve kümenizi ölçeklendirmek için değiştirmeniz gereken switch leri geri satın alma fırsatı sunuyoruz. Bu sayede daha ekonomik ölçeklenebilirlik elde edebilirsiniz.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="full-width-section pv-20 border-clear light-gray-bg">
				<div class="container">
					<div class="row space-top">
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>YBH Başlangıç Paketi <strong>G1</strong></h3>
									<p><em><strong>4 Nodes</strong> in 2U form factor, Gigabit Ethernet</em></p>
									<p><em><strong>80 Cores</strong> & <strong>256 GB Distributed Memory</strong> for computation</em></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/starterpack-g1-3.jpg">
									</div>
									<ul class="list-icons ph-20">
										<li><i class="icon-check text-default"></i> 2U Form Factor</li>
										<li><i class="icon-check text-default"></i> First Node:
											<ul>
												<li>2 Sockets</li>
												<li>Intel Xeon E5-2670v3, 2.3 Ghz, 12 Core</li>
												<li>96 GB Memory</li>
												<li>2.0 TB Disk Capacity</li>
												<li>240 GB SSD Cache Disk</li>
											</ul>
										</li>
										<li><i class="icon-check text-default"></i> Other Nodes:
											<ul>
												<li>2 Sockets</li>
												<li>Intel Xeon E5-2650v3, 2.3Ghz, 10 Core</li>
												<li>64 GB Memory</li>
												<li>240 GB SSD Cache Disk</li>
											</ul>
										</li>
										<li><i class="icon-check text-default"></i> Network:
											<ul>
												<li>Dual Gigabit Ethernet Interconnects</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>YBH Başlangıç Paketi <strong>F1</strong></h3>
									<p><em><strong>4 Nodes</strong> in 2U form factor, <strong>56 Gb/s Infiniband</strong>, Gigabit Ethernet</em></p>
									<p><em><strong>80 Cores</strong> & <strong>256 GB Distributed Memory</strong> for computation</em></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/starterpack-g1-3.jpg">
									</div>
									<ul class="list-icons ph-20">
										<li><i class="icon-check text-default"></i> 2U Form Factor</li>
										<li><i class="icon-check text-default"></i> First Node:
											<ul>
												<li>2 Sockets</li>
												<li>Intel Xeon E5-2670v3, 2.3 Ghz, 12 Core</li>
												<li>96 GB Memory</li>
												<li>2.0 TB Disk Capacity</li>
												<li>240 GB SSD Cache Disk</li>
											</ul>
										</li>
										<li><i class="icon-check text-default"></i> Other Nodes:
											<ul>
												<li>2 Sockets</li>
												<li>Intel Xeon E5-2650v3, 2.3Ghz, 10 Core</li>
												<li>64 GB Memory</li>
												<li>240 GB SSD Cache Disk</li>
											</ul>
										</li>
										<li><i class="icon-check text-default"></i> Network:
											<ul>
												<li>Dual Gigabit Ethernet Interconnects</li>
												<li>56 Gb/s FDR14 Infiniband HBA</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}