{% extends "base.html" %}
{% block title %}HPC Starter Pack{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="products.html">Products</a></li>
						<li class="active">HPC Starter Pack</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/starterpack.jpg'); background-position: 50% 45%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">HPC Starter Pack</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Your gateway to the HPC World!</p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">HPC Starter Pack comes with bundled one year first-class support. So you don’t have to deal with application installation, user management or performance optimizations, we do that all for you. All you have to do is enjoy your cluster.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h3>Get Started with High Performance Computing</h3>	
							<div class="separator-2"></div>
							<p>CompecTA’s HPC Starter Pack is the perfect HPC Cluster to get you started with High Performance Computing. We have designed and developed an affordable, efficient and scalable cluster for small teams or individuals, which performs magnitudes of faster than any workstation.</p>
						</div>
						<div class="col-md-6">
							<h3>Affordable & Efficient</h3>	
							<div class="separator-2"></div>
							<p>HPC Starter Pack utilizes HPC best practises with an additional bump from CompecTA’s experience. Currently Starter Pack has two versions, one is built on top of gigabit ethernet interconnects so it’s a lot more affordable. The second version uses 56 Gb/s Infiniband, which significantly accelerates MPI traffic and speeds up any parallel application.</p>
						</div>
						<div class="col-md-6">
							<h3>Batteries Included</h3>	
							<div class="separator-2"></div>
							<p>HPC Starter Pack comes with bundled one year application level support. CompecTA's HPC experts will assist you with applications installations, system administration and also hardware & software problems. All included with the cluster.</p>
						</div>
						<div class="col-md-6">
							<h3>Scalable</h3>	
							<div class="separator-2"></div>
							<p>We would love to see you expand your HPC Starter Pack cluster. For this we do our part and provide you with opportunity to buy back the switches you would have to replace to scale your cluster. This means more affordable scalability for you.</p>
						</div>
					</div>
					<div class="separator"></div>
					<div class="row space-top">
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow light-gray-bg">
								<div class="body">
									<h3>HPC Starter Pack <strong>G1</strong></h3>
									<p><em><strong>4 Nodes</strong> in 2U form factor, Gigabit Ethernet</em></p>
									<p><em><strong>80 Cores</strong> & <strong>256 GB Distributed Memory</strong> for computation</em></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/starterpack-g1-3.jpg">
									</div>
									<ul class="list-icons ph-20">
										<li><i class="icon-check text-default"></i> 2U Form Factor</li>
										<li><i class="icon-check text-default"></i> First Node:
											<ul>
												<li>2 Sockets</li>
												<li>Intel Xeon E5-2670v3, 2.3 Ghz, 12 Core</li>
												<li>96 GB Memory</li>
												<li>2.0 TB Disk Capacity</li>
												<li>240 GB SSD Cache Disk</li>
											</ul>
										</li>
										<li><i class="icon-check text-default"></i> Other Nodes:
											<ul>
												<li>2 Sockets</li>
												<li>Intel Xeon E5-2650v3, 2.3Ghz, 10 Core</li>
												<li>64 GB Memory</li>
												<li>240 GB SSD Cache Disk</li>
											</ul>
										</li>
										<li><i class="icon-check text-default"></i> Network:
											<ul>
												<li>Dual Gigabit Ethernet Interconnects</li>
											</ul>
										</li>
									</ul>											
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow light-gray-bg">
								<div class="body">
									<h3>HPC Starter Pack <strong>F1</strong></h3>
									<p><em><strong>4 Nodes</strong> in 2U form factor, <strong>56 Gb/s Infiniband</strong>, Gigabit Ethernet</em></p>
									<p><em><strong>80 Cores</strong> & <strong>256 GB Distributed Memory</strong> for computation</em></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/starterpack-g1-3.jpg">
									</div>
									<ul class="list-icons ph-20">
										<li><i class="icon-check text-default"></i> 2U Form Factor</li>
										<li><i class="icon-check text-default"></i> First Node:
											<ul>
												<li>2 Sockets</li>
												<li>Intel Xeon E5-2670v3, 2.3 Ghz, 12 Core</li>
												<li>96 GB Memory</li>
												<li>2.0 TB Disk Capacity</li>
												<li>240 GB SSD Cache Disk</li>
											</ul>
										</li>
										<li><i class="icon-check text-default"></i> Other Nodes:
											<ul>
												<li>2 Sockets</li>
												<li>Intel Xeon E5-2650v3, 2.3Ghz, 10 Core</li>
												<li>64 GB Memory</li>
												<li>240 GB SSD Cache Disk</li>
											</ul>
										</li>
										<li><i class="icon-check text-default"></i> Network:
											<ul>
												<li>Dual Gigabit Ethernet Interconnects</li>
												<li>56 Gb/s FDR14 Infiniband HBA</li>
												<!--<li>5 port FDR14 Infiniband Switch</li>-->
											</ul>
										</li>
									</ul>											
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- section end -->
{% endblock %}