{% extends "base.html" %}
{% block title %}Deep Learning with CompecTA SuperNova X&trade; Series{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA SuperNova X&trade; Series{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}supernovax.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/supernovax.jpg'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep Learning with CompecTA SuperNova X&trade; Series</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Super-fast & Scalabe Deep Learning Server Systems </p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep learning is the fastest-growing field in machine learning. It uses many-layered Deep Neural Networks (DNNs) to learn levels of representation and abstraction that make sense of data such as images, sound, and text.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3>All-In-One & Ready to Use</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova X Engine&trade; is a <strong>super-fast and efficient in single-root complex</strong> server solution for Deep Learning needs.</p>
							<p>With  <strong>up to 10GPUs in single-root complex</strong> in 4U form factor CompecTA SuperNova X Engine&trade; provides <strong>top deep learning performance and parallelization.</strong></p>
							<p>It comes with Deep Learning Neural Network libraries, Deep Learning Frameworks, Operating System and Drivers <strong>pre-installed and ready to use.</strong></p>
						</div>
						<div class="col-md-4">
							<h3>Enterprise Level Support</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; comes with an <strong>Enterprise Level Support</strong> package from HPC experts with over 20 years of experience in the field.</p>
							<p>We will assist you with any problem you may encounter with your system.</p>
							<br>
							<img class="nv-preferred hidden-xs" src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider">
						</div>
						<div class="col-md-4">
							<h3>Free CPU Time</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; comes with <strong>100 thousands hours of CPU Time</strong> on CompecTA's in-house HPC Cluster service called <strong>FeynmanGrid&trade;</strong>. </p>
							<p>Use this opportunity to gain experience on using HPC Clusters or performance test any application or to test some new code/application.</p>
							<img class="nv-preferred visible-xs" src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider">
							<div class="space-top visible-xs"></div>
							<img class="frameworks" src="images/frameworks.jpg" alt="DL Framewroks">
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA SuperNova X&trade; Series</h3>
							<p class="small"><em>Super-fast & Scalable Deep Learning Server Systems</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova X Engine&trade;</strong> <span class="text-default"><strong>XG80Ti</strong></span> <sup class="badge badge-red">NEW</sup></h3>
									<p class="performance">113 TFLOPS of FP32 Performance<br>450 TOPS of INT8 Performance <br>&nbsp;</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									Good Neural Network Training<br>
									<span class="text-default">Super-fast Inferencing</span>
									</p>
									<p class="price"><strong>$36,995</strong> <small>(Excluding Taxes)</small><br>
									<small>CNVAIS1-XG80TIV1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xg80ti.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4.5U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA GTX 1080Ti 352-Bit 11GB GDDR5X 11 Gbps Memory</strong></li>
										<li><strong>35,840 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova X Engine&trade;</strong> <span class="text-default"><strong>XP100</strong></span>  <br class="visible-sm"><sup class="badge badge-red">NEW</sup></h3>
									<p class="performance">187 TFLOPS of FP16 Performance<br>93 TFLOPS of FP32 Performance<br>47 TFLOPS of FP64 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									<span class="text-default">Super-fast Neural Network Training</span><br>
									Super-fast Inferencing
									</p>
									<p class="price"><a class="link-default" href="contact.html">REQUEST A QUOTE</a><br>
									<small>CNVAIS1-XP100V1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xp100.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA Tesla P100 4096-Bit 16GB HBM2 at 732 GB/s Memory</strong></li>
										<li><strong>35,840 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova X Engine&trade;</strong> <span class="text-default"><strong>XV100</strong></span> <sup class="badge badge-red">NEW</sup></h4>
									<p class="performance"><strong>1120 TFLOPS of Tensor Performance</strong><br>140 TFLOPS of FP32 Performance<br>70 TFLOPS of FP64 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									<span class="text-default">Ultra-fast Neural Network Training</span><br>
									Super-fast Inferencing
									</p>
									<p class="price"><a class="link-default" href="contact.html">REQUEST A QUOTE</a><br>
									<small>CNVAIS1-XV100V1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xv100.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA Tesla V100 4096-Bit 16GB HBM2 at 900 GB/s Memory</strong></li>
										<li><strong>51,200 Total CUDA® Cores</strong></li>
										<li><strong>6,400 Total Tensor Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}