{% extends "base.html" %}
{% block title %}CompecTA SuperNova X&trade; Serisi Derin Öğrenme Sistemleri{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA SuperNova X&trade; Serisi{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}supernovax.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/supernovax.jpg'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA SuperNova X&trade; Serisi ile Derin Öğrenme</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Süper-Hızlı & Ölçeklenebilir Derin Öğrenme Sunucu Sistemleri</p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Derin Öğrenme, bilgisayarların görseller, sesler ve metinler gibi sonsuz miktarda veriyi anlamasına yardımcı olan, en hızlı büyüyen yapay zeka alanıdır.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3 class="visible-sm">Hepsi Bir Arada & Kullanıma Hazır</h3>
							<h4 class="hidden-sm">Hepsi Bir Arada & Kullanıma Hazır</h4>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova X Engine&trade; Derin Öğrenme ihtiyaçlarına özel <strong>single-root yapıda çalışan, süper hızlı ve verimli</strong> sunucu sistemleri çözümüdür.</p>
							<p>4U boyutta <strong>single-root yapıda 10 GPU ya kadar</strong> sunduğu destek ile <strong>üst düzey Derin Öğrenme performansı ve paralellik sağlar.</strong></p>
							<p>Derin Öğrenme sinir ağı kütüphanesi, Derin Öğrenme gereçleri, işletim sistemi ve sürücüler <strong>önceden kurulmuş ve kullanıma hazır</strong> olarak gelir.</strong></p>
						</div>
						<div class="col-md-4">
							<h3 class="visible-sm">Kurumsal Destek Hizmeti</h3>
							<h4 class="hidden-sm">Kurumsal Destek Hizmeti</h4>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; 20 yılı aşkın tecrübeye sahip YBH uzmanları tarafından sunulan <strong>Kurumsal Destek Hizmet</strong> paketi ile birlikte gelir.</p>
							<p>Sisteminizde karşılaşabileceğiniz her türlü soruna destek bulabilirsiniz.</p>
							<br>
							<img class="nv-preferred hidden-xs" src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider">
						</div>
						<div class="col-md-4">
							<h3 class="visible-sm">Ücretsiz CPU Zamanı</h3>
							<h4 class="hidden-sm">Ücretsiz CPU Zamanı</h4>
							<div class="separator-2"></div>
							<p>CompecTA'nın kendi bünyesindeki Yüksek Başarımlı Hesaplama sistemi <strong>FeynmanGrid&trade;</strong> üzerinde çalışabileceğiniz <strong>ücretsiz 100 bin saatlik CPU Zamanı</strong> ile beraber gelmektedir.</p>
							<p>YBH Sistemlerini kullanma, uygulama performans testi veya yeni bir kod / uygulama test etme deneyimi kazanmak için bu fırsatı kullabilirsiniz.</p>
							<img class="nv-preferred visible-xs" src="images/NVIDIA_PreferredSolutionProvider.png" alt="NVIDIA Preferred Solution Provider">
							<div class="space-top visible-xs"></div>
							<img class="frameworks" src="images/frameworks.jpg" alt="DL Framewroks">
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA SuperNova X&trade; Serisi</h3>
							<p class="small"><em>Süper-Hızlı & Ölçeklenebilir Derin Öğrenme Sunucu Sistemleri</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova X Engine&trade;</strong> <span class="text-default"><strong>XG80Ti</strong></span> <sup class="badge badge-red">YENİ</sup></h3>
									<p class="performance">113 TFLOPS of FP32 Performance<br>450 TOPS of INT8 Performance <br>&nbsp;</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									İyi Sinir Ağı Eğitimi<br>
									<span class="text-default">Süper-Hızlı Çıkarım</span>
									</p>
									<p class="price"><strong>$36,995</strong> <small>(Vergiler Hariç)</small><br>
									<small>CNVAIS1-XG80TIV1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xg80ti.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4.5U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA GTX 1080Ti 352-Bit 11GB GDDR5X 11 Gbps Memory</strong></li>
										<li><strong>35,840 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova X Engine&trade;</strong> <span class="text-default"><strong>XP100</strong></span>  <br class="visible-sm"><sup class="badge badge-red">YENİ</sup></h3>
									<p class="performance">187 TFLOPS of FP16 Performance<br>93 TFLOPS of FP32 Performance<br>47 TFLOPS of FP64 Performance</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									<span class="text-default">Super-Hızlı Sinir Ağı Eğitimi</span><br>
									Super-Hızlı Çıkarım
									</p>
									<p class="price"><a class="link-default" href="contact.html">FİYAT İSTEYİNİZ</a><br>
									<small>CNVAIS1-XP100V1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xp100.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA Tesla P100 4096-Bit 16GB HBM2 at 732 GB/s Memory</strong></li>
										<li><strong>35,840 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">FİYAT İSTEYİNİZ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova X Engine&trade;</strong> <span class="text-default"><strong>XV100</strong></span> <sup class="badge badge-red">YENİ</sup></h4>
									<p class="performance"><strong>1120 TFLOPS of Tensor Performance</strong><br>140 TFLOPS of FP32 Performance<br>70 TFLOPS of FP64 Performance</p>
									<p class="bestfor">
									<small>En iyi kullanım:</small><br>
									Derin Öğrenme<br>
									<span class="text-default">Ultra-Hızlı Sinir Ağı Eğitimi</span><br>
									Super-Hızlı Çıkarım
									</p>
									<p class="price"><a class="link-default" href="contact.html">FİYAT İSTEYİNİZ</a><br>
									<small>CNVAIS1-XV100V1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xv100.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA Tesla V100 4096-Bit 16GB HBM2 at 900 GB/s Memory</strong></li>
										<li><strong>51,200 Total CUDA® Cores</strong></li>
										<li><strong>6,400 Total Tensor Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">FİYAT İSTEYİNİZ</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}