{% extends "base.html" %}
{% block title %}Deep Learning with Digits DevBox{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="products.html">Products</a></li>
						<li class="active">CompecTA SuperNova&trade; Series</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/supernova.jpg'); background-position: 50% 53%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep Learning with CompecTA SuperNova&trade; Series</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Super-fast & Scalabe Deep Learning Systems </p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep learning is the fastest-growing field in machine learning. It uses many-layered Deep Neural Networks (DNNs) to learn levels of representation and abstraction that make sense of data such as images, sound, and text.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3>All-In-One & Ready to Use</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; is a <strong>super-fast and energy-efficient</strong> server solution for Deep Learning needs.</p>
							<p>Built with the <strong>world’s best hardware, software, and systems engineering</strong> and years of experience of CompecTA HPC Solutions.</p>
							<p>It comes with Deep Learning Neural Network libraries, Deep Learning Frameworks, Operating System and Drivers <strong>pre-installed and ready to use.</strong></p>
						</div>
						<div class="col-md-4">
							<h3>Enterprise Level Support</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; comes with an <strong>Enterprise Level Support</strong> package from HPC experts with over 20 years of experience in the field.</p>
							<p>We will assist you with any problem you may encounter with your system.</p>
						</div>
						<div class="col-md-4">
							<h3>Free CPU Time</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; comes with <strong>100 thousands hours of CPU Time</strong> on CompecTA's in-house HPC Cluster service called <strong>FeynmanGrid&trade;</strong>. </p>
							<p>Use this opportunity to gain experience on using HPC Clusters or performance test any application or to test some new code/application.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA SuperNova&trade; Series</h3>
							<p class="small"><em>Super-fast & Scalable Deep Learning Server Systems</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>P40</strong></span></h3>
									<p class="performance">48 TFLOPS of FP32 Performance<br>188 TOPS of INT8 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									Good Neural Network Training<br>
									<span class="text-default">Super-fast Inferencing</span>
									</p>
									<p class="price">$46,970 <small>(Excluding Taxes)</small><br>
									<small>CNVDS1-P40V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-p40-p100.jpg">
									</div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>256 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA Tesla P40 24GB Memory per GPU</strong></li>
										<li>15,360 Total CUDA® Cores</li>
										<li>4 x 512 SSD Disks<br>(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04/16.04 or your choice of Linux OS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span>Optional:</span>
									<ul>
										<li>Mellanox EDR 100Gb/s or FDR 56Gb/s Infiniband for GPU Direct RDMA</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>P100</strong></span></h3>
									<p class="performance">74.8 TFLOPS of FP16 Performance<br>37.2 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									<span class="text-default">Super-fast Neural Network Training</span><br>
									Good Inferencing
									</p>
									<p class="price">$45,217 <small>(Excluding Taxes)</small><br>
									<small>CNVDS1-P100V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-p40-p100.jpg">
									</div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>256 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA Tesla P100 16GB HBM2 Memory per GPU</strong></li>
										<li>14,336 Total CUDA® Cores</li>
										<li>4 x 512 SSD Disks<br>(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04/16.04 or your choice of Linux OS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span>Optional:</span>
									<ul>
										<li>Mellanox EDR 100Gb/s or FDR 56Gb/s Infiniband for GPU Direct RDMA</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>NP100</strong></span></h3>
									<p class="performance">84.8 TFLOPS of FP16 Performance<br>42.4 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									<span class="text-default">Super-fast Neural Network Training</span><br>
									Good Inferencing
									</p>
									<p class="price">COMING SOON<br>
									<small>CNVDS1-NP100V1</small></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-np100.jpg">
									</div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way SXM2</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA P100 SXM2 with NVLink 16GB HBM2 Memory per GPU</strong></li>
										<li>14,336 Total CUDA® Cores</li>
										<li>4 x 512 SSD Disks<br>(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04/16.04 or your choice of Linux OS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span>Optional:</span>
									<ul>
										<li>Mellanox EDR 100Gb/s or FDR 56Gb/s Infiniband for GPU Direct RDMA</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}