{% extends "base.html" %}
{% block title %}CompecTA SuperNova&trade; Serisi Derin Öğrenme Sistemleri{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA SuperNova&trade; Serisi{% endblock %}
{% block hreflang %}{% block langlinkmobileen %}{% block langlinken %}{% block langlinkmobilede %}{% block langlinkde %}supernova.html{% endblock %}{% endblock %}{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/supernova.jpg'); background-position: 50% 53%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA SuperNova&trade; Serisi ile Yapay Zeka ve Derin Öğrenme</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Süper-Hızlı & Ölçeklenebilir Yapay Zeka ve Derin Öğrenme Sunucu Sistemleri</p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Derin Öğrenme, bilgisayarların görseller, sesler ve metinler gibi sonsuz miktarda veriyi anlamasına yardımcı olan, en hızlı büyüyen yapay zeka alanıdır.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3 class="visible-sm">Hepsi Bir Arada & Kullanıma Hazır</h3>
							<h4 class="hidden-sm">Hepsi Bir Arada & Kullanıma Hazır</h4>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; Derin Öğrenme ve Yapay Zeka ihtiyaçlarına özel olarak tasarlanmış <strong>süper-hızlı ve verimli</strong> sunucu sistemleri çözümüdür.</p>
							<p>Dünyanın <strong>en iyi donanım, yazılım ve sistem mühendisliği</strong> ile oluşturulmuştur.</p>
							<p>Derin Öğrenme sinir ağı kütüphanesi, Derin Öğrenme gereçleri, işletim sistemi ve sürücüler <strong>önceden kurulmuş ve kullanıma hazır</strong> olarak gelir.</p>
						</div>
						<div class="col-md-4">
							<h3 class="visible-sm">Kurumsal Destek Hizmeti</h3>
							<h4 class="hidden-sm">Kurumsal Destek Hizmeti</h4>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; 20 yılı aşkın tecrübeye sahip YBH uzmanları tarafından sunulan <strong>Kurumsal Destek Hizmet</strong> paketi ile birlikte gelir.</p>
							<p>Sisteminizde karşılaşabileceğiniz her türlü soruna destek bulabilirsiniz.</p>
							<br>
							<img class="nv-preferred hidden-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
						</div>
						<div class="col-md-4">
							<h3 class="visible-sm">Ücretsiz CPU Zamanı</h3>
							<h4 class="hidden-sm">Ücretsiz CPU Zamanı</h4>
							<div class="separator-2"></div>
							<p>CompecTA'nın kendi bünyesindeki Yüksek Başarımlı Hesaplama sistemi <strong>FeynmanGrid&trade;</strong> üzerinde çalışabileceğiniz <strong>ücretsiz 100 bin saatlik CPU Zamanı</strong> ile beraber gelmektedir.</p>
							<p>YBH Sistemlerini kullanma, uygulama performans testi veya yeni bir kod / uygulama test etme deneyimi kazanmak için bu fırsatı kullabilirsiniz.</p>
							<img class="nv-preferred visible-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
							<div class="space-top visible-xs"></div>
							<img class="frameworks" src="images/frameworks.jpg" alt="DL Framewroks">
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA SuperNova&trade; Serisi</h3>
							<p class="small"><em>Süper-Hızlı & Ölçeklenebilir Sunucu Sistemleri</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>A30</strong></span> <sup class="badge badge-orange">POPULAR</sup></h3>
									<p class="performance"><strong>660 TFLOPS of Tensor Performance</strong><br>41.2 TFLOPS of FP32 Performance<br>20.8 TFLOPS of FP64 Performance<br>1,320 TOPS of INT8 Tensor Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Kullanım Alanı:</small><br>
											<span class="text-default">
												Yapay Zeka ve Derin Öğrenme<br>
												Hızlı Sinir Ağı Eğitimi<br>
												Hızlı Çıkarım
											</span>
											</p>
											<p class="price"><strong>$38,995</strong> <small>+KDV</small><br><small>başlayan fiyatlarla</small><br>
											<small>CNVAIS1-A30V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="A30" src="images/supernova-a100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way PCIe GPUs</li>
										<li>Dual INTEL Xeon CPUs (up to 64-Cores)</li>
										<li>512 GB DDR4 3200MHz ECC Memory (up to 2TB)</li>
										<li><strong>4 x NVIDIA A30 24GB HBM2 Memory @ 933GB/s 165W</strong></li>
										<li><strong>15,216 Total CUDA® Cores</strong></li>
										<li><strong>896 Total Tensor Cores</strong></li>
										<li><strong>Up to 16 MIGs (Multi Instance GPUs) at 6GB each</strong></li>
										<li>2 x 1.92TB NVMe Disks <br class="visible-xs">(up to 4 disks)</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Infiniband <strong>HDR 200Gb/s Network</strong> for multi-node GPU Direct RDMA support</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>A100</strong></span> <sup class="badge badge-red">BEST</sup></h3>
									<p class="performance"><strong>1,248 TFLOPS of Tensor Performance</strong><br>78 TFLOPS of FP32 Performance<br>38.8 TFLOPS of FP64 Performance<br>2,496 TOPS of INT8 Tensor Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Kullanım Alanı:</small><br>
											<span class="text-default">
												Yapay Zeka ve Derin Öğrenme<br>
												Süper Hızlı Sinir Ağı Eğitimi<br>
												Süper Hızlı Çıkarım
											</span>
											</p>
											<p class="price"><strong>$79,495</strong> <small>+KDV</small><br><small>başlayan fiyatlarla</small><br>
											<small>CNVAIS1-A100V2</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="NA104" src="images/supernova-a100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way PCIe GPUs</li>
										<li>Dual INTEL Xeon CPUs (up to 64-Cores)</li>
										<li>1 TB DDR4 3200MHz ECC Memory (up to 2TB)</li>
										<li><strong>4 x NVIDIA A100 80GB HBM2 Memory @ 1935GB/s 300W</strong></li>
										<li><strong>27,648 Total CUDA® Cores</strong></li>
										<li><strong>1,728 Total Tensor Cores</strong></li>
										<li><strong>Up to 28 MIGs (Multi Instance GPUs) at 10GB each</strong></li>
										<li>2 x 1.92TB NVMe Disks <br class="visible-xs">(up to 4 disks)</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Infiniband <strong>HDR 200Gb/s Network</strong> for multi-node GPU Direct RDMA support</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>NA104</strong></span> <sup class="badge badge-green">with NVLINK</sup></h3>
									<p class="performance"><strong>1,248 TFLOPS of Tensor Performance</strong><br>78 TFLOPS of FP32 Performance<br>38.8 TFLOPS of FP64 Performance<br>2,496 TOPS of INT8 Tensor Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Kullanım Alanı:</small><br>
											<span class="text-default">
												Hızlı Çoklu GPU İş Yükleri<br>
												Yapay Zeka ve Derin Öğrenme<br>
												Süper Hızlı Sinir Ağı Eğitimi<br>
												Süper Hızlı Çıkarım
											</span>
											</p>
											<p class="price"><a class="link-default" href="contact.html"><strong>FİYAT İSTEYİNİZ</strong></a><br>
											<small>CNVAIS1-NA104V2</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="A100" src="images/supernova-na104.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 2U Rackmount Chassis 4-way NVLINK GPUs</li>
										<li>Dual INTEL Xeon CPUs (up to 80-Cores)</li>
										<li>1 TB DDR4 3200MHz ECC Memory (up to 4TB)</li>
										<li><strong>HGX A100 4-GPU SXM4 80GB HBM2e NVLINK Multi-GPU Board 2039GB/s 400W</strong></li>
										<li><strong>27,648 Total CUDA® Cores</strong></li>
										<li><strong>1,728 Total Tensor Cores</strong></li>
										<li><strong>Up to 28 MIGs (Multi Instance GPUs) at 10GB each</strong></li>
										<li>2 x 1.92TB SATA SSD Disks <br class="visible-xs">(up to 4 disks)</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Infiniband <strong>HDR 200Gb/s Network</strong> for multi-node GPU Direct RDMA support</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>NA108</strong></span> <sup class="badge badge-green">with NVLINK</sup> <sup class="badge badge-red">BEST</sup></h3>
									<p class="performance"><strong>2,500 TFLOPS of Tensor Performance</strong><br>156 TFLOPS of FP32 Performance<br>78 TFLOPS of FP64 Performance<br>5,000 TOPS of INT8 Tensor Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Kullanım Alanı:</small><br>
											<span class="text-default">
												Süper Hızlı Çoklu GPU İş Yükleri<br>
												Yapay Zeka ve Derin Öğrenme<br>
												Süper Hızlı Sinir Ağı Eğitimi<br>
												Süper Hızlı Çıkarım
											</span>
											</p>
											<p class="price"><a class="link-default" href="contact.html"><strong>FİYAT İSTEYİNİZ</strong></a><br>
											<small>CNVAIS1-NA108V2</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="NA108" src="images/supernova-na108.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 4U Rackmount Chassis 8-way NVLINK GPUs</li>
										<li>Dual INTEL Xeon CPUs (up to 80-Cores)</li>
										<li>2 TB DDR4 3200MHz ECC Memory (up to 4TB)</li>
										<li><strong>HGX A100 8-GPU SXM4 80GB HBM2e NVLINK Multi-GPU Board 2039GB/s 400W-500W</strong></li>
										<li><strong>55,296 Total CUDA® Cores</strong></li>
										<li><strong>3,456 Total Tensor Cores</strong></li>
										<li><strong>Up to 56 MIGs (Multi Instance GPUs) at 10GB each</strong></li>
										<li>4 x 3.84TB NVMe Disks <br class="visible-xs">(up to 10 disks)</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Opsiyonel:</span>
									<ul class="ph-20">
										<li>Infiniband <strong>HDR 200Gb/s Network</strong> for multi-node GPU Direct RDMA support</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">SİPARİŞ</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<a class="btn btn-gray-transparent btn-block btn-lg collapsed btn-animated" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">See Archived Products <i class="fa fa-plus"></i></a>
						</div>
						<div class="collapse" id="collapseContent"><!-- collapse start -->
							<div class="col-sm-12">
								<h3>CompecTA SuperNova&trade; Serisi Önceki Nesil Ürünler</h3>
								<p class="small"><em>Aşağıdaki ürünler artık sipariş edilememektedir.</em></p>
								<div class="separator-2"></div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>SuperNova Engine&trade; <span class="text-default"><strong>P100</strong></span></h3>
										<p class="performance">74.8 TFLOPS of FP16 Performance<br>37.2 TFLOPS of FP32 Performance</p>
										<div class="row">
											<div class="col-md-6">
												<p class="bestfor">
												<small>Kullanım Alanı:</small><br>
												Derin Öğrenme<br>
												<span class="text-default">Süper-Hızlı Sinir Ağı Eğitimi</span><br>
												İyi Çıkarım
												</p>
												<p class="price"><strong>TÜKENDİ</strong><br>
												<small>CNVDS1-P100V1</small></p>
											</div>
											<div class="col-md-6">
												<div class="overlay-container pv-10">
													<img alt="" src="images/supernova-p40-p100.jpg">
												</div>
											</div>
										</div>
										<div class="separator"></div>
										<ul class="ph-20">
											<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
											<li>Intel® Xeon® Processor E5-2697A v4</li>
											<li>256 GB DDR4 2400MHz Memory</li>
											<li><strong>4 x NVIDIA Tesla P100 16GB HBM2 at 732 GB/s Memory</strong></li>
											<li><strong>14,336 Total CUDA® Cores</strong></li>
											<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
											<li>Ubuntu 14.04 / 16.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
											<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
										</ul>
										<br>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
											<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>SuperNova Engine&trade; <span class="text-default"><strong>V100</strong></span> <sup class="badge badge-red">YENİ</sup></h3>
										<p class="performance"><strong>448 TFLOPS of Tensor Performance</strong><br>56 TFLOPS of FP32 Performance</p>
										<div class="row">
											<div class="col-md-6">
												<p class="bestfor">
												<small>Kullanım Alanı:</small><br>
												Derin Öğrenme<br>
												<span class="text-default">Süper-Hızlı Sinir Ağı Eğitimi</span><br>
												İyi Çıkarım
												</p>
												<p class="price"><strong>TÜKENDİ</strong><br>
												<small>CNVAIS1-V100V1</small></p>
											</div>
											<div class="col-md-6">
												<div class="overlay-container pv-10">
													<img alt="" src="images/supernova-v100.jpg">
												</div>
											</div>
										</div>
										<div class="separator"></div>
										<ul class="ph-20">
											<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
											<li>Intel® Xeon® Processor E5-2697A v4</li>
											<li>256 GB DDR4 2400MHz Memory</li>
											<li><strong>4 x NVIDIA Tesla V100 16GB HBM2 at 900 GB/s Memory</strong></li>
											<li><strong>20,480 Total CUDA® Cores</strong></li>
											<li><strong>2,560 Total Tensor Cores</strong></li>
											<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
											<li>Ubuntu 14.04 / 16.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
											<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
											<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>SuperNova Engine&trade; <span class="text-default"><strong>NP104</strong></span></h3>
										<p class="performance">84.8 TFLOPS of FP16 Performance<br>42.4 TFLOPS of FP32 Performance</p>
										<div class="row">
											<div class="col-md-6">
												<p class="bestfor">
												<small>Kullanım Alanı:</small><br>
												Derin Öğrenme<br>
												<span class="text-default">Süper-Hızlı Sinir Ağı Eğitimi</span><br>
												İyi Çıkarım
												</p>
												<p class="price"><strong>TÜKENDİ</strong><br>
												<small>CNVAIS1-NP104V1</small></p>
											</div>
											<div class="col-md-6">
												<div class="overlay-container pv-10">
													<img alt="" src="images/supernova-np100.jpg">
												</div>
											</div>
										</div>
										<div class="separator"></div>
										<ul class="ph-20">
											<li>19" 1U Rackmount Chassis 4-way SXM2</li>
											<li>Intel® Xeon® Processor E5-2697A v4</li>
											<li>512 GB DDR4 2400MHz Memory</li>
											<li><strong>4 x NVIDIA P100 SXM2 with NVLink 16GB HBM2 at 732 GB/s Memory</strong></li>
											<li><strong>Up to 80 GB/s GPU-to-GPU NVLINK</strong></li>
											<li><strong>14,336 Total CUDA® Cores</strong></li>
											<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
											<li>Ubuntu 14.04 / 16.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
											<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
										</ul>
										<br>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
											<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
											<li>Ek olarak <strong>NVIDIA&reg; Tesla P40</strong>: Süper hızlı çıkarım (Inferencing)</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>SuperNova Engine&trade; <span class="text-default"><strong>NV104</strong></span> <sup class="badge badge-red">YENİ</sup></h3>
										<p class="performance"><strong>500 TFLOPS of Tensor Performance</strong><br>62.8 TFLOPS of FP32 Performance</p>
										<div class="row">
											<div class="col-md-6">
												<p class="bestfor">
												<small>Kullanım Alanı:</small><br>
												Derin Öğrenme<br>
												<span class="text-default">Süper-Hızlı Sinir Ağı Eğitimi</span><br>
												İyi Çıkarım
												</p>
												<p class="price"><strong>TÜKENDİ</strong><br>
												<small>CNVAIS1-NV104V1</small></p>
											</div>
											<div class="col-md-6">
												<div class="overlay-container pv-10">
													<img alt="" src="images/supernova-np100.jpg">
												</div>
											</div>
										</div>
										<div class="separator"></div>
										<ul class="ph-20">
											<li>19" 1U Rackmount Chassis 4-way SXM2</li>
											<li>Intel® Xeon® Processor E5-2697A v4</li>
											<li>512 GB DDR4 2400MHz Memory</li>
											<li><strong>4 x NVIDIA V100 SXM2 with NVLink 16GB HBM2 at 900 GB/s Memory</strong></li>
											<li><strong>Up to 300GB/s GPU-to-GPU NVLINK</strong></li>
											<li><strong>20,480 Total CUDA® Cores</strong></li>
											<li><strong>2,560 Total Tensor Cores</strong></li>
											<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
											<li>Ubuntu 14.04 / 16.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
											<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
											<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
											<li>Ek olarak <strong>NVIDIA&reg; Tesla P40</strong>: Süper hızlı çıkarım (Inferencing)</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>SuperNova Engine&trade; <span class="text-default"><strong>NP108</strong></span></h3>
										<p class="performance">170 TFLOPS of FP16 Performance<br>84.8 TFLOPS of FP32 Performance</p>
										<div class="row">
											<div class="col-md-6">
												<p class="bestfor">
												<small>Kullanım Alanı:</small><br>
												Derin Öğrenme<br>
												<span class="text-default">Ultra-Hızlı Sinir Ağı Eğitimi</span><br>
												İyi Çıkarım
												</p>
												<p class="price"><strong>TÜKENDİ</strong><br>
												<small>CNVAIS1-NP108V1</small></p>
											</div>
											<div class="col-md-6">
												<div class="overlay-container pv-10">
													<img alt="" src="images/supernova-8xnp100.jpg">
												</div>
											</div>
										</div>
										<div class="separator"></div>
										<ul class="ph-20">
											<li>19" 4U Rackmount Chassis 8-way SXM2</li>
											<li>Intel® Xeon® Processor E5-2697A v4</li>
											<li>512 GB DDR4 2400MHz Memory</li>
											<li><strong>8 x NVIDIA P100 SXM2 with NVLink 16GB HBM2 at 732 GB/s Memory</strong></li>
											<li><strong>Up to 80 GB/s GPU-to-GPU NVLINK</strong></li>
											<li><strong>28,672 Total CUDA® Cores</strong></li>
											<li>4 x 512GB SSD Disks <br class="visible-xs">(4 hot-swap)</li>
											<li>Ubuntu 14.04 / 16.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
											<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
										</ul>
										<br>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to 4 x Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>SuperNova Engine&trade; <span class="text-default"><strong>NV108</strong></span> <sup class="badge badge-red">YENİ</sup></h3>
										<p class="performance"><strong>1000 TFLOPS of Tensor Performance</strong><br>125.6 TFLOPS of FP32 Performance</p>
										<div class="row">
											<div class="col-md-6">
												<p class="bestfor">
												<small>Kullanım Alanı:</small><br>
												Derin Öğrenme<br>
												<span class="text-default">Ultra-Hızlı Sinir Ağı Eğitimi</span><br>
												İyi Çıkarım
												</p>
												<p class="price"><strong>TÜKENDİ</strong><br>
												<small>CNVAIS1-NV108V1</small></p>
											</div>
											<div class="col-md-6">
												<div class="overlay-container pv-10">
													<img alt="" src="images/supernova-8xnp100.jpg">
												</div>
											</div>
										</div>
										<div class="separator"></div>
										<ul class="ph-20">
											<li>19" 4U Rackmount Chassis 8-way SXM2</li>
											<li>Intel® Xeon® Processor E5-2697A v4</li>
											<li>512 GB DDR4 2400MHz Memory</li>
											<li><strong>8 x NVIDIA V100 SXM2 with NVLink 16GB HBM2 at 900 GB/s Memory</strong></li>
											<li><strong>Up to 300GB/s GPU-to-GPU NVLINK</strong></li>
											<li><strong>40,960 Total CUDA® Cores</strong></li>
											<li><strong>5,120 Total Tensor Cores</strong></li>
											<li>4 x 512GB SSD Disks <br class="visible-xs">(4 hot-swap)</li>
											<li>Ubuntu 14.04 / 16.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
											<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Up to 4 x Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="image-box style-2 mb-20 bordered shadow">
									<div class="body">
										<h3>SuperNova Engine&trade; <span class="text-default"><strong>P40</strong></span></h3>
										<p class="performance">48 TFLOPS of FP32 Performance<br>188 TOPS of INT8 Performance</p>
										<div class="row">
											<div class="col-md-6">
												<p class="bestfor">
												<small>Kullanım Alanı:</small><br>
												Derin Öğrenme<br>
												İyi Sinir Ağı Eğitimi<br>
												<span class="text-default">Süper-Hızlı Çıkarım</span>
												</p>
												<p class="price"><strong>TÜKENDİ</strong><br>
												<small>CNVAIS1-P40V1</small></p>
											</div>
											<div class="col-md-6">
												<div class="overlay-container pv-10">
													<img alt="" src="images/supernova-p40-p100.jpg">
												</div>
											</div>
										</div>
										<div class="separator"></div>
										<ul class="ph-20">
											<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
											<li>Intel® Xeon® Processor E5-2697A v4</li>
											<li>256 GB DDR4 2400MHz Memory</li>
											<li><strong>4 x NVIDIA Tesla P40 24GB Memory</strong></li>
											<li><strong>15,360 Total CUDA® Cores</strong></li>
											<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
											<li>Ubuntu 14.04 / 16.04</li>
											<li>NVIDIA-qualified driver</li>
											<li>NVIDIA® DIGITS&trade;</li>
											<li>NVIDIA® CUDA® Toolkit</li>
											<li>NVIDIA® cuDNN&trade;</li>
											<li>Caffe, Theano, Torch, BIDMach</li>
											<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
											<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
										</ul>
										<span class="text-default">Opsiyonel:</span>
										<ul class="ph-20">
											<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
											<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
										</ul>
									</div>
								</div>
							</div>
						</div> <!-- collapse end -->
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}