{% extends "base.html" %}
{% block title %}Virtualization{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="solutions.html">Solutions</a></li>
						<li class="active">Virtualization</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/virtualization.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Virtualization</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Since 2007, CompecTA has specialized in Server Virtualization, Virtual Infrastructure and more recently, Application Oriented Virtualization. CompecTA places its specialism to provide planning, testing, proof of concept, migration, implementation and other services to enable organisations attain maximum competitive benefit.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<div class="pv-20">
				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-10 col-md-offset-1 space-top">
							<p class="text-center">Current and developing virtualisation and related technologies considerably reduce the cost of service delivery by;</p>
						</div>
					</div>
					<div class="row space-top">
						<div class="col-md-6">
							<img src="images/virtualization.jpg" alt="" class="img-responsive thumbnail">
						</div>
						<div class="col-md-6">
							<div class="feature-box-2">
								<p><i class="text-default icon-check"></i> Centralising hardware, management and security</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check"></i> Removing the need to maintain dual desktop types (terminal and single user)</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check"></i> Providing rapid provisioning technologies for testing and out-scaling</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check"></i> Enabling rapid recovery from any size, or criticality, of failure</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check"></i> Reducing the infrastructure footprint</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check"></i> Reducing power costs</p>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</div>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}