{% extends "base.html" %}
{% block title %}Sanallaştırma{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						{% include "services.html" %}
						<li class="active">Sanallaştırma</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/virtualization.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Sanallaştırma</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA 2007'den beri sunucu sanallaştırması, sanal altyapılar ve uygulama sanallaştırması konusunda uzmanlaşmış bir firmadır.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<div class="pv-20">
				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-10 col-md-offset-1 space-top">
							<p class="text-center">CompecTA, sunduğu çözümlerde anahtar teslimi proje anlayışıyla, çözümün planlaması, PoC (İng. Proof of Concept: iddia edilen çözümün çalışır olduğunun kanıtlanması) çalışmasının yapılması, testlerin geliştirilmesi ve uygulanması, fiziksel yapının sanal ortama tranfer edilmesi ve müşterisinin daha karlı bir çalışma ortamına kavuşması için gerekli diğer servislerin sağlanması konusunda uzmanlığını ortaya koymaktadır.</p>
							<p class="text-center">Aşağıda listelenen etmenler, sanallaştırma ve buna bağlı diğer teknolojilerin maliyetleri aşağı çekmesini açıklayan önemli noktalardır:</p>
						</div>
					</div>
					<div class="row space-top">
						<div class="col-md-6">
							<img src="images/virtualization.jpg" alt="" class="img-responsive thumbnail">
						</div>
						<div class="col-md-6">
							<ul class="list-icons ph-10">
							<li><i class="icon-check text-default"></i> Donanımı ve dolayısıyla sistem yönetimi ve güvenlik önlemleriyle ilgili çalışmaları tek bir noktaya toplar.</li>
							<li><i class="icon-check text-default"></i> İş yerlerindeki masaüstü kullanımıyla ilgili terminal ve tek kullanıcı sorunsalının aşılmasını sağlar.</li>
							<li><i class="icon-check text-default"></i> Hızlı sistem kurulumu ve test imkanı sağlaması sayesinde ihtiyaç anında çok hızlı genişleme olanağı sunar.</li>
							<li><i class="icon-check text-default"></i> Sorun olduğunda çok kısa bir sürede sistemlerin büyüklüğünden neredeyse bağımsız olarak geri dönülebilmesini </li>
							<li><i class="icon-check text-default"></i> Altyapı'nın fiziksel olarak kapladığı alanı küçültür.</li>
							<li><i class="icon-check text-default"></i> Daha az fiziksel sistem kullanımı nedeniyle güç ve soğutma maliyetlerini düşürür.</li>
						</ul>
						</div>
						<!-- main end -->

					</div>
				</div>
			</div>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}