<section class="section default-bg pv-30 clearfix">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="call-to-action text-center">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2 class="title">Get more information!</h2>
											<p>Our experts can answer all your questions.</p>
											<div class="separator"></div>
											<form class="form-inline margin-clear">
												<div class="lead margin-clear">
													<label class="sr-only" for="subscribe">Email address</label>
													<i class="fa fa-envelope"></i> <a href="mailto:info@compecta.com" class="link-dark">info@compecta.com</a><br class="visible-xs"><div class="mt-5 visible-xs"></div>
													<i class="fa fa-phone pr-5 pl-10"></i> +90 216 455-1865
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>