<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">Ürünler</a>
						<ul class="dropdown-menu">
							<li><a href="novamini.html"><i class="icon-right-open pr-10"></i>CompecTA Nova Engine Mini</a></li>
							<li><a href="nova.html"><i class="icon-right-open pr-10"></i>CompecTA Nova Engine</a></li>
							<li><a href="supernova.html"><i class="icon-right-open pr-10"></i>CompecTA SuperNova Engine</a></li>
							<li><a href="supernovax.html"><i class="icon-right-open pr-10"></i>CompecTA SuperNova Engine X</a></li>
							<li><a href="dgx-h100.html"><i class="icon-right-open pr-10"></i>NVIDIA<sup>&reg;</sup> DGX H100</a></li>
							<li><a href="dgx-a100.html"><i class="icon-right-open pr-10"></i>NVIDIA<sup>&reg;</sup> DGX A100</a></li>
							<li><a href="dgxstation-a100.html"><i class="icon-right-open pr-10"></i>NVIDIA<sup>&reg;</sup> DGX Station A100</a></li>
							<li><a href="nebula.html"><i class="icon-right-open pr-10"></i>CompecTA Nebula&trade; MD</a></li>
							<li><a href="dgx-1.html"><i class="icon-right-open pr-10"></i>NVIDIA<sup>&reg;</sup> DGX-1</a></li>
							<li><a href="dgxstation.html"><i class="icon-right-open pr-10"></i>NVIDIA<sup>&reg;</sup> DGX Station</a></li>
							<li><a href="feynmangrid.html"><i class="icon-right-open pr-10"></i>FeynmanGrid</a></li>
							<li><a href="feynmanstorz.html"><i class="icon-right-open pr-10"></i>FeynmanStor Z</a></li>
							<li><a href="starterpack.html"><i class="icon-right-open pr-10"></i>YBH Başlangıç Paketi</a></li>
						</ul>
					</li>