<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">Çözümler</a>
						<ul class="dropdown-menu">
							<li><a href="hpc.html"><i class="icon-right-open pr-10"></i>Yüksek Başarımlı Hesaplama</a></li>
							<li><a href="deeplearning.html"><i class="icon-right-open pr-10"></i>Derin Öğrenme</a></li>
							<li><a href="beegfs.html"><i class="icon-right-open pr-10"></i>BeeGFS Dosya Sistemi Çözümleri</a></li>
							<li><a href="rentinmg.html"><i class="icon-right-open pr-10"></i>CompecTA Kiralama Çözümleri</a></li>
							<li><a href="cloud.html"><i class="icon-right-open pr-10"></i>Bulut Hesaplama</a></li>
							<li><a href="virtualization.html"><i class="icon-right-open pr-10"></i>Sanallaştırma & vGPU</a></li>
						</ul>
					</li>